/* =ELEMENTS
--------------------------------------------- */

html {
    /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    font: normal 112.5% / var(--leading) var(--sans);

    @media only screen and (max-width: 480px) {
        font-size: 100%;
    }
}

:where(body, html) {
    background-color: var(--color-bg);
}

body {
    color: var(--color-text);
    padding: 0.25rlh;
    padding-top: calc(var(--inset) * 2);
    padding-bottom: 3rlh;
    font-feature-settings:
		/* Contextual alternates */
        'calt' 1,
        'kern' 1,
        'liga' 1;
    font-variant-ligatures: contextual common-ligatures;
    hanging-punctuation: first;
}

input, textarea {
    hanging-punctuation: none;
}

:target {
    scroll-margin-block: 5ex;
}

:focus-visible {
    outline: 2px solid var(--link-color);
    box-shadow: 0 0 0 4px white;
    border-radius: 0.25em;
}

/* =HEADINGS
--------------------------------------------- */

:where(h1, h2, h3, h4, h5, h6) {
    margin-block-end: 0.5rlh;
    color: var(--color-text-high-contrast);
    font-weight: 600;
}

:is(.f0, .title) {
    font-family: var(--sans);
    font-size: var(--f0);
    letter-spacing: var(--tracking-f0);
}

:where(h1, .f1) {
    font-size: var(--f1);
    letter-spacing: var(--tracking-f1);
}

:where(h2, .f2) {
    font-size: var(--f2);
    letter-spacing: var(--tracking-f2);
}

:where(h3, .f3) {
    font-size: var(--f3);
    letter-spacing: var(--tracking-f3);
}

:where(h4, .f4) {
    font-size: var(--f4);
    letter-spacing: var(--tracking-f4);
}

:where(h5, .f5) {
    font-size: var(--f5);
    letter-spacing: var(--tracking-f5);
}

:where(h6, .f6) {
    font-size: var(--f6);
    letter-spacing: var(--tracking-f6);
}

.f7 {
    font-size: var(--f7);
}

:where(ul, ol) {
    padding-left: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


ul ::marker {
    color: var(--color-faint);
}

ol ::marker {
    color: var(--color-text-detail);
    font-weight: 550;
}

:where(a, .link):not(.btn) {
    color: var(--link-color);
    position: relative;
    text-underline-offset: 3px;

    @media (prefers-color-scheme: dark) {
        text-decoration-color: color-mix(in oklab, var(--neon), transparent 50%);
    }

    &.block {
        text-decoration: none;
        font-weight: unset;
    }

    &:where(:hover, &:hover .link) {
        color: var(--link-color-hover);
        text-decoration-style: wavy;
        text-decoration-thickness: 2px;
        text-decoration-color: var(--link-accent-color);
    }

    &:is(:not(.block):hover, :hover .link) {
        text-decoration: underline;
    }

    &:active {
        top: 1px;
    }

    &.muted {
        text-decoration: none;

        &:hover {
            color: var(--link-color-hover);
        }
    }

    &:is([aria-current='page'] > *):is(:focus-visible, :hover) {
        cursor: default;
        text-decoration: none;
    }

    &.no-link {
        color: inherit;
    }

    &.plain {
        text-decoration: none;
    }
}

:where(p, ul, ol, blockquote, table, figure, pre, details) {
    margin-block-start: 0;
    margin-block-end: 0.5rlh;
}

img {
    max-width: 100%;
    height: auto;
}

:where(pre, code) {
    font-family: var(--mono);
}

:not(pre) > code {
    color: var(--code-color);
    background-color: var(--code-background);
    padding: 0.125rem 0.25rem;
    border-radius: 0.125em;
    font-weight: 500;
    font-size: 0.85em;
}

figcaption {
    color: var(--grey);
    font-family: var(--sans);
}

table {
    --spacing: 0.6em;

    text-align: left;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

tr {
    &:target {
        background-color: var(--color-bg-secondary);
    }

    & > td:first-of-type {
        font-weight: 600;
    }
}

th {
    border-bottom: 3px double var(--grey);
    padding: var(--spacing);
    font-weight: 600;
    position: sticky;
    top: 0;
    background-color: var(--color-bg);
    text-transform: uppercase;
    font-size: var(--f7);
    letter-spacing: 0.05em;
}

td {
    padding: var(--spacing);
    vertical-align: top;
    border-bottom: 1px solid var(--border-color);
}

:where(th, td):first-child {
    padding-left: 0;
}

pre {
    text-align: left;
    line-height: var(--leading);
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    hyphens: none;
    tab-size: 2;
    color: var(--code-color);
    background-color: var(--code-background);
    padding: 0.125rem 0.25rem;
    border-radius: 0.25em;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: none;
    font-size: var(--f5);
    overflow: auto;
    position: relative;

    & .line-highlight {
        --cycle: 27px;
        --color: 112 20% 50%;
        text-decoration: none;
        position: absolute;
        height: calc(var(--rows) * var(--cycle));
        top: calc(var(--top-inset) + (var(--start) - 1) * var(--cycle));
        background-color: hsl(var(--color) / 4%);
        color: hsl(var(--color) / 80%);
        left: 0;
        width: 100%;
        display: block;
        pointer-events: none;
        padding: 0 6px;
        font-size: var(--f7);
    }
}

li > pre {
    margin-top: 0.5rlh;
    margin-bottom: 0.5rlh;
}

/* Syntax highlighting */
code[class*='language-'] {
    display: block;
}

blockquote {
    border-left: 2px solid var(--border-color);
    margin-inline: 0 0;
    padding-left: 0.5rlh;
    color: var(--color-text-high-contrast);
    font-weight: 420;

    & > p {
        margin-bottom: 0.5rlh;
    }

    & footer {
        color: var(--grey);
        margin-top: 1rlh;
    }
}

hr {
    border: 0;
    background-color: var(--border-color);
    height: 1px;
    margin: 1rlh 0;
}

textarea {
    padding: 0.5em;
    border: 1px solid var(--grey);
    border-radius: 0.4em;
    resize: vertical;

    &:focus {
        outline: 0;
        border-color: var(--link-color);
    }
}

:where(details[open], details summary:hover) {
    color: var(--color-text-high-contrast);
}

u {
    text-decoration: underline;
    text-underline-offset: 0.3ex;
    text-decoration-style: wavy;
    text-decoration-color: var(--accent);
}

@media (hover: hover) {
    time[title] {
        text-decoration: underline;
        text-decoration-style: dotted;
        text-underline-offset: .4ex;
        text-decoration-color: var(--color-faint);
        cursor: help;

        &:hover {
            text-decoration-color: var(--color-text-detail);
        }
    }
}
