/* A vertical rhythm grid overlay. */

body {
  position: relative;

  &.grid::after {
    position: absolute;
    width: auto;
    height: auto;
    z-index: 9999;
    content: '';
    display: block;
    pointer-events: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 4 29"><style type="text/css">.line {--color: hsl(320 90% 45%);stroke: var(--color);y1: var(--lineheight);y2: var(--lineheight);}@media only screen and (prefers-color-scheme: dark) {.line {--color: rgb(255 255 255 / .8);}}</style><line class="line" x1="0" x2="4" /></svg>');
    background-size: 4px var(--lineheight);
  }
}
