.home {
    main {
        &.stack {
            --spacing: 3rlh;
        }
        
        article h1 {
            height: 3rlh;
            margin: 0;
        }

        section {
            > header {
                margin-block-end: calc(var(--spacing-base));
                padding-block-end: calc(var(--spacing-base) / 4);
                border-block-end: 1px solid var(--border-color);

                h1 {
                    font-size: var(--f2);
                    margin-bottom: 0;
                }
            }
        }
    }

    .item-grid {
        li {
            display: grid;
            grid-template-columns: 1fr 30%;
            column-gap: 0.5rlh;

             > * {
                 white-space: nowrap;
                 overflow: hidden;
                 text-overflow: ellipsis;
             }
        }
    }
    
    /* TODO Why no nesting? */
    .item-grid--equal {
        li {
            grid-template-columns: 40% 0.75fr 0.75fr;
        }
    }
}
