.Content {
    max-width: var(--content-width);
    margin: 0 auto;

    &.wide {
        --content-width: var(--measure-wide);
    }

    @media screen and (min-width: 1216px) {
        html & {
            max-width: none;
            display: grid;
            place-content: center;
            grid-template-columns: var(--content-width) 110px;
            gap: var(--spacing-extra-large);
        }
    }
}
