.NavList {
    li:where([aria-current='page'])::after {
        content: '⇠';
        display: inline;
        margin-left: 0.25em;
        white-space: nowrap;
        color: var(--color-text-detail);
    }

    a {
        color: var(--color-text);
        white-space: nowrap;
        text-decoration: none;
        font-weight: normal;
        position: revert;

        &:is(:hover, :focus-visible):not(:is([aria-current='page'] > *)) {
            color: var(--link-color-hover);
            text-decoration: underline;
        }

        &:not([aria-current='page'] > &):not(&:hover):not(&:focus-visible) {
            opacity: 0.8;
        }
    }

    [aria-current='page'] {
        position: relative;

        a {
            font-weight: 600;
            color: var(--color-text-high-contrast);
        }
    }
}

.MainNav {
    position: relative;
    z-index: 2;

    & .sticky {
        position: sticky;
        top: 0;
    }

    h1 {
        --offset-top: 18px;
        line-height: calc(var(--lineheight) * 3);
        margin-bottom: -4px;
        padding-top: var(--offset-top);

        > a {
            font-weight: 500;
            color: var(--color-text);
            white-space: nowrap;
            text-decoration: none;
        }
    }
}

.BackLink {
    text-decoration: none;
    color: var(--color-text);
    background-color: var(--color-bg-secondary);
    width: 1.6em;
    text-align: center;
    line-height: 1.6em;
    aspect-ratio: 1/1;
    display: inline-block;
    border-radius: 4em;
    opacity: 0.8;

    a:is(:hover, :focus) > & {
        opacity: 1;
    }
}

.MobileNav {
    display: none;
    margin-block-end: 2lh;

    .MobileNav__Home {
        font-weight: 500;
    }

    .NavList {
        li:where([aria-current='page'])::after {
            display: none;
        }
    }

    details {
        margin: 0;
        position: absolute;
        z-index: 10;
        top: 0;
        right: 0;
        text-align: right;

        > ul {
            box-shadow: color-mix(in oklab, var(--color-bg) 50%, black 20%) -10px 10px 30px;
            background-color: var(--color-bg);
            padding: 0.25lh 10px;
            margin-right: -10px;
            margin-top: 0.25lh;
            border-radius: 6px;
            font-size: 1.2em;
            line-height: 2;

            li {
                padding-left: 3rem;

                &:not(:last-child) {
                    border-bottom: 1px solid var(--border-color);
                }
            }
        }
    }

    summary {
        color: var(--color-text-detail);
        white-space: nowrap;

        &:is(:hover, details[open] > *) {
            color: var(--color-text);
        }
    }
}

@media only screen and (max-width: 1215px) {
    .MainNav {
        display: none;
    }
    .MobileNav {
        display: flex;
        justify-content: space-between;
    }
}
