.MainNav {
    position: relative;
    z-index: 2;

    & .sticky {
        position: sticky;
        top: 0;
    }

    & h1 > a {
        font-weight: 500;
        color: var(--color-text);
        white-space: nowrap;
        text-decoration: none;
    }

    & a {
        color: var(--color-text);
        white-space: nowrap;
        text-decoration: none;

        &:is(:hover, :focus-visible):not(:is([aria-current='page'] > *)) {
            color: var(--link-color-hover);
            text-decoration: underline;
        }
    }

    & ul {
        & li:where([aria-current='page'])::after {
            content: '⇠';
            display: inline;
            margin-left: 0.25em;
            white-space: nowrap;
            color: var(--color-text-detail);
        }

        & a {
            font-weight: normal;
            position: revert;

            &:not([aria-current='page'] > &):not(&:hover):not(&:focus-visible) {
                opacity: 0.8;
            }
        }

        & [aria-current='page'] {
            position: relative;

            & a {
                font-weight: 600;
                color: var(--color-text-high-contrast);
            }
        }
    }

    & h1 {
        --offset-top: 18px;
        line-height: calc(var(--lineheight) * 3);
        margin-bottom: -4px;
        padding-top: var(--offset-top);
    }
}

.BackLink {
    text-decoration: none;
    color: var(--color-text);
    background-color: var(--color-bg-secondary);
    width: 1.6em;
    text-align: center;
    line-height: 1.6em;
    aspect-ratio: 1/1;
    display: inline-block;
    border-radius: 4em;
    opacity: 0.8;

    a:is(:hover, :focus) > & {
        opacity: 1;
    }
}

.MobileNav {
    display: none;
    margin-block-end: 2lh;

    a:first-of-type {
        font-weight: 450;
    }
}

@media only screen and (max-width: 1215px) {
    .MainNav {
        display: none;
    }
    .MobileNav {
        display: block;
    }
}
