.NavList {
    li:where([aria-current='page']) {
        position: relative;

        a {
            color: var(--color-text-high-contrast);
        }

        &::after {
            content: '⇠';
            display: inline;
            margin-left: 0.25em;
            white-space: nowrap;
            color: var(--neon);
        }
    }

    a {
        color: var(--color-text);
        white-space: nowrap;
        text-decoration: none;
        position: revert;

        &:is(:hover, :focus-visible):not(:is([aria-current='page'] > *)) {
            color: var(--link-color-hover);
            text-decoration: underline;
        }
    }
}

.MainNav {
    position: relative;
    z-index: 2;

    & .sticky {
        position: sticky;
        top: 1rlh;
    }

    h1 {
        height: 2rlh;
        display: grid;
        align-content: end;
        margin-block-end: 1rlh;
        line-height: 1rlh;
        font-weight: 480;
        
        .BackLink {
            position: absolute; /* Don't take up vertical space */
        }

        > a {
            color: var(--color-text);
            white-space: nowrap;
            text-decoration: none;
        }
    }
}

.BackLink {
    text-decoration: none;
    color: var(--color-text);
    background-color: var(--color-bg-secondary);
    width: 1.6em;
    text-align: center;
    line-height: 1.6em;
    aspect-ratio: 1/1;
    display: inline-block;
    border-radius: 4em;
    opacity: 0.8;

    a:is(:hover, :focus) > & {
        opacity: 1;
    }
}

.MobileNav {
    display: none;
    margin-block-end: 1rlh;

    .MobileNav__Home {
        font-weight: 500;
    }

    .NavList {
        li:where([aria-current='page'])::after {
            display: none;
        }
    }

    details {
        margin: 0;
        position: absolute;
        z-index: 10;
        top: 0;
        right: 0;

        > ul {
            box-shadow: color-mix(in oklab, var(--color-bg) 50%, black 20%) -10px 10px 30px;
            background-color: var(--color-bg);
            padding: 0.25lh 10px;
            margin-right: -10px;
            margin-top: 0.25lh;
            border-radius: 8px;
            font-size: 1.1rem;
            line-height: 2;

            li {
                padding-inline-end: 3rem;

                &:not(:last-child) {
                    border-bottom: 1px solid var(--border-color);
                }
            }
        }
    }

    summary {
        text-align: end;
        white-space: nowrap;
    }
}

@media only screen and (max-width: 959px) {
    .MainNav {
        display: none;
    }
    .MobileNav {
        display: flex;
        justify-content: space-between;
    }
}
