.Note {
    header h1 a {
        color: var(--color-text-high-contrast);

        &:hover span {
            color: var(--link-accent-color);
        }
    }

    .prose {
        h1 {
            font-size: var(--f3);
        }

        :where(h2, h3, h4, h5, h6) {
            font-size: var(--f4);
        }
    }
}

.NotesList {
    & > li:not(:last-child) {
        margin-bottom: 4rlh;
    }

    & > li:has(:target)::after {
        border-color: var(--neon);
    }
}
