/*
POSTS LIST
----------------------------------------------------------------*/

:where(ol, ul):has(.PostItem) {
    display: grid;
    row-gap: 0.25rlh;
}

.PostItem {
    display: grid;
    grid-template-columns: 1fr min-content;
    column-gap: 0.5rlh;

    > * {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    a:first-child:not(:hover) {
        text-decoration: none;
    }

    time {
        font-size: var(--f5);
        font-variant-numeric: tabular-nums;

        &:not(.PostItem:hover &) {
            color: var(--color-text-detail);
        }
    }

    @media screen and (max-width: 480px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0;
    }
}
