/*
PROSE
----------------------------------------------------------------*/

.prose {

    :where(h1, h2, h3, h4, h5, h6) {
        font-family: var(--serif);
    }

    h1 {
        border-bottom: 1px solid var(--border-color);
        padding-bottom: 0.25lh;
    }

    * + h1 {
        margin-top: 1lh;
    }

    & > :last-child {
        margin-bottom: 0;
    }

    & img,
    & iframe,
    & figure,
    & svg {
        --side-margin: 2rlh;
        margin: var(--side-margin) auto;
        display: block;

        @media screen and (max-width: 480px) {
            --side-margin: 1rlh;
        }
    }

    @media screen and (prefers-color-scheme: dark) {
        & img {
            opacity: 0.9;
            box-shadow: rgba(0, 0, 0, 0.3) 0 0 6px;
        }
    }

    :where(ul, ol) {
        padding-left: 0.5rlh;
        margin-left: 0.5rlh;

        :where(li > ul, li > ol) {
            padding-left: 1.5rem;
            margin-bottom: 0;
        }
    }

    & figcaption {
        padding: 1rem 0;
        text-align: center;
        font-family: var(--sans);
        font-size: 0.9em;
    }

    /* Break links and code */
    & code:not(pre > code),
    & a {
        word-break: break-word;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    pre {
        font-size: var(--f6);
    }

    & figure.image--full {
        margin: 2rlh -14vw;

        & img {
            display: block;
            margin: 0 auto;
        }

        @media screen and (max-width: 960px) {
            /* Edge-to-edge pixelfucking. */
            margin-left: auto;
            margin-right: auto;
        }
    }

    details summary + pre {
        margin-block-start: 0.5lh;
    }
}
