<footer role="contentinfo">
  <nav role="navigation" class="FooterNav">
    <ul class="FooterNav__Primary">
      <li class="{% if page.fileSlug == 'index' %}nav--current{% endif %}"><a href="/" title="Start">Intro</a></li>
      <li class="{% if page.fileSlug == 'writings' or tags == 'posts'  %}nav--current{% endif %}"><a href="/writings" title="Posts and essays">Writings</a></li>
      <li class="{% if page.fileSlug == 'about' %}nav--current{% endif %}"><a href="/about">About me</a></li>
      <li class="{% if page.fileSlug == 'now' %}nav--current{% endif %}"><a href="/now" title="What I'm doing with my life">Now</a></li>
      <li class="{% if page.fileSlug == 'contact' %}nav--current{% endif %}"><a href="/contact" title="Contact and stuff">On the web</a></li>
      <li class="{% if page.fileSlug == 'changelog' %}nav--current{% endif %}"><a href="/changelog" title="What's happened in my life so far">Changelog</a></li>
    </ul>

    {% include "secondary-footer-nav.njk" %}
  </nav>
</footer>
