<footer role="contentinfo">
  <nav role="navigation" class="FooterNav">
    <ul class="FooterNav__Primary">
      <li class="{% if page.fileSlug == 'index' %}nav--current{% endif %}"><a href="/" title="Start">Intro</a></li>
      <li class="{% if page.fileSlug == 'writings' or tags == 'posts'  %}nav--current{% endif %}"><a href="/writings" title="Posts and essays">Writings</a></li>
      <li class="{% if page.fileSlug == 'about' %}nav--current{% endif %}"><a href="/about">About me</a></li>
      <li class="{% if page.fileSlug == 'now' %}nav--current{% endif %}"><a href="/now" title="What I'm doing with my life">Now</a></li>
      <li class="{% if page.fileSlug == 'mind' %}nav--current{% endif %}"><a href="/mind">On my mind</a></li>
      <li class="{% if page.fileSlug == 'reading' %}nav--current{% endif %}"><a href="/reading">Reading</a></li>
      <li class="{% if page.fileSlug == 'contact' %}nav--current{% endif %}"><a href="/contact" title="Contact and stuff">On the web</a></li>
    </ul>

    {% include "secondary-footer-nav.njk" %}
  </nav>

  <ul class="flex justify-center f6 list-reset">
    <li class="muted">
      <a class="font-mono" href="https://github.com/{{ meta.repo }}/commit/{{ build.hash }}">{{ build.hash | substr(7) }}</a> on <time>{{build.date}}</time>
    </li>
  </ul>
</footer>
