<footer role="contentinfo" class="pv6 tilted tilted--top mt4">
  <nav role="navigation" class="footer-nav">
    <ul class="primary-footer-nav mb3">
      <li><a href="/writings" title="Posts and essays">Writings</a></li>
      <li><a href="/now" title="What I'm doing with my life">Now</a></li>
      <li><a href="/contact" title="Contact and stuff">On the web</a></li>
      <li><a href="/changelog" title="What's happened in my life so far">Changelog</a></li>
    </ul>

    {% include "secondary-footer-nav.njk" %}
  </nav>
</footer>
