<nav role="navigation" class="TopNav" name="top">
  <ul>
    <li class="{% if page.fileSlug == 'index' %}nav--current{% endif %}">
      <a href="/">Intro</a>
    </li>
    <li class="{% if page.fileSlug == 'writings' or tags == 'posts' %}nav--current{% endif %}">
      <a href="/writings">Writings</a>
    </li>
    <li class="{% if page.fileSlug == 'now' %}nav--current{% endif %}">
      <a href="/now">Now</a>
    </li>
  </ul>
</nav>

<a href="#top" class="mobile-nav-trigger" data-show-nav>
  {{ icon("list") }} Navigation
</a>
