<nav role="navigation" class="main-navigation" name="top">
  <ul class="navigation__primary">
    <li class="{% if slug == 'home' %}nav--current{% endif %}">
      <a href="/">Intro</a>
    </li>
    <li class="{% if page.fileSlug == 'now' %}nav--current{% endif %}">
      <a href="/now">Now</a>
    </li>
    <li class="{% if page.fileSlug == 'writings' or tags == 'posts' %}nav--current{% endif %}">
      <a href="/writings">Writings</a>
    </li>
    <li class="{% if page.fileSlug == 'changelog' %}nav--current{% endif %}">
      <a href="/changelog">Changelog</a>
    </li>
  </ul>
</nav>

<a href="#top" class="mobile-nav-trigger" data-show-nav>
  {{ icon("list") }} Navigation
</a>
