<ul class="FooterNav__Secondary mb3">
  <li class="{% if page.fileSlug == 'credits' %}nav--current{% endif %}"><a href="/credits" title="Licenses and stuff.">Credits</a></li>
  <li><a href="/feed.xml">Feed</a></li>
</ul>
<ul class="FooterNav__Secondary">
  <li title="Built at {{build.date}}" class="font-mono faded">{{ build.hash | substr(7) }}</li>
</ul>
