<nav role="navigation" class="SideNav">
  <h1 class="f3">
    <a href="/">Johan Brook</a>
  </h1>
  <ul>
    <li class="{% if page.fileSlug == 'writings' or tags == 'posts' %}nav--current{% endif %}">
      <a href="/writings">Writings</a>
    </li>
    <li class="{% if page.fileSlug == 'now' %}nav--current{% endif %}">
      <a href="/now">Now</a>
    </li>
    <li class="{% if page.fileSlug == 'mind' %}nav--current{% endif %}">
      <a href="/mind">On my mind</a>
    </li>
    <li class="{% if page.fileSlug == 'about' %}nav--current{% endif %}">
      <a href="/about">About me</a>
    </li>
    <li class="{% if page.fileSlug == 'contact' %}nav--current{% endif %}">
      <a href="/contact" title="Contact and stuff">On the web</a>
    </li>
    <li class="{% if page.fileSlug == 'changelog' %}nav--current{% endif %}">
      <a href="/changelog" title="What's happened in my life so far">Changelog</a>
    </li>
    <li class="{% if page.fileSlug == 'credits' %}nav--current{% endif %}">
      <a href="/credits" title="Licenses and stuff.">Credits</a>
    </li>
    <li>
      <a href="/feed.xml">Feed</a>
    </li>
  </ul>
</nav>
