<footer role="contentinfo">
  <nav>
    <ul>
        {% if not home %}<li><a href="/">Home</a></li>{% endif %}
        <li><a href="/feed.xml" title="Atom">Post feed</a></li>
        <li><a href="/micro.xml" title="Atom">Micro feed</a></li>
        <li><a href="/reading.xml" title="Atom">Reading feed</a></li>
    </ul>
  </nav>
</footer>
