<ul>
  {%- for entry in search.pages("menu.visible=true", "menu.order") %}
    <li {% if entry.data.url == url %} aria-current="page"{% endif %}>
      <a href="{{ entry.data.url }}">{{ entry.data.menu.title or entry.data.title }}</a>
    </li>
  {%- endfor %}
</ul>
