<nav role="navigation" class="MainNav">
	<div class="sticky">
		<h1 class="f4 sr-only-mobile">
			<a href="/" aria-label="Home">
				<span>Johan Brook</span><span aria-hidden="true" class="BackLink ml2">←</span>
			</a>
		</h1>

		<ul>
           	<li class="only-mobile" {% if "/" | isCurrentPage %} aria-current="page"{% endif %}>
          		<a href="/">Home</a>
           	</li>
           	{%- for entry in search.pages("menu.visible=true", "menu.order") %}
          		<li {% if entry.data.url | isCurrentPage %} aria-current="page"{% endif %}>
         			<a href="{{ entry.data.url }}">{{ entry.data.menu.title or entry.data.title }}</a>
          		</li>
           	{%- endfor %}
        </ul>
	</div>
</nav>
