<nav role="navigation" class="MainNav">
	<h1 class="f4">
		<a href="/" aria-label="Home">
			<span>Johan Brook</span><span aria-hidden="true" class="BackLink ml2">←</span>
		</a>
	</h1>

	{% include "nav-common.njk" %}
</nav>
