<nav role="navigation" class="MainNav">
	<h1 class="f4">
		<a href="/" aria-label="Home">
			<span aria-hidden="true" class="BackLink mr2">←</span><span>Johan Brook</span>
		</a>
	</h1>

	{% include "nav-common.njk" %}
</nav>
