<footer class="PageNav">
    <p>
      {% if pagination.previous %}
        <a rel="prev" href="{{ pagination.previous }}">← Newer</a>
        <span class="separator">/ </span>
      {% endif %}

      <span class="separator">Page {{ pagination.page }} of {{ pagination.totalPages }} </span>

      {% if pagination.next %}
        <span class="separator"> /</span>
        <a rel="next" href="{{ pagination.next }}">Older →</a>
      {% endif %}
    </p>

</footer>
