<ul class="FooterNav__Secondary mb3">
  <li class="{% if page.fileSlug == 'changelog' %}nav--current{% endif %}"><a href="/changelog" title="What's happened in my life so far">Changelog</a></li>
  <li class="{% if page.fileSlug == 'credits' %}nav--current{% endif %}"><a href="/credits" title="Licenses and stuff.">Credits</a></li>
  <li><a href="/feed.xml">Feed</a></li>
</ul>
