// Colooours

.comp-black {
  color: #000;
}

.comp-red {
  color: $comp-red;
}

.comp-blue {
  color: $comp-blue;
}

.comp-purple {
  color: $comp-purple;
}

.comp-neon {
  color: $comp-neon;
}

.comp-teal-l {
  color: $comp-teal-light;
}

.comp-orange {
  color: $comp-orange;
}

.comp-cerise {
  color: $comp-cerise;
}

.comp-green {
  color: $comp-green;
}

.comp-blue {
  color: $comp-blue;
}

.muted {
  color: $grey;
}

.faded {
  color: $grey-light;
}
