/*
FONT FAMILY
------------------------------------------------------------ */

.sans {
  font-family: $sans;
}

.serif {
  font-family: $serif;
}

.system-sans-serif {
  font-family: sans-serif;
}

.system-serif {
  font-family: serif;
}

/* Monospaced Typefaces (for code) */

.code {
  font-family: $mono;
}
