/*
LETTER SPACING
------------------------------------------------------------ */

.tracked {
  letter-spacing: 0.1em;
}
.tracked-tight {
  letter-spacing: -0.05em;
}
.tracked-mega {
  letter-spacing: 0.25em;
}

.tracked-tight-some {
  letter-spacing: -1px;
}
