.article-text {
  img,
  iframe,
  figure,
  svg {
    margin: $lineheight * 2 auto;
    display: block;
  }

  figcaption {
    padding: 1rem 0;
    text-align: center;
    font-family: $sans;
    font-size: 0.9em;
  }

  h2,
  h3 {
    margin-top: $lineheight * 2;
  }

  li {
    margin-bottom: $lineheight / 4;
  }

  pre {
    @include larger-than(800px) {
      margin-left: -$lineheight * 4;
      margin-right: -$lineheight * 4;
      padding-left: $lineheight * 2;
    }
  }

  .ingress strong,
  p:first-child strong {
    color: $text-color;
    font-family: $sans;
    font-weight: 900;
    font-size: 1.2em;
  }
}
