/*
TYPOGRAPHY
------------------------------------------------------------ */

/* Measure is limited to ~66 characters */
.measure {
  max-width: $measure;
}

/* Measure is limited to ~80 characters */
.measure-wide {
  max-width: $measure-wide;
}

/* Measure is limited to ~45 characters */
.measure-narrow {
  max-width: $measure-narrow;
}

/* Book paragraph style - paragraphs are indented with no vertical spacing. */
.indent {
  text-indent: 1em;
  margin-top: 0;
  margin-bottom: 0;
}

.small-caps {
  font-variant: small-caps;
}

/* Combine this class with a width to truncate text (or just leave as is to truncate at width of containing element. */

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
