{
  "parser": "babel-eslint",

  "env": {
    "es6": true,
    "node": true
  },

  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": false,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": false,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "restParams": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true
  },

  "rules": {
    "semi": [2, "always"],
    "brace-style": [2, "1tbs", { "allowSingleLine": true }],
    "strict": 0,
    "quotes": [2, "single"],
    "no-underscore-dangle": 0,
    "curly": 0,
    "no-debugger": 1,
    "no-multi-spaces": 0,
    "no-unused-expressions": 0
  }

}
