{
  "extends": "stylelint-config-recommended",

  "rules": {
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": ["extends", "tailwind", "screen", "apply", "mixin", "define-mixin", "variants"]
      }
    ]
  }
}
