/* Styles for Johan Brook.com

Built for IE6, made in Dreamweaver.

Just kidding.
--------------------------------------------- */

@layer setup;

@layer setup{

/*  From:
    https://github.com/mayank99/reset.css/blob/main/package/index.css
    https://piccalil.li/blog/a-more-modern-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

:where([hidden]:not([hidden='until-found'])) {
    display: none !important;
}

:where(html) {
    -webkit-text-size-adjust: none;
    color-scheme: dark light;
    -moz-tab-size: 2;
      -o-tab-size: 2;
         tab-size: 2;
}

@media (prefers-reduced-motion: no-preference) {
    :where(html:focus-within) {
        scroll-behavior: smooth;
    }
}

:where(body) {
    line-height: 1.5;
    font-family: system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
}

:where(h1, h2, h3, h4, button, input, label) {
    line-height: 1.1;
}

:where(input, button, textarea, select) {
    font: inherit;
    color: inherit;
}

:where(textarea) {
    resize: vertical;
    resize: block;
}

:where(button, label, select, summary, [role='button'], [role='option']) {
    cursor: pointer;
}

:where(:disabled) {
    cursor: not-allowed;
}

:where(label:has(> input:disabled), label:has(+ input:disabled)) {
    cursor: not-allowed;
}

:where(a) {
    color: inherit;
    text-underline-offset: 0.2ex;
}

:where(ul[role='list'], ol[role='list']) {
    list-style: none;
}

:where(img, svg, video, canvas, audio, iframe, embed, object) {
    display: block;
    vertical-align: middle;
}

:where(img, picture, svg, video) {
    max-inline-size: 100%;
    block-size: auto;
}

:where(p, h1, h2, h3, h4, h5, h6) {
    overflow-wrap: break-word;
}

:where(h1, h2, h3, h4) {
    text-wrap: balance;
}

:where(hr) {
    border: none;
    border-block-start: 1px solid;
    color: inherit;
    block-size: 0;
    overflow: visible;
}

:where(:focus-visible) {
    outline: 3px solid CanvasText;
    box-shadow: 0 0 0 5px Canvas;
    outline-offset: 1px;
}

:where(:focus-visible, :target) {
    scroll-margin-block: 8vh;
}

:where(.visually-hidden:not(:focus-within, :active)) {
    -webkit-clip-path: inset(50%) !important;
            clip-path: inset(50%) !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden !important;
    position: absolute !important;
    white-space: nowrap !important;
    border: 0 !important;
}

:where(progress) {
    vertical-align: baseline;
}

:where(legend) {
    padding: 0;
}

::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

:-moz-focusring {
    outline: auto;
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/

:where(button, select) {
    text-transform: none;
}

:where(table) {
    border-collapse: collapse;
}

:where(body, h1, h2, h3, h4, p, figure, blockquote, dl, dd) {
    margin-block-start: 0;
    margin-block-end: 0;
}

:where(textarea:not([rows])) {
    min-height: 10em;
}
}

@layer setup{
:root {
    /* Colors */

    --mood: oklch(68% 0.155 47.65);

    --light: color-mix(in oklab, var(--mood) 8%, oklch(84% 0 0));
    --dark: color-mix(in oklab, var(--mood) 4%, oklch(16% 0 0));

    --neon: hsl(145 56% 57%);
    --yellow: hsl(50 93% 56%);
    --grey: hsl(214.51 7.24% 47.56%);
    --grey-light: hsl(173 7% 36% / 0.5);
    --grey-lightest: hsl(173 7% 93%);

    /* Background vars, ordered from high contrast -> subtle */
    --color-bg: #fff;
    --color-bg-secondary: hsl(240 59.76% 96.52%);

    /* Foreground vars, order from high contrast -> subtle */
    --color-text: hsl(0 0% 16%);
    --color-text-high-contrast: black;
    --color-text-detail: color-mix(in oklab, var(--mood) 10%, black 50%);
    --color-faint: color-mix(in oklab, var(--mood) 10%, black 20%);

    --link-color: var(--color-text-high-contrast);
    --link-color-hover: var(--color-text-high-contrast);
    --link-color-visited: hsl(266 100% 44%);

    --border-color: color-mix(in oklab, var(--mood) 3%, black 3%);

    --btn-color: var(--color-text);
    --btn-bg: var(--color-bg-secondary);
    --btn-bg-hover: hsl(240 59.76% 95.52%);

    --focus-color: hsl(201.43, 100%, 37.25%);

    --pre-background: var(--color-bg-secondary);
    --code-background: rgb(0 0 0 / 2%);
    --code-color: rgb(120 94 0);

    /* Typography */

    --sans: system-ui, sans-serif;
    --mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    --serif: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;

    --leading: 1.618;

    --tracking: -0.014em;
    --tracking-f0: -0.022em;
    --tracking-f1: -0.021em;
    --tracking-f2: -0.02em;
    --tracking-f3: -0.018em;
    --tracking-f4: -0.014em;
    --tracking-f5: -0.009em;
    --tracking-f6: -0.0025em;

    /* @link https://utopia.fyi/type/calculator?c=320,16,1.125,653,18,1.125,4,3,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

    --fluid-32-42: clamp(32px, 22.3904px + 3.003vi, 42px);

    --f0: var(--fluid-32-42);
    --f1: var(--step-3);
    --f2: var(--step-2);
    --f3: var(--step-1);
    --f4: var(--step-0);
    --f5: var(--step--1);
    --f6: var(--step--2);
    --f7: var(--step--3);

    /* Measures */

    --inset: 0.5rlh;

    --measure: 60ch;
    --measure-narrow: 45ch;
    --measure-wide: 100ch;

    --content-width: var(--measure);

    --spacing-base: 1rlh;

    --spacing-none: 0;
    --spacing-extra-small: calc(var(--spacing-base) / 5);
    --spacing-small: calc(var(--spacing-base) / 2);
    --spacing-medium: var(--spacing-base);
    --spacing-large: calc(var(--spacing-base) * 2);
    --spacing-extra-large: calc(var(--spacing-base) * 3);
    --spacing-extra-extra-large: calc(var(--spacing-base) * 4);
    --spacing-extra-extra-extra-large: calc(var(--spacing-base) * 6);
}

    @media screen and (prefers-color-scheme: dark) {
:root {
        --yellow: #c3a507;
        --grey: hsl(214.51, 6.64%, 61.44%);

        --color-bg: var(--dark);
        --color-bg-secondary: color-mix(in oklab, var(--mood) 1%, white 4%);
        --color-text: var(--light);
        --color-text-high-contrast: color-mix(in oklab, var(--mood) 6%, oklch(95% 0 0));
        --color-text-detail: color-mix(in oklab, var(--mood) 10%, white 50%);
        --color-faint: color-mix(in oklab, var(--mood) 10%, white 20%);

        --border-color: color-mix(in oklab, var(--mood) 3%, white 3%);

        --link-color-visited: #7a8be5;
        --code-color: rgb(236 216 142);
        --code-background: rgb(255 255 255 / 2%);

        --btn-bg-hover: color-mix(in oklab, var(--mood) 5%, white 8%);
}
    }
:root {--step-3: clamp(1.4238rem, 0.924rem + 2.4993vi, 1.944rem);--step-2: clamp(1.2656rem, 0.9251rem + 1.7027vi, 1.62rem);--step-1: clamp(1.125rem, 0.9088rem + 1.0811vi, 1.35rem);--step-0: clamp(1rem, 0.8799rem + 0.6006vi, 1.125rem);--step--1: clamp(0.8889rem, 0.8422rem + 0.2336vi, 0.9375rem);--step--2: clamp(0.7813rem, 0.7987rem + -0.0426vi, 0.7901rem);--step--3: clamp(0.651rem, 0.7516rem + -0.2464vi, 0.7023rem);
}
}

/* =ELEMENTS
--------------------------------------------- */

html {
    /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    font: normal 112.5% / var(--leading) var(--sans);
}

@media only screen and (max-width: 480px) {

html {
        font-size: 100%;
}
    }

:where(body, html) {
    background-color: var(--color-bg);
}

body {
    color: var(--color-text);
    padding: 0.25rlh;
    padding-top: calc(var(--inset) * 2);
    padding-bottom: 3rlh;
    font-feature-settings:
		/* Contextual alternates */
        'calt' 1,
        'kern' 1,
        'liga' 1;
    font-variant-ligatures: contextual common-ligatures;
}

:target {
    scroll-margin-block: 5ex;
}

:focus-visible {
    outline: 2px solid var(--link-color);
    box-shadow: 0 0 0 4px white;
    border-radius: 0.25em;
}

/* =HEADINGS
--------------------------------------------- */

:where(h1, h2, h3, h4, h5, h6) {
    margin-block-end: 0;
    margin-bottom: 0.5rlh;
    color: var(--color-text-high-contrast);
    font-family: var(--serif);
}

:is(.f0, .title) {
    font-size: var(--f0);
    letter-spacing: var(--tracking-f0);
    line-height: calc(var(--leading) * 0.75);
}

:where(h1, .f1) {
    font-size: var(--f1);
    letter-spacing: var(--tracking-f1);
}

:where(h2, .f2) {
    font-size: var(--f2);
    letter-spacing: var(--tracking-f2);
}

:where(h3, .f3) {
    font-size: var(--f3);
    letter-spacing: var(--tracking-f3);
}

:where(h4, .f4) {
    font-size: var(--f4);
    letter-spacing: var(--tracking-f4);
}

:where(h5, .f5) {
    font-size: var(--f5);
    letter-spacing: var(--tracking-f5);
}

:where(h6, .f6) {
    font-size: var(--f6);
    letter-spacing: var(--tracking-f6);
}

.f7 {
    font-size: var(--f7);
}

:where(ul, ol) {
    padding-left: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

:is(ul, ol) ::marker {
        color: var(--color-faint);
    }

:is(ul, ol):where(ul) ::marker {
            font-size: 1.2em;
        }

:is(a, .link) {
    color: var(--link-color);
    position: relative;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
    text-decoration-color: hotpink;
}

.block:is(a, .link) {
        text-decoration: none;
        font-weight: unset;
    }

:is(a, .link):where(:hover,:is(a, .link):hover .link) {
        color: var(--link-color-hover);
        text-decoration-style: wavy;
    }

:is(a, .link):is(:not(.block):hover, :hover .link) {
        text-decoration: underline;
    }

:is(a, .link):active {
        top: 1px;
    }

.muted:is(a, .link) {
        text-decoration: none;
    }

.muted:is(a, .link):hover {
            color: var(--link-color-hover);
        }

:is(a, .link):is([aria-current='page'] > *):is(:focus-visible, :hover) {
        cursor: default;
        text-decoration: none;
    }

.no-link:is(a, .link) {
        color: inherit;
    }

.plain:is(a, .link) {
        text-decoration: none;
    }

:where(p, ul, ol, blockquote, table, figure, pre, details) {
    margin-block-end: 0.5rlh;
}

img {
    max-width: 100%;
    height: auto;
}

:where(pre, code) {
    font-family: var(--mono);
}

:not(pre) > code {
    color: var(--code-color);
    background-color: var(--code-background);
    padding: 0.125rem 0.25rem;
    border-radius: 0.125em;
    font-weight: 500;
    font-size: 0.85em;
}

figcaption {
    color: var(--grey);
}

table {
    --spacing: 0.6em;

    text-align: left;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

tr:target {
        background-color: var(--color-bg-secondary);
    }

tr > td:first-of-type {
        font-weight: bold;
    }

th {
    border-bottom: 3px double var(--grey);
    padding: var(--spacing);
    font-weight: bold;
    position: sticky;
    top: 0;
    background-color: var(--color-bg);
    text-transform: uppercase;
    font-size: var(--f6);
    letter-spacing: 0.05em;
    font-family: var(--sans);
}

td {
    padding: var(--spacing);
    vertical-align: top;
    border-bottom: 1px solid var(--border-color);
}

:where(th, td):first-child {
    padding-left: 0;
}

pre {
    text-align: left;
    line-height: var(--leading);
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    -webkit-hyphens: none;
            hyphens: none;
    -moz-tab-size: 2;
      -o-tab-size: 2;
         tab-size: 2;
    color: var(--code-color);
    background-color: var(--code-background);
    padding: 0.125rem 0.25rem;
    border-radius: 0.25em;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: none;
    font-size: var(--f5);
    overflow: auto;
    position: relative;
}

pre .line-highlight {
        --cycle: 27px;
        --color: 112 20% 50%;
        text-decoration: none;
        position: absolute;
        height: calc(var(--rows) * var(--cycle));
        top: calc(var(--top-inset) + (var(--start) - 1) * var(--cycle));
        background-color: hsl(var(--color) / 4%);
        color: hsl(var(--color) / 80%);
        left: 0;
        width: 100%;
        display: block;
        pointer-events: none;
        padding: 0 6px;
        font-size: var(--f7);
    }

li > pre {
    margin-top: 0.5rlh;
    margin-bottom: 0.5rlh;
}

/* Syntax highlighting */

code[class*='language-'] {
    display: block;
}

blockquote {
    border-left: 2px solid var(--grey-light);
    margin: 2rlh 2rem 2rlh 0;
    padding-left: 1rem;
    padding-right: 1rem;
    color: var(--color-text-high-contrast);
}

blockquote > p {
        margin-bottom: 0.5rlh;
    }

blockquote footer {
        color: var(--grey);
        margin-top: 1rlh;
    }

hr {
    border: 0;
    background-color: var(--border-color);
    height: 1px;
    margin: 1rlh 0;
}

textarea {
    padding: 0.5em;
    border: 1px solid var(--grey);
    border-radius: 0.4em;
    resize: vertical;
}

textarea:focus {
        outline: 0;
        border-color: var(--link-color);
    }

:where(details[open], details summary:hover) {
    color: var(--color-text-high-contrast);
}

u {
    text-decoration: underline;
    text-underline-offset: 0.6ex;
    text-decoration-style: wavy;
    text-decoration-color: var(--neon);
}

.Content {
    max-width: var(--content-width);
    margin: 0 auto;
}

.Content.wide {
        --content-width: var(--measure-wide);
    }

@media screen and (min-width: 1216px) {
        html .Content {
            max-width: none;
            display: grid;
            place-content: center;
            grid-template-columns: var(--content-width) auto;
            gap: var(--spacing-extra-large);
        }
    }

.Page header h1:has(+ .subhead) {
        margin-bottom: 0;
    }

.Note header h1 a {
        color: var(--color-text-high-contrast);
    }

.Note header h1 a:hover span {
            color: hotpink;
        }

.NotesList > li:not(:last-child) {
        margin-bottom: 4rlh;
    }

.NotesList > li:has(:target)::after {
        border-color: var(--neon);
    }

.NavList li:where([aria-current='page'])::after {
        content: '⇠';
        display: inline;
        margin-left: 0.25em;
        white-space: nowrap;
        color: var(--color-text-detail);
    }

.NavList a {
        color: var(--color-text);
        white-space: nowrap;
        text-decoration: none;
        font-weight: normal;
        position: revert;
    }

.NavList a:is(:hover, :focus-visible):not(:is([aria-current='page'] > *)) {
            color: var(--link-color-hover);
            text-decoration: underline;
        }

.NavList a:not([aria-current='page'] > :is(.NavList a)):not(.NavList a:hover):not(.NavList a:focus-visible) {
            opacity: 0.8;
        }

.NavList [aria-current='page'] {
        position: relative;
    }

.NavList [aria-current='page'] a {
            font-weight: 600;
            color: var(--color-text-high-contrast);
        }

.MainNav {
    position: relative;
    z-index: 2;
}

.MainNav .sticky {
        position: sticky;
        top: 0;
    }

.MainNav h1 {
        --offset-top: 18px;
        line-height: 3rlh;
        margin-bottom: -4px;
        padding-top: var(--offset-top);
    }

.MainNav h1 > a {
            font-weight: 500;
            color: var(--color-text);
            white-space: nowrap;
            text-decoration: none;
        }

.BackLink {
    text-decoration: none;
    color: var(--color-text);
    background-color: var(--color-bg-secondary);
    width: 1.6em;
    text-align: center;
    line-height: 1.6em;
    aspect-ratio: 1/1;
    display: inline-block;
    border-radius: 4em;
    opacity: 0.8;
}

a:is(:hover, :focus) > .BackLink {
        opacity: 1;
    }

.MobileNav {
    display: none;
    margin-block-end: 2lh;
}

.MobileNav .MobileNav__Home {
        font-weight: 500;
    }

.MobileNav .NavList li:where([aria-current='page'])::after {
            display: none;
        }

.MobileNav details {
        margin: 0;
        position: absolute;
        z-index: 10;
        top: 0;
        right: 0;
        text-align: right;
    }

.MobileNav details > ul {
            box-shadow: color-mix(in oklab, var(--color-bg) 50%, black 20%) -10px 10px 30px;
            background-color: var(--color-bg);
            padding: 0.25lh 10px;
            margin-right: -10px;
            margin-top: 0.25lh;
            border-radius: 6px;
            font-size: 1.2em;
            line-height: 2;
        }

.MobileNav details > ul li {
                padding-left: 3rem;
            }

.MobileNav details > ul li:not(:last-child) {
                    border-bottom: 1px solid var(--border-color);
                }

.MobileNav summary {
        color: var(--color-text-detail);
        white-space: nowrap;
    }

.MobileNav summary:is(:hover, details[open] > *) {
            color: var(--color-text);
        }

@media only screen and (max-width: 1215px) {
    .MainNav {
        display: none;
    }
    .MobileNav {
        display: flex;
        justify-content: space-between;
    }
}

/*
POSTS LIST
----------------------------------------------------------------*/

.PostItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.PostItem:last-child {
        border-bottom: 0;
    }

.PostItem time {
        font-size: var(--f5);
        font-variant-numeric: tabular-nums;
        letter-spacing: var(--tracking-f0);
    }

.PostItem time:not(.PostItem:hover :is(.PostItem time)) {
            color: var(--color-text-detail);
        }

.PostItem .PostItem__Link {
        display: block;
        padding: 0.5rlh 0;
        flex: 1;
    }

.PostItem .PostItem__Link:visited {
            color: var(--link-color-visited);
            text-decoration-color: var(--link-color-visited);
        }

@media screen and (max-width: 480px) {

.PostItem {
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 0.5rlh;
}

        .PostItem .PostItem__Link {
            max-width: 90%;
            font-size: 1em;
        }
    }

.PostsList {
    list-style: none;
}

.PostsList .PostsList--Tight .PostItem {
            border: 1px solid var(--grey-light);
            border-width: 0 0 1px;
            margin: 0;
        }

@media screen and (prefers-color-scheme: dark) {
            .PostsList .PostsList--Tight .PostItem {
                border: 0;
            }
    }

/*
PROSE
----------------------------------------------------------------*/

.prose h1 {
        border-bottom: 1px solid var(--border-color);
        padding-bottom: 0.25lh;
    }

.prose * + h1 {
        margin-top: 1lh;
    }

.prose > :last-child {
        margin-bottom: 0;
    }

.prose a:not([class]) {
        text-decoration: underline;
    }

.prose img,
    .prose iframe,
    .prose figure,
    .prose svg {
        --side-margin: 2rlh;
        margin: var(--side-margin) auto;
        display: block;
    }

@media screen and (max-width: 480px) {

.prose img,
    .prose iframe,
    .prose figure,
    .prose svg {
            --side-margin: 1rlh;
    }
        }

@media screen and (prefers-color-scheme: dark) {
        .prose img {
            opacity: 0.9;
            box-shadow: rgba(0, 0, 0, 0.3) 0 0 6px;
        }
    }

.prose :where(ul, ol) {
        padding-left: 1em;
        margin-left: 1rem;
    }

.prose :where(ul, ol) :where(li > ul, li > ol) {
            padding-left: 1.5rem;
            margin-bottom: 0;
        }

.prose figcaption {
        padding: 1rem 0;
        text-align: center;
        font-family: var(--sans);
        font-size: 0.9em;
    }

/* Break links and code */

.prose code:not(pre > code),
    .prose a {
        word-break: break-word;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

.prose pre {
        font-size: var(--f6);
    }

.prose figure.image--full {
        margin: 2rlh -14vw;
    }

.prose figure.image--full img {
            display: block;
            margin: 0 auto;
        }

@media screen and (max-width: 960px) {

.prose figure.image--full {
            /* Edge-to-edge pixelfucking. */
            margin-left: auto;
            margin-right: auto;
    }
        }

.prose details summary + pre {
        margin-block-start: 0.5lh;
    }

/* =CHANGELOG
--------------------------------------------- */

.changelog .prose > ul {
            padding-left: 0;
            margin-bottom: 1rlh;
        }

.changelog .prose > ul ul {
                margin-bottom: 0;
            }

.oblique-strategies .Page .prose {
    margin-top: var(--spacing-large);
}

.oblique-strategies .Page .prose ul {
        font-family: var(--sans);
        font-size: var(--f1);
        font-weight: 700;
        line-height: 1.4;
    }

.oblique-strategies .Page .prose li:not(ul ul li) {
        margin-bottom: var(--spacing-large);
    }

.oblique-strategies .Page .prose ul li:not(ul ul li) {
        list-style-type: none;
    }

.oblique-strategies .Page .prose ul ul {
        font-size: var(--f2);
    }

/* Small caps */

.small-caps {
    font-family: 'Charter SC', serif;
    font-variant: small-caps;
}

/* Double quotation marks (") */

.pull-double {
    margin-left: -0.46em;
}

.push-double {
    margin-right: 0.46em;
}

/* Single quotation marks (') */

.pull-single {
    margin-left: -0.27em;
}

.push-single {
    margin-right: 0.27em;
}

.pull-double,
.push-double,
.pull-single,
.push-single {
    display: inline-block;
}

/* Optical margin alignment for particular letters */

.pull-T,
.pull-V,
.pull-W,
.pull-Y {
    margin-left: -0.1em;
}

.push-T,
.push-V,
.push-W,
.push-Y {
    margin-right: 0.1em;
}

.pull-O,
.pull-C,
.pull-o,
.pull-c {
    margin-left: -0.04em;
}

.push-O,
.push-C,
.push-o,
.push-c {
    margin-right: 0.04em;
}

.pull-A {
    margin-left: -0.03em;
}

.push-A {
    margin-right: 0.03em;
}

.skip-link {
    position: fixed;
    top: var(--inset);
    left: var(--inset);
}

.relative {
    position: relative;
}

.avatar {
    border-radius: 100%;
    aspect-ratio: 1 / 1;
}

/*
BUTTONS
----------------------------------------------------------------*/

.btn {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: 0;
    font-family: var(--sans);
    background-color: var(--btn-bg);
    color: var(--btn-color);
    text-decoration: none;
    text-align: center;
    border-radius: 6px;
    padding: 0.2em 0.6em;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
}

.btn:not([disabled]) {
        cursor: pointer;
    }

.btn:where(:hover, [open] *) {
        text-decoration: none;
        color: var(--color-text-high-contrast);
        background-color: var(--btn-bg-hover);
    }

.btn[disabled] {
        color: var(--color-text-detail);
    }

/*
OPEN TYPE
----------------------------------------------------------------*/

.plain-font-features {
    font-feature-settings:
		/* Contextual alternates */
        'calt' 1,
        'kern' 1,
        'liga' 1,
        /* Open digis */ 'ss01' 1,
        /* Curved 'r' */ 'ss03' 1,
        /* Disambiguation */ 'ss04' 0,
        'frac' 1;
}

/*
FONT STYLES
----------------------------------------------------------------*/

.i {
    font-style: italic;
}

/*
FONT WEIGHTS
----------------------------------------------------------------*/

.normal {
    font-weight: normal;
}

.b {
    font-weight: bold;
}

.fw1 {
    font-weight: 100;
}

.fw2 {
    font-weight: 200;
}

.fw3 {
    font-weight: 300;
}

.fw4 {
    font-weight: 400;
}

.fw5 {
    font-weight: 500;
}

.fw6 {
    font-weight: 600;
}

.fw7 {
    font-weight: 700;
}

.fw8 {
    font-weight: 800;
}

.fw9 {
    font-weight: 900;
}

/*
TEXT ALIGNMENT
----------------------------------------------------------------*/

.tl {
    text-align: left;
}

.tr {
    text-align: right;
}

.tc {
    text-align: center;
}

.tj {
    text-align: justify;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

/*
FLEXBOX
----------------------------------------------------------------*/

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.gap-1 {
    gap: 0.5em;
}

.gap {
    gap: 1.5em;
}

/* 1. Fix for Chrome 44 bug.
 * https://code.google.com/p/chromium/issues/detail?id=506893 */

.flex-auto {
    flex: 1 1 auto;
    min-width: 0;
    /* 1 */
    min-height: 0;
    /* 1 */
}

.flex-1 {
    flex: 1;
}

.flex-none {
    flex: none;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-wrap-reverse {
    flex-wrap: wrap-reverse;
}

.flex-column-reverse {
    flex-direction: column-reverse;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.items-start {
    align-items: flex-start;
}

.items-end {
    align-items: flex-end;
}

.items-center {
    align-items: center;
}

.items-baseline {
    align-items: baseline;
}

.items-stretch {
    align-items: stretch;
}

.self-start {
    align-self: flex-start;
}

.self-end {
    align-self: flex-end;
}

.self-center {
    align-self: center;
}

.self-baseline {
    align-self: baseline;
}

.self-stretch {
    align-self: stretch;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

.content-start {
    align-content: flex-start;
}

.content-end {
    align-content: flex-end;
}

.content-center {
    align-content: center;
}

.content-between {
    align-content: space-between;
}

.content-around {
    align-content: space-around;
}

.content-stretch {
    align-content: stretch;
}

/*
SPACING
----------------------------------------------------------------*/

.pa0 {
    padding: var(--spacing-none);
}

.pa1 {
    padding: var(--spacing-extra-small);
}

.pa2 {
    padding: var(--spacing-small);
}

.pa3 {
    padding: var(--spacing-medium);
}

.pa4 {
    padding: var(--spacing-large);
}

.pa5 {
    padding: var(--spacing-extra-large);
}

.pa6 {
    padding: var(--spacing-extra-extra-large);
}

.pa7 {
    padding: var(--spacing-extra-extra-extra-large);
}

.pl0 {
    padding-left: var(--spacing-none);
}

.pl1 {
    padding-left: var(--spacing-extra-small);
}

.pl2 {
    padding-left: var(--spacing-small);
}

.pl3 {
    padding-left: var(--spacing-medium);
}

.pl4 {
    padding-left: var(--spacing-large);
}

.pl5 {
    padding-left: var(--spacing-extra-large);
}

.pl6 {
    padding-left: var(--spacing-extra-extra-large);
}

.pl7 {
    padding-left: var(--spacing-extra-extra-extra-large);
}

.pr0 {
    padding-right: var(--spacing-none);
}

.pr1 {
    padding-right: var(--spacing-extra-small);
}

.pr2 {
    padding-right: var(--spacing-small);
}

.pr3 {
    padding-right: var(--spacing-medium);
}

.pr4 {
    padding-right: var(--spacing-large);
}

.pr5 {
    padding-right: var(--spacing-extra-large);
}

.pr6 {
    padding-right: var(--spacing-extra-extra-large);
}

.pr7 {
    padding-right: var(--spacing-extra-extra-extra-large);
}

.pb0 {
    padding-bottom: var(--spacing-none);
}

.pb1 {
    padding-bottom: var(--spacing-extra-small);
}

.pb2 {
    padding-bottom: var(--spacing-small);
}

.pb3 {
    padding-bottom: var(--spacing-medium);
}

.pb4 {
    padding-bottom: var(--spacing-large);
}

.pb5 {
    padding-bottom: var(--spacing-extra-large);
}

.pb6 {
    padding-bottom: var(--spacing-extra-extra-large);
}

.pb7 {
    padding-bottom: var(--spacing-extra-extra-extra-large);
}

.pt0 {
    padding-top: var(--spacing-none);
}

.pt1 {
    padding-top: var(--spacing-extra-small);
}

.pt2 {
    padding-top: var(--spacing-small);
}

.pt3 {
    padding-top: var(--spacing-medium);
}

.pt4 {
    padding-top: var(--spacing-large);
}

.pt5 {
    padding-top: var(--spacing-extra-large);
}

.pt6 {
    padding-top: var(--spacing-extra-extra-large);
}

.pt7 {
    padding-top: var(--spacing-extra-extra-extra-large);
}

.pv0 {
    padding-top: var(--spacing-none);
    padding-bottom: var(--spacing-none);
}

.pv1 {
    padding-top: var(--spacing-extra-small);
    padding-bottom: var(--spacing-extra-small);
}

.pv2 {
    padding-top: var(--spacing-small);
    padding-bottom: var(--spacing-small);
}

.pv3 {
    padding-top: var(--spacing-medium);
    padding-bottom: var(--spacing-medium);
}

.pv4 {
    padding-top: var(--spacing-large);
    padding-bottom: var(--spacing-large);
}

.pv5 {
    padding-top: var(--spacing-extra-large);
    padding-bottom: var(--spacing-extra-large);
}

.pv6 {
    padding-top: var(--spacing-extra-extra-large);
    padding-bottom: var(--spacing-extra-extra-large);
}

.pv7 {
    padding-top: var(--spacing-extra-extra-extra-large);
    padding-bottom: var(--spacing-extra-extra-extra-large);
}

.ph0 {
    padding-left: var(--spacing-none);
    padding-right: var(--spacing-none);
}

.ph1 {
    padding-left: var(--spacing-extra-small);
    padding-right: var(--spacing-extra-small);
}

.ph2 {
    padding-left: var(--spacing-small);
    padding-right: var(--spacing-small);
}

.ph3 {
    padding-left: var(--spacing-medium);
    padding-right: var(--spacing-medium);
}

.ph4 {
    padding-left: var(--spacing-large);
    padding-right: var(--spacing-large);
}

.ph5 {
    padding-left: var(--spacing-extra-large);
    padding-right: var(--spacing-extra-large);
}

.ph6 {
    padding-left: var(--spacing-extra-extra-large);
    padding-right: var(--spacing-extra-extra-large);
}

.ph7 {
    padding-left: var(--spacing-extra-extra-extra-large);
    padding-right: var(--spacing-extra-extra-extra-large);
}

.ma0 {
    margin: var(--spacing-none);
}

.ma1 {
    margin: var(--spacing-extra-small);
}

.ma2 {
    margin: var(--spacing-small);
}

.ma3 {
    margin: var(--spacing-medium);
}

.ma4 {
    margin: var(--spacing-large);
}

.ma5 {
    margin: var(--spacing-extra-large);
}

.ma6 {
    margin: var(--spacing-extra-extra-large);
}

.ma7 {
    margin: var(--spacing-extra-extra-extra-large);
}

.ml0 {
    margin-left: var(--spacing-none);
}

.ml1 {
    margin-left: var(--spacing-extra-small);
}

.ml2 {
    margin-left: var(--spacing-small);
}

.ml3 {
    margin-left: var(--spacing-medium);
}

.ml4 {
    margin-left: var(--spacing-large);
}

.ml5 {
    margin-left: var(--spacing-extra-large);
}

.ml6 {
    margin-left: var(--spacing-extra-extra-large);
}

.ml7 {
    margin-left: var(--spacing-extra-extra-extra-large);
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mx1 {
    margin-right: var(--spacing-extra-small);
    margin-left: var(--spacing-extra-small);
}

.mr0 {
    margin-right: var(--spacing-none);
}

.mr1 {
    margin-right: var(--spacing-extra-small);
}

.mr2 {
    margin-right: var(--spacing-small);
}

.mr3 {
    margin-right: var(--spacing-medium);
}

.mr4 {
    margin-right: var(--spacing-large);
}

.mr5 {
    margin-right: var(--spacing-extra-large);
}

.mr6 {
    margin-right: var(--spacing-extra-extra-large);
}

.mr7 {
    margin-right: var(--spacing-extra-extra-extra-large);
}

.mb0 {
    margin-bottom: var(--spacing-none);
}

.mb1 {
    margin-bottom: var(--spacing-extra-small);
}

.mb2 {
    margin-bottom: var(--spacing-small);
}

.mb3 {
    margin-bottom: var(--spacing-medium);
}

.mb4 {
    margin-bottom: var(--spacing-large);
}

.mb5 {
    margin-bottom: var(--spacing-extra-large);
}

.mb6 {
    margin-bottom: var(--spacing-extra-extra-large);
}

.mb7 {
    margin-bottom: var(--spacing-extra-extra-extra-large);
}

.mt0 {
    margin-top: var(--spacing-none);
}

.mt1 {
    margin-top: var(--spacing-extra-small);
}

.mt2 {
    margin-top: var(--spacing-small);
}

.mt3 {
    margin-top: var(--spacing-medium);
}

.mt4 {
    margin-top: var(--spacing-large);
}

.mt5 {
    margin-top: var(--spacing-extra-large);
}

.mt6 {
    margin-top: var(--spacing-extra-extra-large);
}

.mt7 {
    margin-top: var(--spacing-extra-extra-extra-large);
}

.mv0 {
    margin-top: var(--spacing-none);
    margin-bottom: var(--spacing-none);
}

.mv1 {
    margin-top: var(--spacing-extra-small);
    margin-bottom: var(--spacing-extra-small);
}

.mv2 {
    margin-top: var(--spacing-small);
    margin-bottom: var(--spacing-small);
}

.mv3 {
    margin-top: var(--spacing-medium);
    margin-bottom: var(--spacing-medium);
}

.mv4 {
    margin-top: var(--spacing-large);
    margin-bottom: var(--spacing-large);
}

.mv5 {
    margin-top: var(--spacing-extra-large);
    margin-bottom: var(--spacing-extra-large);
}

.mv6 {
    margin-top: var(--spacing-extra-extra-large);
    margin-bottom: var(--spacing-extra-extra-large);
}

.mv7 {
    margin-top: var(--spacing-extra-extra-extra-large);
    margin-bottom: var(--spacing-extra-extra-extra-large);
}

.mh0 {
    margin-left: var(--spacing-none);
    margin-right: var(--spacing-none);
}

.mh1 {
    margin-left: var(--spacing-extra-small);
    margin-right: var(--spacing-extra-small);
}

.mh2 {
    margin-left: var(--spacing-small);
    margin-right: var(--spacing-small);
}

.mh3 {
    margin-left: var(--spacing-medium);
    margin-right: var(--spacing-medium);
}

.mh4 {
    margin-left: var(--spacing-large);
    margin-right: var(--spacing-large);
}

.mh5 {
    margin-left: var(--spacing-extra-large);
    margin-right: var(--spacing-extra-large);
}

.mh6 {
    margin-left: var(--spacing-extra-extra-large);
    margin-right: var(--spacing-extra-extra-large);
}

.mh7 {
    margin-left: var(--spacing-extra-extra-extra-large);
    margin-right: var(--spacing-extra-extra-extra-large);
}

/*
DISPLAY
----------------------------------------------------------------*/

.d-i {
    display: inline;
}

.d-ib {
    display: inline-block;
}

.d-b {
    display: block;
}

/*
BORDERS
----------------------------------------------------------------*/

.border {
    border: 1px solid var(--border-color);
}

.border-b {
    border-width: 0 0 1px;
}

.border-t {
    border-width: 1px 0 0;
}

/*
COLOURS
----------------------------------------------------------------*/

.text-bg {
    color: var(--color-bg);
}

.comp-neon {
    color: var(--neon);
}

.comp-yellow {
    color: var(--yellow);
}

.bg-comp-neon {
    background-color: var(--neon);
}

.bg-yellow {
    background-color: var(--yellow);
}

.text-color {
    color: var(--color-text);
}

.text-color-contrast {
    color: var(--color-text-high-contrast);
}

.muted {
    color: var(--color-text-detail);
}

.muted.link:hover {
        color: var(--color-text-high-contrast);
    }

.faint {
    color: var(--color-faint);
}

.subhead {
    color: var(--color-text-detail);
    font-family: var(--sans);
}

/*
OPACITY
----------------------------------------------------------------*/

.dimmed {
    opacity: 0.7;
}

/*
TYPOGRAPHY
----------------------------------------------------------------*/

.leading-none {
    line-height: 1;
}

.leading-tight {
    line-height: 1.2;
}

.font-mono {
    font-family: var(--mono);
}

.font-sans {
    font-family: var(--sans);
}

.font-serif {
    font-family: var(--serif);
}

.text-balance {
    text-wrap: balance;
}

/* Measure is limited to ~78 characters */

.measure {
    max-width: var(--measure);
}

/* Measure is limited to ~80 characters */

.measure-wide {
    max-width: var(--measure-wide);
}

/* Measure is limited to ~45 characters */

.measure-narrow {
    max-width: var(--measure-narrow);
}

.uppercase {
    text-transform: uppercase;
}

.tracking {
    letter-spacing: 1px;
}

.rounded-small {
    border-radius: 0.25em;
}

.no-underline {
    text-decoration: none;
}

.no-underline:hover {
        text-decoration: underline;
    }

.Badge {
    font-family: var(--sans);
    border-radius: 4px;
    font-weight: 550;
    background-color: var(--neon);
    color: var(--color-bg);
    padding: 0.3em 0.4em;
    white-space: nowrap;
}

.Badge:hover {
        text-decoration: none;
    }

.Badge.Badge--muted {
        background-color: var(--grey);
    }

.Badge.Badge--warn {
        background-color: var(--yellow);
    }

@media (max-width: 1215px) {
    .hide-mobile {
        display: none;
    }
}

.sep {
    color: var(--color-text-detail);
    display: inline-block;
    margin: 0 0.5em;
}

.no-wrap {
    white-space: nowrap;
}

.checkbox-fix {
    position: relative;
    top: -1px;
}

.truncate {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
}

.icon {
    fill: currentColor;
    width: 1em;
    height: auto;
    aspect-ratio: 1 / 1;
    vertical-align: middle;
    display: inline-block;
    font-size: 0.9em;
}

a:hover .icon-feed {
    color: var(--yellow);
}

.drop-cap::first-letter {
    font-size: 3.2rem;
    font-weight: bold;
    float: left;
    margin-right: 0.1em;
    line-height: 1;
}

.align-middle {
    vertical-align: middle;
    margin-block-start: calc(1ex - 1cap);
}

.Notice {
    border-radius: 0.8em;
    padding: 0.5em 0.75em;
    transition: background-color 300ms ease;
    background-color: var(--color-bg-secondary);
}

.Notice summary {
        font-weight: bold;
    }

.Notice > :last-child {
        margin-block-end: 0;
    }

/*# sourceMappingURL=./johan.css.map */