#app[data-state] .pane {
  display: none;
}

#app[data-state='INITED'] {
  & #INITED {
    display: block;
  }
}

#app[data-state='sign-in'] {
  & #sign-in {
    display: block;
  }
}

#app[data-state='START'] {
  & #START {
    display: block;
  }
}
