/* =CHANGELOG
--------------------------------------------- */

.changelog {
	& .prose {
		&>ul {
			padding-left: 0;
			margin-bottom: var(--lineheight);

			& ul {
				margin-bottom: 0;
			}
		}
	}
}
