.home {
	& [role="navigation"] {
		& li {
			display: inline;

			&:not(:last-child)::after {
				content: ' / ';
				display: inline-block;
				margin: 0 .5em;
				color: var(--color-text-detail);
				transform: scaleY(1.2);
			}
		}
	}
}
