// Font overrides

html {
	font: normal #{$base-size}px/#{$leading / $base-size} $tumblr-font;
}

body {
	margin-top: 1rem;

	@include larger-than($handheld) {
		margin-top: $lineheight*2;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $sans;
	font-weight: bold;
}

[role="main"] {
	max-width: $max-width;
}

[role="banner"] {
	h1 {
		margin-top: $lineheight;
		margin-bottom: 0;
		font-family: Trocchi, $headings;
		font-weight: normal;
		font-size: 9vmax;

		// Image masking for WebKit.
		// http://nimbupani.com/using-background-clip-for-text-with-css-fallback.html
		background: -webkit-linear-gradient(transparent, transparent),
			url('https://johan.im/assets/images/road-improved.jpg') repeat;
		background: -o-linear-gradient(transparent, transparent);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: cover;
		background-position: 0 -28%;
	}

	p {
		color: #999;
		font-size: 1.1em;

		&:last-child {
			margin-bottom: $lineheight*3;
		}
	}

	@include handheld {
		max-width: $max-width;

		h1 {
			margin-top: 0;
			font-size: to_rem(32);
		}

		p:last-child {
			margin-bottom: 0;
			font-size: 1em;
		}
	}
}

.single [role="banner"] {
	max-width: $max-width;

	h1 {
		margin-top: 0;
		font-size: to_rem(32);
	}

	p:last-child {
		margin-bottom: 0;
		font-size: 1em;
	}
}

[role="article"] {
	margin-bottom: $lineheight*8;
	max-width: none;
	width: 100%;

	header {
		text-align: center;
		margin-bottom: $lineheight*2;

		h1 {
			font-size: to_rem(32);
			margin-bottom: 0;
		}
	}

	.html_photoset {
		margin-bottom: $lineheight;
	}

	.post__meta {
		font-size: .9em;
		font-family: $mono;

		.meta__permalink {
			color: $grey;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
				color: darken($grey, 10%);
			}
		}
	}

	&.post--link {
		header {
			h1 {
				font-size: to_rem(20);
			}
		}
	}

	&.post--video {
		.post__content {
			margin: 0 -14vw $lineheight*2;
		}

		iframe {
			display: block;
			margin: 0 auto;
		}
	}
}

.post__caption {
	text-align: center;
}

.post-text .ingress strong,
.post-text p:first-child strong {
	font-family: $tumblr-font;
	margin-left: -1em;
}

blockquote {
	font-family: $serif;
	font-style: normal;
	padding: 0;
	border: 0;
	text-align: center;

	@include larger-than(815px) {
		padding-right: 4rem;
		text-align: left;
		font-size: to_rem(19);
		margin-left: -4rem;
	}
}

// Posts listing pages
.posts {
	[role="article"] {
		header {

			h1,
			.post__meta {
				text-align: left;
			}

			h1 {
				font-size: to_rem(24);
			}
		}
	}
}
