---
layout: layouts/main
pagination:
  data: collections.posts
  size: 3
  alias: latestPosts
  reverse: true
---
<main role="main">

  <header class="tc">
    <p>Hey! I’m <strong class="fw6">Johan Brook</strong>, like it says in the domain name.</p>
  </header>

  <section class="mb5">
    <h1>Me in eight seconds</h1>
    
    <p>I’m coding &amp; designering and I like working with product, user experience, and interface design and other things too. Like everybody else here.</p>
    
    <p>For me in eight minutes (or more), please see the <a href="/about">About page</a>. You can also check out what <a href="/now">I’m doing now</a> and what’s <a href="/changelog">happened to me so far.</a></p>
  </section>

  <section>
    <header class="flex items-center pv1">
      <h1 class="mb0">My latest writings</h1>
      <a href="/writings" class="btn ml2 f4">View all</a>
    </header>

    <p>I write things in varying lengths and quality. Some writings are full posts, other are just half-baked thoughts.</p>

    <ol class="PostsList">
      {% for post in latestPosts %}
        <li class="PostItem PostItem-{{ post.data.keywords | includesThen('micro-update', 'Update', 'Regular') }}">
          <article role="article">
            <a class="fw5 f2" href="{{ post.url }}">{{ post.data.title }} -></a>
            <p class="f4">{{ post.data.excerpt }}</p>
          </article>
        </li>
      {% endfor %}
    </ol>

    <p class="f4">
      <a title="View all" class="muted" href="/writings">…and {{ collections.posts.length }} more</a>
    </p>
  </section>
</main>
