---
layout: layouts/main
---

<header role="banner" class="home-offset">
  <h1 class="tracked-tight-some o-80">
    {{ headline }}
  </h1>

  <div class="measure b f4 o-80 sans">
    <p>
      {{ meta.shortbio }}
    </p>
  </div>
</header>

<main role="main">

  <section class="home-about home-offset">
    <h1 class="f1">A little bit about me:</h1>

    <div class="sans measure">
      {{ content | safe }}
    </div>
  </section>

  <section class="section-home-more mv6 center sans tc measure">
    <h1>…more stuff</h1>

    <p class="muted">I tend to value things such as communication, iteration, and exploration when working.</p>

    <p class="muted">This usually shows itself as an outspoken love for and interest in</p>

    <p>high paced iterations, shipping, experimenting with UI animations, front-end architecture, writing tests, functional reactive programming, writing about my findings, delightful copywriting, laughter, ever evolving and explorative work in building product teams, and working smarter.</p>

    <p class="mv5 b f4">
      But above all, I value
    </p>
  </section>

  <div class="story-freedom tilted tilted--top tilted--bottom">
    <p>
      Freedom.
    </p>
  </div>

  <section class="section-home-more mt5 mb0 center sans measure tc">
    <h2 class="b f4">
      I know my way around
    </h2>

    <p class="muted">
      Javascript, HTML/CSS, typography, user research, <em>&lt;insert Javascript framework&gt;</em>, designing human interfaces, remote working, automated testing, REST APIs, writing READMEs.
    </p>

    <h2 class="b f4">
      I'm curious about
    </h2>

    <p>
      Functional programming, doing more open source work, GraphQL.
    </p>

    <hr />

    <p class="b f4">
      Thanks for visiting!
    </p>
  </section>
</main>

