---
layout: layouts/main
home: true
pagination:
  data: collections.posts
  size: 6
  alias: latestPosts
  reverse: true
---
<main role="main">

  <header>

  {% include "header-title.svg" %}

    <p class="fw4 f2 mt5 mb4">I’m a <strong class="fw6">designer and developer</strong> based in Sweden.</p>
  </header>

  <section class="mb5">
    <h1>Me in eight seconds</h1>
    
    <p>I’m coding &amp; designering and I like working with product, user experience, and interface design and other things too. Like everybody else here.</p>
    
    <p>For me in eight minutes (or more), please see the <a href="/about">About page</a>. You can also check out what <a href="/now">I’m doing now</a> and what’s <a href="/changelog">happened to me so far.</a></p>
  </section>

  <section>
    <header class="flex items-center pv1">
      <h1 class="mb0">My latest writings</h1>
      <a href="/writings" class="btn ml2 f4">View all</a>
    </header>

    <p>I write things in varying lengths and quality. Some writings are full posts, other are just half-baked thoughts.</p>

    <ol class="PostsList PostsList--Tight">
      {% for post in latestPosts %}
        <li class="PostItem PostItem--{{ 'Update' if post.data.category == 'Updates' else 'Regular' }}">
          <article role="article">
            <a class="PostItem__Link" href="{{ post.url }}">{{ post.data.title }} -></a>
          </article>
        </li>
      {% endfor %}
    </ol>

    <p class="f4">
      <a title="View all" class="muted" href="/writings">…and {{ collections.posts.length - pagination.size }} more</a>
    </p>
  </section>
</main>

{% include "footer.njk" %}
