---
ogImage: /assets/images/og-image.png
---
{% from "icon.njk" import icon %}

<!DOCTYPE html>
<html lang="en" class="{{ htmlClass }} {{ slug or page.fileSlug }}">

  <head itemtype="http://schema.org/Blog" itemscope>
    <title>{{ title }}</title>

    <meta charset="utf-8">

    {% if excerpt or description %}
    <meta name="description" content="{{ excerpt or description }}">
    {% endif %}
    <meta name="keywords" content="{{ keywords }}">
    <meta name="author" content="Johan Brook">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Styles-->
    <link rel="stylesheet" href="/assets/css/johan.css">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="Johan's RSS feed" href="/rss.xml">

    <link rel="shortcut icon" href="/favicon.png" type="image/png">
    <link rel="canonical" itemprop="url" href="{{ page.url | canonicalUrl }}">
    <link rel="author" href="https://johanbrook.com">

    <meta property="og:title" content="{{title}}">
    <meta property="og:url" content="{{ page.url | canonicalUrl }}">
    <meta property="og:site_name" itemprop="name" content="Johan Brook">
    <meta property="og:type" content="blog">
    <meta property="og:image" content="{{ogImage | canonicalUrl}}">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="1200">
    {% if excerpt or description %}
    <meta property="og:description" content="{{ excerpt or description }}">
    {% endif %}

    {% if tags === 'posts' %}
    <meta property="article:author" content="http://facebook.com/johanbrook">
    <meta property="article:tag" content="{{keywords}}">
    <meta property="article:published_time" content="{{page.date | toISODate}}">
    {% endif %}
  </head>

  <body>

    {% include "navigation.njk" %}

    {{ content | safe }}

    {% include "footer.njk" %}

    <script type="text/javascript">
      function init() {
        addClasses();

        if (window.matchMedia("(max-width: 481px)").matches) {
          window.scroll(0, 200);
        }

        function first(array, n, guard) {
          if (array == null) return void 0;
          if (n == null || guard) return array[0];

          return [].slice.call(array, 0, Math.max(0, array.length - (n == null || guard ? 1 : n)));
        };

        function transform(text) {
          const DELIMITER = /\.|,/;
          const sentences = text.split('.');
          const index = text.search(DELIMITER);
          const MAX_WORDS = 6;

          function wrap(w, t) {
            return `<strong>${w}</strong> ${t}`;
          }

          if (index > -1 && index <= 50) {
            return wrap(text.split(DELIMITER)[0], text.substring(index));
          }

          const words = text.split(' ');
          const first = words.splice(0, MAX_WORDS);

          return wrap(first.join(' '), words.join(' '));
        };

        const paragraphs = document.querySelectorAll('.posts article .post__body p');

        [].slice.call(paragraphs).forEach(function (p) {
          if (p.firstChild && (!p.firstChild.tagName || p.firstChild.tagName !== 'STRONG')) {
            p.innerHTML = transform(p.innerText);
          }
        });
      };

      function addClasses() {
        const p = document.querySelectorAll('.post article .post__body p');
        p.length > 0 && p[0].classList.add('ingress');
      };

      document.addEventListener('DOMContentLoaded', init, false);
    </script>
  </body>

</html>
