---
layout: layouts/main
---

<main role="main">
  <article class="page">
    <h1 class="title {{ "comp-" + color if color }}">{{ title }}.</h1>

    {% if date %}
      <p>
        Updated on <time class="fw6 text-color">{{ date | niceDate(false) }}</time>
        {% if location %}
          from {{ location }}.
        {% endif %}
      </p>
    {% endif %}

    <div class="article-text page__text">
      {{ content | safe }}
    </div>
  </article>
</main>
