---
layout: layouts/main
htmlClass: post
---
<main role="main">
  <article role="article" itemscope itemtype="http://schema.org/BlogPosting">
    <header> 
      <h1 itemprop="name" class="f1-ns f3">{{ title }}</h1>
      <p class="post__meta">
        <time datetime="{{ date | toISODate }}" itemprop="datePublished" title="{{ date | toRelativeDate }}" pubdate>{{ date | niceDate }}</time>
        <span class="meta__stats">About {{ content | readingTime }} reading time</span>
      </p>
    </header>

    <div class="article-text post__body" itemprop="articleBody">
      {{ content | safe }}
    </div>
  </article>
</main>
