---
layout: layouts/main
---
{% set isMicro = category == 'Updates' %}

<main role="main">
  <p>
    <a href="/writings">&lt;- Writings</a>
  </p>

  <article class="Post Post--{{ 'Update' if isMicro else 'Regular' }}" role="article" itemscope itemtype="http://schema.org/BlogPosting">

    {% if isMicro %}
      <header>
        <p>
          <time
            class="f2 fw5"
            datetime="{{ date | toISODate }}"
            itemprop="datePublished"
            title="{{ date | toRelativeDate }}" pubdate>{{ date | niceDate }}</time>
        </p>
      </header>
    {% else %}
      <header> 
        <h1 itemprop="name" class="title">{{ title }}</h1>

        <p class="mb0 fw5 mt3">
          <time
            datetime="{{ date | toISODate }}"
            itemprop="datePublished"
            title="{{ date | toRelativeDate }}" pubdate>{{ date | niceDate }}</time>
        </p>

        <p class="muted mb4">
          About {{ content | readingTime }} reading time
        </p>
      </header>
    {% endif %}

    <div class="article-text post__body measure" itemprop="articleBody">
      {{ content | safe }}
    </div>

    {% if keywords %}
      <p class="f4 comp-grey mt4">
        <b class="mr1">Keywords</b> {% for keyword in keywords %}<span class="Post-Keyword">{{ keyword }}</span>{% endfor %}
      </p>
    {% endif %}

    {% if isMicro %}
      <footer>
        <hr class="ml0 mb3" />
        <h1 itemprop="name" class="d-i f4 fw4 mb0">“{{ title }}”</h1>
        {%if location %}<span class="muted f4">was posted from {{ location | lower }}</span>{% endif %}
      </footer>
    {% endif %}
  </article>
</main>
