/* =ELEMENTS
--------------------------------------------- */

::selection {
  background-color: $comp-neon;
  color: #fff;
}

html {
  background-color: $background-color;
  font: normal #{$base-size}px/#{$leading / $base-size} $serif;
}

nav ul {
  @include list-reset;
}

a {
  color: $link-color;
}

p {
  margin: 0 0 $lineheight;
}

img {
  max-width: 100%;
  height: auto;
}

code {
  background-color: $comp-beige;
  padding: 2px 4px;
  border-radius: 2px;
  font-size: .85em;
  color: darken(#657B83, 10%);
  box-shadow: rgba(darken($comp-beige, 70%), .3) 0 1px 0;

  &.hljs {
    padding: 0;
  }
}

pre {
  margin: 0 0 $lineheight;
  background-color: $comp-beige;
  border-radius: 5px;
  padding: $lineheight;
  font-size: to_rem(13);

  code {
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    font-size: inherit;
    box-shadow: none;
  }
}
