/* =ELEMENTS
--------------------------------------------- */

::selection {
  background-color: $comp-neon;
  color: #fff;
}

html {
  background-color: $background-color;
  font: normal #{$base-size}px/#{$leading / $base-size} $serif;
  color: $text-color;
  padding-bottom: $lineheight*2;

  @include handheld {
    font-size: 1rem;
  }
}

body {
  // Sticky footer with Flexbox
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // end sticky footer
}

[role="main"] {
  flex: 1 0 auto;
}

nav ul {
  @include list-reset;
}

a {
  color: $link-color;
}

p {
  margin: 0 0 $lineheight;
}

img {
  max-width: 100%;
  height: auto;
}

pre, code {
  font-family: $mono;
}

code {
  background-color: $comp-beige;
  padding: 2px 4px;
  border-radius: 2px;
  font-size: .75em;
  color: darken(#657B83, 10%);
  box-shadow: rgba(darken($comp-beige, 70%), .3) 0 1px 0;

  &.hljs {
    padding: 0;
  }
}

figure {
  margin: 0 0 $lineheight;
}

pre {
  margin: 0 0 $lineheight;
  background-color: $comp-beige;
  border-radius: 5px;
  padding: $lineheight;
  font-size: to_rem(14);

  code {
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    font-size: inherit;
    box-shadow: none;
  }
}

blockquote {
  font-style: italic;
  border-left: 1px solid $text-color;
  margin: 0 2rem $lineheight 0;
  padding-left: 2rem;

  footer {
    font-style: normal;
    margin-top: $lineheight;
  }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  background-color: #000;
  margin: $lineheight*3 auto;
  width: 10rem;
  max-width: 50%;
}
