/* =ELEMENTS
--------------------------------------------- */

::selection {
  background-color: $comp-neon;
  color: #fff;
}

html {
  background-color: $background-color;
  font: normal #{$base-size}px/#{$leading / $base-size} $serif;
  color: $text-color;
  padding-bottom: $lineheight*2;

  @include handheld {
    font-size: 1rem;
  }
}

body {
  // Sticky footer with Flexbox
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // end sticky footer
}

[role="main"] {
  flex: 1 0 auto;
}

nav ul {
  @include list-reset;
}

ul, ol {
  padding-left: 0;
}

a {
  color: $text-color;

  &:hover {
    color: $link-color;
  }
}

p {
  margin: 0 0 $lineheight;
}

img {
  max-width: 100%;
  height: auto;
}

pre, code {
  font-family: $mono;
}

code {
  background-color: #f4f4f4;
  padding: 2px 4px;
  border-radius: 2px;
  font-size: .75em;
  color: darken(#657B83, 10%);

  &.hljs {
    padding: 0;
  }
}

figure {
  margin: 0 0 $lineheight;
}

figcaption {
  color: $grey;
}

pre {
  margin: 0 0 $lineheight;
  background-color: $off-white;
  border-radius: 8px;
  padding: $lineheight;
  font-size: to_rem(12);
  @include smooth(false);

  code {
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    font-size: inherit;
    box-shadow: none;
  }
}

blockquote {
  font-family: $mono;
  font-size: to_rem(13);
  border-left: 1px solid $text-color;
  margin: $lineheight*2 2rem $lineheight*2 0;
  padding-left: 2rem;

  footer {
    color: $grey;
    margin-top: $lineheight;
  }
}

hr {
  display: block;
  height: 2px;
  border: 0;
  background-color: rgba(#000, .8);
  margin: $lineheight*2 auto;
  width: 5rem;
  max-width: 50%;
}


[role="contentinfo"] {
  background-color: $comp-beige;
  text-align: center;
  font-family: $sans;
  color: rgba(#593824, .8);

  a {
    font-style: italic;
  }

  h2 {
    font-size: to_rem(70);
    color: $comp-teal-light;
    font-weight: 900;
    margin-top: -$lineheight;
    margin-bottom: 0;
    position: relative;
    z-index: 10;
  }

  :last-child {
    margin-bottom: 0;
  }
}
