/* =NAVIGATION
--------------------------------------------- */

[role="navigation"] {
  display: flex;
  justify-content: space-between;

  ul {
    display: flex;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

$nav-links:
  #000,
  $comp-cerise,
  $comp-teal-light,
  $comp-orange,
  $comp-neon;

.main-navigation {
  padding: $lineheight 2%;
  margin-bottom: $lineheight;
  font-family: $mono;
  font-size: to_em(13);

  a {
    display: block;
    padding: 0 1rem;
  }

  @for $i from 1 through 5 {
    li:nth-child(#{$i}) {
      a:hover {
        color: nth($nav-links, $i);
      }
    }
  }

  .nav--current {
    font-style: italic;

    a {
      color: $grey;
      cursor: default;

      &:hover {
        text-decoration: none;
      }
    }
  }

  @include handheld {
    margin-bottom: 0;

    .navigation__secondary {
      font-size: .9em;

      a {
        color: $grey;
      }
    }

    ul {
      flex-direction: column;
    }

    a {
      padding: .5em 1em;
    }
  }
}

.footer-nav {
  font-size: to_em(30);
  font-weight: bold;
  text-transform: uppercase;
  font-family: $sans;
  display: block;

  ul {
    justify-content: center;
  }

  a {
    padding: .5em 1em;

    &:hover {
      color: #000;
    }
  }

  li:not(:last-child)::after {
    content: '+';
    display: inline-block;
    opacity: .6;
  }

  @include handheld {
    ul {
      flex-direction: column;
    }

    li:not(:last-child)::after {
      display: none;
    }

    a {
      display: block;
    }
  }
}

.mobile-nav-trigger {
  display: none;
  text-align: center;
  text-decoration: none;
  font-family: $sans;
  font-size: to_rem(13);
  padding: 1em .5em;
  color: $grey;

  .icon {
    position: relative;
    top: -1px;
    color: $grey-light;
  }

  @include handheld {
    display: block;
  }
}
