/* =NAVIGATION
--------------------------------------------- */

[role="navigation"] {
  display: flex;
  justify-content: space-between;

  ul {
    display: flex;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.main-navigation {
  padding: $lineheight 2%;
  font-family: $mono;
  font-size: to_em(13);

  a {
    display: block;
    padding: 0 1rem;
  }

  .nav--current {
    font-style: italic;

    a {
      color: $grey;
      cursor: default;

      &:hover {
        text-decoration: none;
      }
    }
  }

  @include handheld {
    margin-bottom: 0;
    flex-direction: column;
    font-size: 1em;

    .navigation__secondary {
      font-size: .9em;

      a {
        color: $grey;
      }
    }

    ul {
      justify-content: center;
    }

    a {
      padding: .5em 1em;
    }
  }
}

.footer-nav {
  font-size: to_em(30);
  font-weight: bold;
  text-transform: uppercase;
  font-family: $sans;
  display: block;

  ul {
    justify-content: center;
  }

  a {
    color: rgba(#000, .8);
    padding: .5em 1em;
  }

  li:not(:last-child)::after {
    content: '·';
    display: inline-block;
  }

  @include handheld {
    ul {
      flex-direction: column;
    }

    li:not(:last-child)::after {
      display: none;
    }

    a {
      display: block;
    }
  }
}
