/* =CHANGELOG
--------------------------------------------- */

.changelog {
  & .page__text {
    & > ul {
      padding-left: 0;
      margin-bottom: var(--lineheight);

      & ul {
        margin-bottom: 0;
      }
    }
  }
}
