.mind {
  & main {
    & section {
      & > p::first-line {
        font-weight: 600;
      }

      &:not(:last-child)::after {
        display: block;
        content: '';
        width: 25%;
        border-bottom: 2px solid var(--border-color);
        margin-bottom: var(--lineheight);
        padding-bottom: var(--lineheight);
      }

      & > :last-child {
        margin-bottom: 0;
      }
    }
  }
}
