---
layout: layouts/main.njk
---

<main>
    <article class="Page Book">
        <header>
            <h1>“{{ title }}”</h1>
            <p class="subhead"><i>By</i> {{ author }}</p>

            <p class="f6 border border-t pt2">
                {% if finished %}
                    {% if finishedAt %}
                        <span class="BookStatus-Finished">I finished this book on <time datetime="{{ finishedAt | tdate('Machine')}}">{{ finishedAt | tdate('HumanDate') }}</time></span>
                    {% else %}
                        <span class="BookStatus-Finished">I've finished this book</span>
                    {% endif %}
                {% elif paused %}
                    <span class="BookStatus-Paused">I've paused this book</span>
                {% elif dropped %}
                    <span class="BookStatus-Dropped">I dropped this book</span>
                {% else %}
                    <span class="BookStatus-CurrentlyReading">I'm currently reading this book</span>
                {% endif %}
            </p>
        </header>

        <div class="prose">{{ notes | md | safe }}</div>

        <footer>
            <nav>
                {% set post = search.previousPage(url, "type=book") %}
                    {% if post %}
                        <a title="{{ post.title }}" href="{{ post.url }}" class="btn" rel="prev">← {{ post.title }}</a>
                    {% endif %}
                
                <a href="..">All books</a>
                
                {% set post = search.nextPage(url, "type=book") %}

                {% if post %}
                    <a title="{{ post.title }}" href="{{ post.url }}" class="btn" rel="next">{{ post.title }} →</a>
                {% endif %}
            </nav>
        </footer>
    </article>
</main>
