---
layout: layouts/main.njk
---

<main role="main">
    <article class="Book">
        <header>
            <h1 class="mb1">“{{ title }}”</h1>
            <p class="subhead mb5"><i>By</i> {{ author }}</p>
        </header>

        <table>
            <tr>
                <th>Status</th>
                {% if finishedAt %}
                <th>Finished at</th>
                {% endif %}
            </tr>
            <tr>
                <td class="f6 no-wrap align-middle">
                    {% if dropped %}
                    <span class="Badge Badge--muted">Dropped</span>
                    {% else %} {% if paused %}
                    <span class="Badge Badge--warn">Paused</span>
                    {% else %} {% if finished %}
                    <span class="Badge Badge--positive">Finished</span>
                    {% else %}
                    <span class="Badge Badge--positive">Reading</span>
                    {% endif %} {% endif %} {% endif %}
                </td>
                {% if finishedAt %}
                <td class="leading-tight">
                    <time datetime="{{ finishedAt }}">{{ finishedAt | tdate('Date') }}</time
                    ><br />
                    {% if location %}
                    <small class="fw4 f6 font-sans" title="Finished in">{{ location }}</small>
                    {% endif %}
                </td>
                {% endif %}
            </tr>
        </table>

        <div class="prose">{{ notes | md | safe }}</div>

        <footer class="mt4">
            <p>
                <a href=".." class="muted"><span aria-hidden="true" class="BackLink mr2">←</span>More books</a>
            </p>
        </footer>
    </article>
</main>
