---
layout: layouts/main.njk
home: true
numberPosts: 6
---
<main role="main">

  <header>

    {% include "header-title.svg" %}

    {% if tagline %}<p class="tagline mt5 mb4">{{ tagline | safe }}</p>{% endif %}
  </header>

  <section class="mb5">
    {{ content | safe }}
  </section>

  <nav role="navigation" class="HorizNav mb3 mt3">
      <ul class="mb3">
        {%- for entry in search.pages("menu.visible=true", "menu.order") %}
          <li {% if entry.data.url == url %} aria-current="page"{% endif %}>
            <a href="{{ entry.data.url }}">{{ entry.data.menu.title or entry.data.title }}</a>
          </li>
        {%- endfor %}
      </ul>
    </nav>
</main>
