<!DOCTYPE html>
<html lang="en" class="{{'home' if home}} {{ pageSlug() }}">

  <head itemtype="http://schema.org/Blog" itemscope>
    <title>{% if title %}{{ title }} / {{ meta.title }}{% else %}{{ meta.title }}{% endif %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preload" as="font" type="font/woff2" href="/assets/fonts/inter/Inter-italic.var.woff2" crossorigin="anonymous">
    <link rel="preload" as="font" type="font/woff2" href="/assets/fonts/inter/Inter-roman.var.woff2" crossorigin="anonymous">

    <link rel="preload" as="font" type="font/woff2" href="/assets/fonts/jetbrains-mono/JetBrainsMono-Regular.woff2" crossorigin="anonymous">
    <link rel="preload" as="font" type="font/woff2" href="/assets/fonts/jetbrains-mono/JetBrainsMono-Bold.woff2" crossorigin="anonymous">

    <link rel="preconnect" href="https://gc.zgo.at">
    <link rel="preconnect" href="https://johanbrook.goatcounter.com">

    <meta name="theme-color" content="hsl(173 7% 94%)" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="hsl(173 7% 13%)" media="(prefers-color-scheme: dark)">

    {% if excerpt or description or meta.description %}
    <meta name="description" content="{{ excerpt or description or meta.description }}">
    {% endif %}
    {% if keywords %}
    <meta name="keywords" content="{{ keywords }}">
    {% endif %}
    <meta name="author" content="{{ meta.author }}">

    <!-- Styles-->
    <link rel="stylesheet" href="/johan.css">

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="Johan Brook: Posts feed" href="/feed.xml">
    <link rel="alternate" type="application/rss+xml" title="Johan Brook: Mind feed" href="/mind.xml">
    <link rel="alternate" type="application/rss+xml" title="Johan Brook: Book feed" href="/reading.xml">

    <link rel="shortcut icon" href="/favicon.png" type="image/png">
    <link rel="canonical" itemprop="url" href="{{ url | url(true) }}">
    <link rel="author" href="{{ meta.site }}">

    <meta property="og:title" content="{{ title }}">
    <meta property="og:url" content="{{ url | url(true) }}">
    <meta property="og:site_name" itemprop="name" content="{{ meta.author }}">
    {% if ogImage %}
    <meta property="og:image" content="{{ogImage | url(true)}}">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="1200">
	{% endif %}
    <meta property="og:locale" content="en_GB">
    {% if excerpt or description or meta.description %}
    <meta property="og:description" content="{{ excerpt or description or meta.description }}">
    {% endif %}

    {% if updated %}
    <meta property="article:modified_time" content="{{ updated | date("ATOM") }}" itemprop="dateModified">
    {% endif %}

    {% if type === 'post' %}
	<meta property="og:type" content="article">
    <meta property="article:tag" content="{{ keywords }}">
    <meta property="article:published_time" content="{{ date | date("ATOM") }}">
   	{% else %}
   	<meta property="og:type" content="blog">
    {% endif %}
  </head>

  <body>
  	  <a href="#main" class="visually-hidden skip-link">Skip to content</a>
	  <div class="Content{% if wide %} wide{% endif %}">
	  	<div id="main">
			{{ content | safe }}

			{% include "footer.njk" %}
		</div>

		{% if not bare %}
	   		{% include "nav-main.njk" %}
	 	{% endif %}
	  </div>

      {% include "analytics.njk" %}
  </body>

</html>
