---
ogImage: /assets/images/og-image.png
---
<!DOCTYPE html>
<html lang="en" class="{{'home' if home}} {{ pageSlug() }}">

  <head itemtype="http://schema.org/Blog" itemscope>
    <title>{% if title %}{{ title | lower }} – {{ meta.title | lower }}{% else %}{{ meta.title | lower }}{% endif %}</title>

    <meta charset="utf-8">

    {% if excerpt or description or meta.description %}
    <meta name="description" content="{{ excerpt or description or meta.description }}">
    {% endif %}
    {% if keywords %}
    <meta name="keywords" content="{{ keywords }}">
    {% endif %}
    <meta name="author" content="{{ meta.author }}">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Styles-->
    <link rel="stylesheet" href="/johan.css">

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="Posts feed" href="/feed.xml">
    <link rel="alternate" type="application/rss+xml" title="Mind feed" href="/mind.xml">

    <link rel="shortcut icon" href="/favicon.png" type="image/png">
    <link rel="canonical" itemprop="url" href="{{ url | url(true) }}">
    <link rel="author" href="https://johanbrook.com">

    <meta property="og:title" content="{{ title }}">
    <meta property="og:url" content="{{ url | url(true) }}">
    <meta property="og:site_name" itemprop="name" content="{{ meta.author }}">
    <meta property="og:type" content="blog">
    <meta property="og:image" content="{{ogImage | url(true)}}">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="1200">
    {% if excerpt or description %}
    <meta property="og:description" content="{{ excerpt or description }}">
    {% endif %}

    {% if type === 'post' %}
    <meta property="article:tag" content="{{ keywords }}">
    <meta property="article:published_time" content="{{date | date("ATOM")}}">
    {% endif %}
  </head>

  <body>

    <div class="Content">
      {% if not bare %}
        {% include "side-navigation.njk" %}
      {% endif %}

      {{ content | safe }}
    </div>

    {% include "footer.njk" %}

    <script>
        document.addEventListener('keydown', (evt) => {
            if (evt.code == 'KeyG') {
                document.body.classList.toggle('grid');
            }
        });
    </script>

    {% include "analytics.njk" %}
  </body>

</html>
