<!DOCTYPE html>
<html lang="en-gb" class="{{'home' if home}} {{ 'hidden-title' if hiddenTitle }} {{ pageSlug() }}">

  <head itemtype="http://schema.org/Blog" itemscope>
    <title>{% if title %}{{ title }} / johan.im{% else %}johan.im{% endif %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://gc.zgo.at">
    <link rel="preconnect" href="https://johanbrook.goatcounter.com">

    <meta name="generator" content="Lume">

    {% if excerpt or description or subtitle or meta.description %}
    <meta name="description" content="{{ excerpt or description or subtitle or meta.description }}">
    {% endif %}
    {% if keywords %}
    <meta name="keywords" content="{{ keywords }}">
    {% endif %}
    <meta name="author" content="{{ meta.author }}">

    <!-- Styles-->
    {% if isCSSNakedDay() %}
        <!-- Naked Day has no styles: https://css-naked-day.github.io -->
    {% else %}
        <link rel="stylesheet" href="/johan.css">
    {% endif %}

    <!-- Feeds -->
    <link rel="alternate" type="application/rss+xml" title="Johan Brook: Complete feed (RSS)" href="/feed.xml">
    <link rel="alternate" type="application/feed+json" title="Johan Brook: Complete feed (JSON)" href="/feed.json">
    <link rel="alternate" type="application/rss+xml" title="Johan Brook: Posts feed (RSS)" href="/writings.xml">
    <link rel="alternate" type="application/feed+json" title="Johan Brook: Posts feed (JSON)" href="/writings.json">
    <link rel="alternate" type="application/rss+xml" title="Johan Brook: Micro feed (RSS)" href="/micro.xml">
    <link rel="alternate" type="application/feed+json" title="Johan Brook: Micro feed (JSON)" href="/micro.json">
    <link rel="alternate" type="application/rss+xml" title="Johan Brook: Book feed (RSS)" href="/reading.xml">
    <link rel="alternate" type="application/feed+json" title="Johan Brook: Book feed (JSON)" href="/reading.json">
    <link rel="alternate" type="application/rss+xml" title="Johan Brook: Recipes feed (RSS)" href="/recipes.xml">
    <link rel="alternate" type="application/feed+json" title="Johan Brook: Recipes feed (JSON)" href="/recipes.json">

    <link rel="shortcut icon" href="/favicon.png" type="image/png">
    <link rel="canonical" itemprop="url" href="{{ url | url(true) }}">
    <link rel="author" href="{{ meta.site }}">
    <link rel="me" href="https://{{ meta.mastodon.instance }}/@{{ meta.mastodon.username }}">

    <meta property="og:title" content="{{ title }}">
    <meta property="og:url" content="{{ url | url(true) }}">
    <meta property="og:site_name" itemprop="name" content="{{ meta.author }}">
    {% if ogImage %}
    <meta property="og:image" content="{{ogImage | url(true)}}">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="1200">
	{% endif %}
    <meta property="og:locale" content="en_GB">
    {% if excerpt or description or meta.description %}
    <meta property="og:description" content="{{ excerpt or description or meta.description }}">
    {% endif %}

    {% if updated %}
    <meta property="article:modified_time" content="{{ updated | tdate("Machine", updatedTimezone) }}" itemprop="dateModified">
    {% endif %}

    {% if type === 'post' %}
	<meta property="og:type" content="article">
    <meta property="article:tag" content="{{ keywords }}">
    <meta property="article:published_time" content="{{ date | tdate("Machine") }}">
   	{% else %}
   	<meta property="og:type" content="blog">
    {% endif %}
  </head>

  <body>
  	  <a href="#main" class="visually-hidden skip-link">Skip to content</a>

        {% if isCSSNakedDay() %}
            <aside>
                <h1>Do you think my site is looking weird? That's because I've removed all styling only for today, <time>April 9th</time>, because it's <a href="https://css-naked-day.github.io">CSS Naked Day</a>!</h1>
            </aside>
            <hr />
        {% endif %}

    	{% include "nav-mobile.njk" %}
  		{% include "nav-main.njk" %}
    
  		{{ content | safe }}

        {% include "analytics.njk" %}
  </body>

</html>
