---
layout: layouts/main.njk
---
<main>
    <article class="Page Note h-entry">
       	<header>
            <h1>
                <a href="{{ url | url(true)}}" rel="bookmark" class="u-url u-uid dt-published no-underline" title="{{ date | tdate('Detailed') }}">
                    <time datetime="{{ date | tdate('Machine') }}">{{ date | tdate('HumanDate') }}</time> — <time>{{ date | tdate('Time') }}</time>
                </a>
            </h1>

            <div class="flex justify-between items-baseline gap">
                <p class="detail mb0 sep-list">
                    {% if location %}
                        <span class="p-location">{{ location }}</span>
                    {% endif %}
                    
                    {% if fediUrl %}
                        Also on <a class="muted u-syndication" rel="syndication" href="{{ fediUrl }}">Fediverse ⤤</a>
                    {% endif %}
                </p>

                {% import "tag-list.njk" as t %}
                {{ t.list(tags) }}
            </div>

            <a rel="author" class="visually-hidden p-author h-card" href="{{ meta.site }}">{{ meta.author }}</a>
        </header>

        <div class="prose e-content">
            {{ content | md | safe }}
        </div>

        <footer class="mt4">
            <nav>
                {% set post = search.previousPage(url, "type=note") %}
                    {% if post %}
                        <a title="{{ post.title }}" href="{{ post.url }}" class="btn" rel="prev">← Previous</a>
                    {% endif %}
                
                <a href="..">All posts</a>
                
                {% set post = search.nextPage(url, "type=note") %}

                {% if post %}
                    <a title="{{ post.title }}" href="{{ post.url }}" class="btn" rel="next">Next →</a>
                {% endif %}
            </nav>
        </footer>
    </article>
</main>
