---
layout: layouts/main.njk
---
<main>
    <article class="Page Note">
       	<header>
            <h1>
                <time title="{{ date | tdate('Detailed') }}" datetime="{{ date | tdate('Machine') }}" pubdate>{{ date | tdate('HumanTime') }}</time>
            </h1>

            <div class="flex justify-between items-baseline gap">
                {% if location %}
                    <p title="Posted from" class="detail mb0 target">{{ location }}</p>
                {% endif %}

                {% import "tag-list.njk" as t %}
                {{ t.list(tags) }}
            </div>
        </header>

        <div class="prose">
            {{ content | md | safe }}
        </div>

        <footer class="mt3">
            <nav>
                {% set post = search.previousPage(url, "type=note") %}
                    {% if post %}
                        <a title="{{ post.title }}" href="{{ post.url }}" class="btn" rel="prev">← Previous</a>
                    {% endif %}
                
                <a href="..">All posts</a>
                
                {% set post = search.nextPage(url, "type=note") %}

                {% if post %}
                    <a title="{{ post.title }}" href="{{ post.url }}" class="btn" rel="next">Next →</a>
                {% endif %}
            </nav>
        </footer>
    </article>
</main>
