---
layout: layouts/main.njk
---
<main role="main">
    <article class="Note">
       	<header class="mb2">
            <h1 class="f4 no-rhythm mb0">
                <time title="{{ date | tdate('Detailed') }}" datetime="{{ date | tdate('Machine') }}" pubdate>{{ date | tdate('HumanTime') }}</time>
            </h1>
            {% if location %}
                <p title="Posted from" class="muted font-sans mb0 f5 target">{{ location }}</p>
            {% endif %}
        </header>

        <div class="prose">
            {{ content | md | safe }}
        </div>

        <footer class="mt3">
            {% if tags %}
                <ul>
                    {% for tag in tags %}
                    <li class="muted font-sans f6 inline">#{{ tag }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <p>
                <a href="/micro" class="f5">
    				<span aria-hidden="true" class="BackLink mr1">←</span> All micro notes
    			</a>
            </p>
        </footer>
    </article>
</main>
