---
layout: layouts/main.njk
---

<main role="main">
  <article class="page">
    <h1 class="title {{ "comp-" + color if color }}">{{ title }}.</h1>

    <div class="prose page__text measure">
      {{ content | safe }}
    </div>
  </article>
</main>
