---
layout: layouts/main.njk
---

<main>
  <article class="Page">
    <header>
        <h1 class="title">{{ title }}</h1>
    	{% if subtitle %}
    		<p class="subhead mb0">{{ subtitle | md(true) | safe }}</p>
    	{% endif %}
    </header>

    <div class="prose">
      {{ content | safe }}
    </div>

    <footer>
        <p class="muted">Updated <time datetime="{{ date | tdate('Machine') }}">{{ date | tdate('HumanDate') }}</time>.</p>
    </footer>
  </article>
</main>
