---
layout: layouts/main.njk
---
<main role="main">
  <article class="Post" role="article" itemscope itemtype="http://schema.org/BlogPosting">
    <header> 
      <h1 itemprop="name" class="{% if link %}fw6 pt3{% else %}title{% endif %}">{{ title }}</h1>

      <p class="mb0 fw5 mt3">
          <time datetime="{{ date | date("ATOM") }}" itemprop="datePublished" pubdate>
            {{ date | date("HUMAN_DATE") }}
          </time>
          {% if updated %}
            <time title="Updated at" class="muted normal ml-1" datetime="{{ updated | date("ATOM") }}" itemprop="dateModified">
                ({{ updated | date("HUMAN_DATE") }})
            </time>
          {% endif %}
          {% if draft %}
            <span class="badge ml1">Draft</span>
          {% endif %}
      </p>

      <p class="muted f5 mb4">
          About {{ content | default("No content", true) | readingTime }} reading time
      </p>
    </header>

    <div class="prose" itemprop="articleBody">
      {% if link %}
        <p class="f3 mb4 no-rhythm">
          <a class="btn" title="{{ link }}" href="{{ link }}">Follow link to {{ link | hostname }} →</a>
        </p>
      {% endif %}
      {{ content | safe }}
    </div>
  </article>
</main>
