---
layout: layouts/main.njk
---
<main role="main">
  <article class="Post" role="article" itemscope itemtype="http://schema.org/BlogPosting">

    
    <header> 
      <h1 itemprop="name" class="title">{{ title }}</h1>

      <p class="mb0 fw5 mt3">
          {% if draft %}
          <span class="badge mr1">Draft</span>
          {% endif %}
          <time
          datetime="{{ date | date("ATOM") }}"
          itemprop="datePublished"
          pubdate>{{ date | date("HUMAN_DATE") }}</time>
      </p>

      <p class="muted mb4">
          About {{ content | default("No content", true) | readingTime }} reading time
      </p>
    </header>

    <div class="prose measure" itemprop="articleBody">
      {{ content | safe }}
    </div>

    <footer>
      {% if keywords %}
        <p class="f5 comp-grey mt5">
          <b class="mr1">Keywords</b> {% for keyword in keywords %}<span class="Post-Keyword">{{ keyword }}</span>{% endfor %}
        </p>
      {% endif %}

      <p class="mt3">
        <a href="/writings" class="btn">&lt;- More writings</a>
      </p>
    </footer>
  </article>
</main>
