---
layout: layouts/main.njk
---
<main>
    <article class="Page Recipe">
        <header>
            <h1 class="title">{{ title }}</h1>
    
            <p class="flex items-center gap justify-between">
                {% if source %}
                    {% if "http" in source %}
                        <a class="btn f6" href="{{ source }}">Original source →</a>
                    {% else %}
                        <span class="detail" title="Original source">{{ source }}</span>
                    {% endif %}
                {% endif %}
    
                <a class="btn f6" href="{{ rawUrl }}">Raw recipe →</a>
            </p>
    
            <p class="detail border border-t pt2">
            {% if has_tried %}
                ☑ ︎I have tried this recipe.
            {% else %}
                ☒ I have not tried this recipe yet.
            {% endif %}
            </p>
        </header>
    
        {% if is_manual_translation %}
            <aside class="Notice mb3">
                Manually translated or transcribed by me.
            </aside>
        {% endif %}
    
        {% if notes %}
            <section class="mb3">
                <div class="prose RecipeNotes">
                    <h1 class="f3">My notes</h1>
                    {{ notes | md | safe }}
                </div>
            </section>
        {% endif %}
    
        <div class="prose">
            <h1 class="f3">The recipe</h1>
            
            
            <div class="RecipeBody">{{ content | safe }}</div>
        </div>
    
        <footer class="flex items-center justify-between">
            <a href=".." class="btn">
          		← All recipes
           	</a>
    
            <p class="mb0 detail">
            This is a <a href="https://cooklang.org">Cooklang</a> based recipe.
            </p>
        </footer>
    </article>
</main>
