---
layout: layouts/main.njk
---
<article role="main" class="Recipe">
    <header class="mb3">
        <h1 class="title">{{ title }}</h1>

        <p class="flex items-center gap">
            {% if source %}
                {% if "http" in source %}
                    <a class="btn f6" href="{{ source }}">Original source →</a>
                {% else %}
                    <span class="muted f6" title="Original source">{{ source }}</span>
                {% endif %}
            {% endif %}

            <a class="btn f6" href="{{ rawUrl }}">Raw recipe →</a>
        </p>

        <p class="muted f6 border border-t pt2">
        {% if has_tried %}
            ☑ ︎I have tried this recipe.
        {% else %}
            ☒ I have not tried this recipe yet.
        {% endif %}
        </p>
    </header>

    {% if is_manual_translation %}
        <aside class="Notice mb3">
            Manually translated or transcribed by me.
        </aside>
    {% endif %}

    <div class="prose">
        {{ content | safe }}
    </div>

    <footer class="mt5 flex items-center justify-between">
        <a href=".." class="muted">
      		<span aria-hidden="true" class="BackLink mr1">←</span> All recipes
       	</a>
    </footer>
</article>
