[role="article"] {
  max-width: to_rem(650);
  width: $page-width;
  margin: $lineheight*2 auto 0;

  header {

    h1 {
      margin-bottom: $lineheight;

      a {
        @include underline($size: 3.5, $offset: .2);
        transition: background-position .2s ease;
        color: #000;

        &:hover {
          color: $link-color;
          @include underline-offset(.1);
        }
      }

      &:hover {
        .icon-link {
          color: $link-color;
        }
      }
    }

    .icon-link {
      color: $grey-light;
      font-size: .8em;
    }
  }

  .post__meta {
    @include smooth;
    text-align: center;
    color: $grey;
    font-family: $sans;
    font-weight: 500;
    font-size: to_em(13);

    .meta__stats {
      color: $grey-light;
      font-size: to_rem(11);
    }
  }
}
