[role="article"] {
  max-width: to_rem(570);
  width: $page-width;
  margin: $lineheight*2 auto 0;

  &.linked {
    header {
      h1 a {
        @include underline($offset: .2, $size: 3, $color: rgba($text-color, .4));

        &:hover {
          @include underline-color(rgba($text-color, .6));
        }
      }
    }
  }

  header {

    h1 {
      margin-bottom: $lineheight;

      a {
        @include underline($size: 3.5, $offset: .2);
        transition: background-position .2s ease;
        color: #000;

        &:hover {
          color: $comp-cerise;
          @include underline-offset(.1);
        }
      }
    }

    .link-icon {
      background-color: rgba($text-color, .95);
      color: #fff;
      border-radius: 100%;
      width: 1.6em;
      height: 1.6em;
      display: inline-block;
      text-align: center;
      line-height: 1.4em;
      padding-right: 0.1em;
      font-size: 1.1em;
    }

    &:hover .link-icon {
      background-color: $text-color;
    }
  }

  .post__meta {
    @include smooth;
    text-align: center;
    color: $grey;
    font-family: $sans;
    font-weight: 500;
    font-size: to_em(13);

    .meta__stats {
      color: $grey-light;
      font-size: to_rem(11);
    }
  }
}

.post-text {
  img,
  iframe,
  figure,
  svg {
    margin: $lineheight*2 auto;
    display: block;
  }

  figcaption {
    padding: 1rem 0;
    text-align: center;
    font-family: $sans;
    font-size: .9em;
  }

  h2, h3{
    font-family: $sans;
    font-weight: bold;
    font-size: to_rem(22);
    margin-top: $lineheight*2;
  }

  h2 {
    border-bottom: 2px solid;
  }

  h3 {
    font-size: 1.3rem;
  }

  pre {
    @include larger-than(800px) {
      margin-left: -$lineheight*4;
      margin-right: -$lineheight*4;
      padding-left: $lineheight*2;
    }
  }

  .ingress strong,
  p:first-child strong {
    color: #222;
    font-family: $sans;
    font-weight: 600;
    font-size: 1.1em;
  }

  a {
    @include underline($size: 3, $offset: .1, $color: rgba($link-color, .4));

    &:hover {
      @include underline-color($link-color);
    }
  }
}
