[role="article"] {
  max-width: to_rem(570);
  width: $page-width;
  margin: $lineheight*2 auto 0;

  &.linked {
    header {
      h1 a {
        @include underline($offset: .2, $size: 3, $color: rgba($text-color, .4));

        &:hover {
          @include underline-color(rgba($text-color, .6));
        }
      }
    }
  }

  header {

    h1 {
      margin-bottom: $lineheight;

      a {
        text-decoration: none;
        color: #000;
      }
    }

    .link-icon {
      background-color: rgba($text-color, .95);
      color: #fff;
      border-radius: 100%;
      width: 1.6em;
      height: 1.6em;
      display: inline-block;
      text-align: center;
      line-height: 1.4em;
      padding-right: 0.1em;
      font-size: 1.1em;
    }

    &:hover .link-icon {
      background-color: $text-color;
    }
  }

  .post__meta {
    text-align: center;
    color: $grey;
    font-family: $mono;
    font-size: to_em(12);

    @include handheld {
      font-size: to_em(13);
    }
  }

  h2 {
    margin-top: $lineheight*2;
  }

  h3 {
    font-family: $sans;
    font-weight: bold;
    font-size: to_rem(15);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: $lineheight;
  }

  pre {
    margin-left: -$lineheight;
    margin-right: -$lineheight;

    @include smaller-than(640px) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .post-text {
    img,
    iframe,
    figure,
    svg {
      margin: $lineheight*2 auto;
      display: block;
    }

    a {
      @include underline($size: 3, $offset: .1, $color: rgba($link-color, .4));

      &:hover {
        @include underline-color($link-color);
      }
    }
  }
}
