[role='contentinfo'] {
  $bg: $comp-cerise;

  background-color: $bg;
  text-align: center;
  font-family: $sans;
  color: rgba(#fff, 0.8);

  a {
    font-style: italic;
    transition: color 0.15s ease;
    color: lighten($bg, 40%);

    &:hover {
      color: #fff;
    }
  }

  h1 {
    margin-top: -$spacing-base;
    margin-bottom: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}
