.page-nav {
  text-align: center;

  a {
    color: $grey;
    display: inline-block;
    padding: 0.3em 0.5em;
    text-decoration: none;

    &:hover {
      color: $link-color;
      text-decoration: underline;
    }
  }

  .separator {
    color: $text-color;
    font-weight: 500;
    letter-spacing: -1px;
    font-size: 1.2em;
    margin: 0 3px;
  }
}
