.playlists-grid {
  $transition-timing: 1.1s;
  $transition-easing: cubic-bezier(0.225, 0.795, 0.58, 0.98);

  @include list-reset;
  margin-top: 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &:hover {
    .playlists-grid__title {
      transform: perspective(1000px) translate3d(0, -2px, -15px);
    }

    .playlists-grid__description {
      transform: perspective(1000px) translate3d(0, -5px, -10px);
    }

    .playlists-grid__cover {
      transform: perspective(1000px) translateZ(-30px);
      box-shadow: rgba(#000, 0.09) 0 5px 20px;
    }
  }

  > li {
    padding: 0 3%;
    margin-bottom: 1.5em;

    &:hover {
      .playlists-grid__cover {
        transform: translateZ(0);
        opacity: 1;
      }

      .playlists-grid__description,
      .playlists-grid__title {
        transform: translate3d(0, 0, 0);
        opacity: 1;
      }
    }
  }

  &__item {
    display: block;
    width: 13em;
    text-align: center;
    text-decoration: none;
    transition: opacity $transition-timing $transition-easing;

    &:hover {
      text-decoration: none;
    }
  }

  &__cover {
    display: block;
    border-radius: 3px;
    margin-bottom: 0.5em;
    transform: translateZ(0);
    transition: transform $transition-timing $transition-easing,
      box-shadow $transition-timing $transition-easing,
      opacity $transition-timing $transition-easing;
    box-shadow: rgba(#000, 0.09) 0 10px 40px;
  }

  &__title {
    font-size: to_em(20);
    margin-bottom: 0.3em;
    line-height: 1.3;
    transform-origin: center top;
    transition: transform $transition-timing $transition-easing,
      opacity $transition-timing $transition-easing;
  }

  &__description {
    @include smooth;
    font-size: to_em(14);
    line-height: 1.3;
    padding: 0 0.5em;
    color: $grey;
    transform-origin: center top;
    opacity: 0;
    backface-visibility: hidden;
    transition: opacity $transition-timing - 0.2s $transition-easing,
      transform $transition-timing - 0.2s $transition-easing;
  }
}
