[role='article'] {
  max-width: $measure-wide;
  width: $page-width;
  margin: 0 auto;

  header {
    h1 {
      margin-bottom: $lineheight;

      a {
        @include underline($size: 3.5, $offset: 0.1);
        transition: background-position 0.2s ease;
        color: #000;

        &:hover {
          color: $link-color;
          @include underline-color($link-color);
        }
      }

      &:hover {
        .icon-link {
          color: $link-color;
        }
      }
    }

    .icon-link {
      color: $grey-light;
      font-size: 0.8em;
    }
  }

  .post__excerpt {
    p:first-child strong {
      color: $text-color;
    }
  }

  .post__meta {
    text-align: center;
    color: $grey;
    font-family: $sans;
    font-size: $font-size-5;

    .meta__stats {
      color: $grey-light;
      font-size: $font-size-7;
    }
  }
}
