/* =NAVIGATION
--------------------------------------------- */

[role='navigation'] {
  display: flex;
  justify-content: space-between;

  ul {
    display: flex;
  }

  a {
    color: var(--grey);
    display: inline-block;
    padding: var(--lineheight) var(--gutter-width);
    text-decoration: none;

    &:hover {
      color: var(--link-color);
      text-decoration: underline;
    }
  }

  .nav--current {
    a {
      font-weight: 500;
      color: var(--text-color);
      cursor: default;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.TopNav {
  font-weight: 500;

  li:first-child a {
    padding-left: 0;
  }
}

html:not(.home) .TopNav {
  border-bottom: 1px solid var(--grey-light);
  margin-bottom: var(--lineheight);
}

.FooterNav {
  flex-direction: column;

  &__Primary {
    font-size: var(--font-size-3);
    margin-bottom: var(--lineheight);
  }
  
  &__Secondary {
    font-size: var(--font-size-4);
  }

  &::before {
    content: '';
    display: block;
    height: 1px;
    background-color: var(--grey-light);
    width: 6rem;
    margin: calc(var(--lineheight) * 2) auto;
  }

  a {
    padding: 0.5em 1em;
  }

  ul {
    justify-content: center;
  }

  @media all and (max-width: 481px) {
    ul {
      flex-direction: column;
    }

    li:not(:last-child)::after {
      display: none;
    }

    a {
      display: block;
    }
  }
}

.home [role='navigation'] {
  justify-content: center;
}

.mobile-nav-trigger {
  display: none;
  text-align: center;
  text-decoration: none;
  font-family: var(--sans);
  font-size: to_rem(13);
  padding: 1em 0.5em;
  color: var(--grey);

  .icon {
    position: relative;
    top: -1px;
    color: var(--grey-light);
  }

  @media all and (max-width: 481px) {
    display: block;
  }
}
