/* =NAVIGATION
--------------------------------------------- */

[role='navigation'] {
  ul {
    display: flex;
  }

  a {
    color: var(--text-color);
    text-decoration: none;

    &:hover {
      color: var(--link-color);
      text-decoration: underline;
    }
  }
}

/*
TOP NAV
----------------------------------------------------------------*/

.TopNav {
  display: flex;
  justify-content: center;
  font-weight: 500;

  li:first-child a {
    padding-left: 0;
  }

  a {
    display: inline-block;
    color: var(--grey);
    padding: var(--lineheight) var(--gutter-width);
  }

  .nav--current {
    a {
      font-weight: 500;
      color: var(--text-color);
      cursor: default;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

/*
SIDE NAV
----------------------------------------------------------------*/

.SideNav {
  margin-right: 3rem;
  margin-top: var(--lineheight);
  width: 9rem;

  ul {
    flex-direction: column;
  }

  a {
    font-weight: normal;
  }

  h1 {
    margin-bottom: calc(var(--lineheight) * 3);

    a {
      color: #000;
      font-weight: 500;

      @media only screen and (prefers-color-scheme: dark) {
        color: #fff;
      }
    }
  }

  @media screen and (max-width: 480px) {
    width: 100%;
    padding-bottom: var(--lineheight);
    margin-bottom: calc(var(--lineheight) - 1px);
    border-bottom: 1px solid currentColor;
    margin-right: 0;

    h1 {
      margin-bottom: var(--lineheight);
    }
  }

  .nav--current {
    a {
      font-weight: 600;
    }
  }
}

/*
FOOTER NAV (deprecated)
----------------------------------------------------------------*/

.FooterNav {
  flex-direction: column;

  &__Primary {
    font-size: var(--font-size-3);
    margin-bottom: var(--lineheight);
  }

  &__Secondary {
    font-size: var(--font-size-4);
  }

  &::before {
    content: '';
    display: block;
    height: 1px;
    background-color: var(--grey-light);
    width: 6rem;
    margin: calc(var(--lineheight) * 2) auto;
  }

  a {
    padding: 0.5em 1em;
  }

  ul {
    justify-content: center;
  }

  @media all and (max-width: 481px) {
    ul {
      flex-direction: column;
    }

    li:not(:last-child)::after {
      display: none;
    }

    a {
      display: block;
    }
  }
}

.mobile-nav-trigger {
  display: none;
  text-align: center;
  text-decoration: none;
  font-family: var(--sans);
  font-size: to_rem(13);
  padding: 1em 0.5em;
  color: var(--grey);

  .icon {
    position: relative;
    top: -1px;
    color: var(--grey-light);
  }

  @media all and (max-width: 481px) {
    display: block;
  }
}
