/*
POSTS LIST
----------------------------------------------------------------*/

.PostItem {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:last-child {
    border-bottom: 0;
  }

  time {
    font-size: var(--font-size-4);
    font-variant-numeric: tabular-nums;
    letter-spacing: -0.05em;
  }

  &__ReadingTime {
    color: var(--grey);
    font-weight: 500;
    margin-right: 0.25em;
  }

  &__Link {
    display: block;
    padding: calc(var(--lineheight) / 3) 0;
    font-size: var(--font-size-3);
    flex: 1;
  }

  &__Excerpt {
    font-size: var(--font-size-4);
    margin-bottom: 0;
    max-width: var(--measure);
  }

  @media screen and (max-width: 480px) {
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: calc(var(--lineheight) / 3);

    &__Link {
      max-width: 90%;
      font-size: 1em;
    }
  }
}

.PostsList {
  list-style: none;

  &--Tight {
    .PostItem {
      border: 1px solid var(--grey-light);
      border-width: 0 0 1px;
      margin: 0;
    }
  }

  @media screen and (prefers-color-scheme: dark) {
    &--Tight {
      .PostItem {
        border: 0;
      }
    }
  }
}
