// Font overrides

html {
  font: normal #{$base-size}px/#{$leading / $base-size} $tumblr-font;
}

body {
  margin-top: $lineheight*2;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sans;
  font-weight: bold;
}

[role="main"] {
  @include wrapper(to_rem(580));
}

[role="banner"] {
  h1 {
    margin-top: $lineheight;
    margin-bottom: 0;
    font-family: $headings;
    font-weight: normal;
    font-size: 9vmax;

    // Image masking for WebKit.
    // http://nimbupani.com/using-background-clip-for-text-with-css-fallback.html
    background: -webkit-linear-gradient(transparent, transparent),
                 url('http://www.johanbrook.com/assets/images/road-improved.jpg') repeat;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-position: 0 -28%;
  }

  p {
    color: #bbb;
    font-size: 1.1em;

    &:last-child {
      margin-bottom: $lineheight*3;
    }
  }
}

[role="article"] {
  margin-bottom: $lineheight*8;
  max-width: none;
  width: 100%;

  header {
    text-align: center;
    margin-bottom: $lineheight*2;

    h1 {
      font-size: to_rem(20);
      margin-bottom: 0;
      text-align: left;
    }
  }

  .html_photoset {
    margin-bottom: $lineheight;
  }

  .post__meta {
    font-size: .9em;
    text-align: left;
    font-family: $mono;

    .meta__permalink {
      color: $grey;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        color: darken($grey, 10%);
      }
    }
  }

  &.post--link {
    header {
      h1 {
        font-size: to_rem(20);
      }
    }
  }

  &.post--video {
    .post__content {
      margin: 0 -14vw $lineheight*2;
    }

    iframe {
      display: block;
      margin: 0 auto;
    }
  }
}

.post__caption {
  text-align: center;
}

.post-text .ingress strong, .post-text p:first-child strong {
  font-family: $tumblr-font;
  margin-left: -1em;
}

blockquote {
  font-family: $serif;
  font-style: normal;
  font-size: to_rem(17);
}
