body {
  @include wrapper;
  margin-top: $lineheight*2;
}

[role="banner"] {
  h1 {
    margin-bottom: 0;
    font-size: to_rem(30);
  }
}

[role="article"] {
  margin-bottom: $lineheight*8;

  header {
    text-align: center;
    margin-bottom: $lineheight*2;

    h1 {
      font-size: to_rem(24);
    }
  }

  .html_photoset {
    margin-bottom: $lineheight;
  }

  .post__meta {
    .meta__permalink {
      color: $grey;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        color: darken($grey, 10%);
      }
    }
  }

  &.post--link {
    header {
      h1 {
        font-size: to_rem(20);
      }
    }
  }
}

.photo__caption {
  text-align: center;
}
