/* =NAVIGATION
--------------------------------------------- */

[role='navigation'] {
  & ul {
    display: flex;
  }

  & a {
    color: var(--color-text);
    text-decoration: none;
    white-space: nowrap;

    &:hover {
      color: var(--link-color);
      text-decoration: underline;
    }
  }
}

/*
SIDE NAV
----------------------------------------------------------------*/

.SideNav {
  margin-right: 3rem;
  margin-top: var(--lineheight);
  width: 9rem;

  & ul {
    flex-direction: column;
    top: var(--lineheight);
    position: sticky;
  }

  & a:not(h1 > a) {
    font-weight: normal;
    position: relative;
  }

  & [aria-current='page'] a,
  & a:focus {
    outline: 0;

    &::before {
      content: '->';
      display: block;
      position: absolute;
      right: calc(100% + 0.5em);
      white-space: nowrap;
    }
  }

  & [aria-current='page'] a {
    font-weight: 600;
  }

  & a:focus {
    color: var(--link-color-hover);
  }

  & h1 {
    --offset-top: 17px;
    line-height: calc(var(--lineheight) * 3);
    margin-bottom: calc(var(--lineheight) - var(--offset-top));
    padding-top: var(--offset-top);

    &::after,
    &::before {
      display: none;
    }
  }

  @media screen and (max-width: 55rem) {
    width: 100%;
    padding-bottom: var(--lineheight);
    margin-bottom: calc(var(--lineheight) - 1px);
    border-bottom: 1px solid currentColor;
    margin-right: 0;

    & h1 {
      margin-bottom: var(--lineheight);
    }

    & [aria-current='page'] a,
    & a:focus {
      &::before {
        display: none;
      }
    }
  }
}

.mobile-nav-trigger {
  display: none;
  text-align: center;
  text-decoration: none;
  font-family: var(--sans);
  font-size: to_rem(13);
  padding: 1em 0.5em;
  color: var(--grey);

  .icon {
    position: relative;
    top: -1px;
    color: var(--grey-light);
  }

  @media all and (max-width: 481px) {
    display: block;
  }
}

/*
HORIZONTAL NAV
----------------------------------------------------------------*/

.HorizNav {
  font-size: var(--f3);

  & a {
    padding: 0.5em 1em;
  }

  & ul {
    display: flex;
    justify-content: center;
    gap: 1.5em;
  }

  @media all and (max-width: 1150px) {
    & ul:not(.HorizNav__Sub) {
      display: grid;
      grid: auto-flow / repeat(2, 1fr);
      text-align: center;
    }

    & li:not(:last-child)::after {
      display: none;
    }

    & a {
      display: block;
    }
  }
}
