/*
FOOTER
----------------------------------------------------------------*/

[role='contentinfo'] {
  padding-bottom: var(--lineheight);

  & nav {
    text-transform: lowercase;

    & a {
      font-weight: 500;
    }
  }
}
