/*
SIDE NAV
----------------------------------------------------------------*/

.SideNav {
  margin-right: 3rem;
  width: 9rem;

  & a {
    color: var(--color-text);
    white-space: nowrap;

    &:hover {
      color: var(--link-color);
      text-decoration: underline;
    }
  }

  & ul {
    display: flex;
    flex-direction: column;
    top: var(--lineheight);
    position: sticky;
  }

  & a:not(h1 > a) {
    font-weight: normal;
    position: relative;
  }

  & h1 > a {
    font-weight: 500;
  }

  & [aria-current='page'] a,
  & a:focus {
    outline: 0;

    &::before {
      content: '⇢';
      display: block;
      position: absolute;
      right: calc(100% + 0.5em);
      white-space: nowrap;
    }
  }

  & [aria-current='page'] a {
    font-weight: 600;
  }

  & a:focus {
    color: var(--link-color-hover);
  }

  & h1 {
    --offset-top: 17px;
    line-height: calc(var(--lineheight) * 3);
    margin-bottom: calc(var(--lineheight) - var(--offset-top));
    padding-top: var(--offset-top);
  }

  @media screen and (max-width: 55rem) {
    width: 100%;
    padding-bottom: var(--lineheight);
    margin-bottom: calc(var(--lineheight) - 1px);
    border-bottom: 1px solid currentColor;
    margin-right: 0;

    & h1 {
      line-height: var(--lineheight);
      margin-bottom: var(--lineheight);
      padding-top: 0;
    }

    & [aria-current='page'] a,
    & a:focus {
      &::before {
        display: none;
      }
    }
  }
}

.mobile-nav-trigger {
  display: none;
  text-align: center;
  text-decoration: none;
  font-family: var(--sans);
  font-size: to_rem(13);
  padding: 1em 0.5em;
  color: var(--grey);

  .icon {
    position: relative;
    top: -1px;
    color: var(--grey-light);
  }

  @media all and (max-width: 481px) {
    display: block;
  }
}
