.NavCommon {
	& a {
		color: var(--color-text);
		white-space: nowrap;
		text-decoration: none;

		&:hover {
			color: var(--link-color-hover);
			text-decoration: underline;
		}
	}
}

.MainNav {
	margin-right: 3rem;
	width: var(--sidenav-width);
	position: relative;
	z-index: 2;

	& ul {
		top: var(--lineheight);
		position: sticky;
		margin-left: 2.2rem; /* Align with back btn arrow */
	}

	& a:not(h1 > a) {
		font-weight: normal;
		position: relative;
	}

	& h1>a {
		font-weight: 500;
		color: var(--color-text);
		white-space: nowrap;
		text-decoration: none;

		&:hover {
			color: var(--link-color-hover);
			text-decoration: underline;
		}
	}

	& [aria-current='page'] a,
	& a:focus {
		outline: 0;

		&::before {
			content: '⇢';
			display: block;
			position: absolute;
			right: calc(100% + 0.5em);
			white-space: nowrap;
		}
	}

	& [aria-current='page'] a {
		font-weight: 600;
	}

	& a:focus {
		color: var(--link-color-hover);
	}

	& h1 {
		--offset-top: 18px;
		line-height: calc(var(--lineheight) * 3);
		margin-bottom: -4px;
		padding-top: var(--offset-top);
	}

	@media screen and (max-width: 980px) {
		width: calc(100% + var(--inset) * 2);
		margin: calc(var(--inset) * -1);
		padding: calc(var(--inset) * 1);
		margin-bottom: calc(var(--lineheight) / 2 - 1px);
		position: sticky;
		inset: 0;
		overflow-x: auto;
		background-color: var(--color-bg);
		font-size: var(--f5);

		& h1 {
			position: absolute;
			left: -9999em;
		}

		& ul {
			display: flex;
			margin: 0;
			flex-direction: row;
			gap: .75em;
		}

		& [aria-current='page'] a,
		& a:focus {
			&::before {
				display: none;
			}
		}
	}

	& #mobile-nav-trigger {
		display: none;

		&:checked+ul {
			animation: nav 200ms ease-out both;
		}
	}
}

@keyframes nav {
	from {
		opacity: 1;
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.BackLink {
	text-decoration: none;
	color: var(--color-text);
	background-color: var(--grey-lightest);
	width: 1.6em;
	text-align: center;
	line-height: 1.6em;
	aspect-ratio: 1/1;
	display: inline-block;
	border-radius: 4em;
}

.home [role="navigation"] {
	@media screen and (min-width: 500px) {
		& li {
			display: inline;

			&:not(:last-child)::after {
				content: ' / ';
				display: inline-block;
				margin: 0 .5em;
				color: var(--color-text-detail);
				transform: scaleY(1.4);
			}
		}
	}

	@media screen and (max-width: 499px) {
		columns: 2;
		text-align: center;
		line-height: 2;
	}
}
