/*
BUTTONS
----------------------------------------------------------------*/

.btn {
  --btn-background: 0, 116, 255;

  -webkit-appearance: none;
  display: inline-block;

  font: 500 1em/1.5 var(--sans);
  color: var(--link-color);
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  padding: 0.4em 1em;
  transition: background-color 0.2s ease;
  background-color: rgba(var(--btn-background), 0.05);

  &:hover {
    text-decoration: none;
    color: var(--link-color-hover);
    background-color: rgba(var(--btn-background), 0.08);
  }

  &:active {
    color: var(--link-color-active);
    background-color: rgba(var(--btn-background), 0.1);
  }

  &.btn--large {
    font-size: 1.2em;
    padding: 0.5em 1.3em;
  }

  &.btn--huge {
    font-size: 1.5em;
    padding: 0.7em 1.4em;
  }

  &.btn--inverted {
    border: 1px solid currentColor;
    background: none;
  }
}
