/* Styles for Johan Brook.com

Built for IE6, made in Dreamweaver.

Just kidding.
--------------------------------------------- */

@import url('https://rsms.me/inter/inter-ui.css');

// Tools

@import 'tools/functions';
@import 'variables';
@import 'tools/mixins';

// Lib

@import 'lib/normalize';
@import 'lib/fonts';

// Common

@import 'common/elements';
@import 'common/layout';
@import 'common/headings';
@import 'common/navigation';
@import 'common/buttons';

// Helpers

@import 'helpers/box-sizing';
@import 'lib/helpers';
@import 'helpers/spacing';
@import 'helpers/colours';
@import 'helpers/text-align';
@import 'helpers/type-scale';
@import 'helpers/typography';
@import 'helpers/alignment';
@import 'helpers/font-family';
@import 'helpers/letter-spacing';
@import 'helpers/font-weight';
@import 'helpers/text';
@import 'helpers/flexbox';

// Views
@import 'views/page';
@import 'views/home';
@import 'views/posts';
@import 'views/post';
@import 'views/changelog';

// Partials

@import 'partials/post';
@import 'partials/story-blocks';
@import 'partials/playlists';
@import 'partials/page-nav';
@import 'partials/footer';
@import 'partials/posts-list';

// Misc

@import 'prism-themes/johan-light';

@import 'vendor/typeset';
