/* Styles for Johan Brook.com

Built for IE6, made in Dreamweaver.

Just kidding.
--------------------------------------------- */

// Tachyons :yay:

// @import 'type-scale';
// @import 'typography';
// @import 'line-height';
// @import 'font-weight';
// @import 'font-style';
// @import 'text-align';
// @import 'letter-spacing';

// @import 'widths';
// @import 'max-widths';
// @import 'spacing';
// @import 'opacity';

// Tools

@import 'variables';
@import 'tools/functions';
@import 'tools/mixins';

// Lib

@import 'lib/normalize';
@import 'lib/tomorrow';
@import 'lib/fonts';

// Common

@import 'common/elements';
@import 'common/headings';
@import 'common/navigation';
@import 'common/buttons';

// Helpers

@import 'helpers/box-sizing';
@import 'lib/helpers';
@import 'helpers/spacing';
@import 'helpers/colours';
@import 'helpers/text-align';
@import 'helpers/type-scale';
@import 'helpers/typography';
@import 'helpers/alignment';
@import 'helpers/font-family';
@import 'helpers/letter-spacing';
@import 'helpers/text';

// Views
@import 'views/page';
@import 'views/home';
@import 'views/posts';
@import 'views/post';
@import 'views/contact';
@import 'views/changelog';

// Partials

@import 'partials/post';
@import 'partials/story-blocks';
@import 'partials/playlists';
@import 'partials/page-nav';
@import 'partials/footer';
