:root {
  /* Colors */

  --comp-green: #6ebc30;
  --comp-blue: #4bb2f7;
  --comp-red: #dc353f;
  --comp-neon: #54cf88;
  --comp-teal: #227b90;
  --comp-teal-light: #13b1bf;
  --comp-orange: #ff8c00;
  --comp-beige: #fffadc;
  --comp-cerise: #e01270;
  --comp-yellow: #f7d628;

  --background-color: #fff;

  --text-color: #333333;
  --grey: #949494;
  --grey-light: rgba(#bec7c6, 0.5);
  --grey-lightest: rgba(#bec7c6, 0.2);
  --off-white: #fafafa;

  --link-color: #006ef3;
  --link-color-hover: #0055bb;
  --link-color-visited: #6300e2;
  --border-color: #e9e9e9;

  --btn-color: #0074ff;
  --btn-color-hover: #005ed1;
  --btn-color-active: #004daa;

  --pre-background: #fff;
  --pre-color: #5e6687;
  --code-background: #fff;
  --code-color: #000;

  --hr-color: #444;

  --selection-bg-color: var(--comp-yellow);
  --selection-color: var(--text-color);

  @supports (color: color(display-p3 1 1 1 / 1)) {
    --link-color: color(display-p3 0 0.2706 0.9569 / 1);
    --link-color-hover: color(display-p3 0 0.3333 0.7333 / 1);
    --link-color-visited: color(display-p3 0.3882 0 0.8863 / 1);
  }

  @media screen and (prefers-color-scheme: dark) {
    --background-color: #1a1a1a;
    --text-color: #e1e1e1;
    --link-color: #5aa5ff;
    --link-color-hover: #aed4ff;
    --link-color-visited: #7a8be5;
    --pre-background: #222;
    --pre-color: #eee;
    --code-background: #333;
    --code-color: #fff;

    --comp-yellow: #c3a507;

    --border-color: #fff;

    @supports (color: color(display-p3 1 1 1 / 1)) {
      --link-color: color(display-p3 0.3529 0.6471 1 / 1);
      --link-color-hover: color(display-p3 0.6824 0.8314 1 / 1);
    }
  }

  /* Typography */

  --serif: Georgia, serif;
  --sans: 'Inter', -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
  --mono: Hack, Menlo, Monaco, 'Lucida Console', 'Liberation Mono',
    'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace,
    serif;
  --headings: var(--sans);
  --tumblr-font: var(--sans);

  --font-size-base: 17;
  --leading-factor: 1.64;
  --leading: calc(var(--font-size-base) * var(--leading-factor));
  --lineheight: calc(var(--leading-factor) * 1rem);

  --font-size-headline: 6rem;
  --font-size-subheadline: 5rem;

  --font-size-title: calc((68 / var(--font-size-base)) * 1rem);
  --font-size-1: calc((32 / var(--font-size-base)) * 1rem);
  --font-size-2: calc((24 / var(--font-size-base)) * 1rem);
  --font-size-3: calc((20 / var(--font-size-base)) * 1rem);
  --font-size-4: 1rem;
  --font-size-5: calc((15 / var(--font-size-base)) * 1rem);
  --font-size-6: calc((13 / var(--font-size-base)) * 1rem);

  --letter-spacing-tight: -0.002em;
  --letter-spacing-tighter: -0.025em;
  --letter-spacing-1: 0.1em;
  --letter-spacing-2: 0.25em;

  --line-height-solid: 1;
  --line-height-title: calc(var(--lineheight) * 3);
  --line-height-copy: var(--leading-factor);

  /* See https://developers.google.com/web/updates/2016/02/font-display */
  --font-strategy: fallback;

  /* Measures */

  --column-width: 3.52rem;
  --gutter-width: 1.17rem;

  --max-width: 40rem;

  --measure: 52ch;
  --measure-narrow: 45ch;
  --measure-wide: 65ch;

  --spacing-base: calc(var(--leading-factor) * 1rem);

  --spacing-none: 0;
  --spacing-extra-small: calc(var(--spacing-base) / 3);
  --spacing-small: calc(var(--spacing-base) / 2);
  --spacing-medium: var(--spacing-base);
  --spacing-large: calc(var(--spacing-base) * 2);
  --spacing-extra-large: calc(var(--spacing-base) * 3);
  --spacing-extra-extra-large: calc(var(--spacing-base) * 4);
  --spacing-extra-extra-extra-large: calc(var(--spacing-base) * 6);

  /* Breakpoints */

  --desktop: 1700px;
  --laptop: 1281px;
  --tablet: 768px;
  --handheld: 481px;

  --breakpoint-not-small: screen and (min-width: var(--handheld));
  --breakpoint-medium: screen and (min-width: 30em) and (max-width: 60em);
  --breakpoint-large: screen and (min-width: 60em);
}
