/* =ABOUT
--------------------------------------------- */

.about {

  .text-column {
    margin: 0 auto;
  }

  &__contact {
    text-align: center;
    color: $grey;
    max-width: to_rem(500);
    line-height: 1.8;

    p {
      margin: 0 auto $lineheight*2;

      &:last-child {
        max-width: to_rem(425);
      }
    }
  }
}
