/* =ABOUT
--------------------------------------------- */

.about {

  [role="main"] {
    text-align: center;
    color: $grey;

    a:not(.no-underline) {
      @include underline($size: 3, $offset: .1, $color: rgba($link-color, .4));

      &:hover {
        @include underline-color($link-color);
      }
    }
  }

  .avatar {
    margin: 0 auto $lineheight*2;
    width: 212px;
    animation: blur 1s .5s ease both;
  }

  .text-column {
    margin: 0 auto;

    hr {
      margin: $lineheight*2 auto;
    }
  }

  .about__body {
    text-align: left;
    color: $text-color;

    p {
      margin-bottom: 0;
      text-indent: 2em;
    }

    hr + p,
    p:first-child {
      text-indent: 0;
    }
  }

  &__contact {
    max-width: to_rem(550);
    line-height: 1.7;
    width: $page-width;
    font-family: $sans;
    margin: $lineheight*2 0;
    color: $text-color;

    p {
      margin: 0 auto $lineheight;

      &:first-child {
        font-size: 1.1em;
      }

      &:last-child {
        max-width: to_rem(425);
        font-style: italic;
        font-weight: 300;
        line-height: 1.6;
      }
    }
  }

  .notices {
    margin: $lineheight*4 5%;
    width: $page-width;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: $grey;

    p {
      font-family: $mono;
      font-size: to_em(12);
      margin: 0 5%;
    }

    > div {
      flex: 1;
      max-width: 20rem;
    }

    @include handheld {
      margin-bottom: $lineheight*2;
      flex-direction: column;
      align-items: center;

      > div {
        margin-bottom: $lineheight;
      }
    }
  }

  .talking {
    p {
      max-width: to_rem(500);
    }
  }

  .misc {
    width: $page-width;
    margin: $lineheight*3 5%;

    p {
      max-width: to_rem(450);
      margin: 0 auto $lineheight*2;
    }
  }

  .bye {
    font-weight: 300;
    color: $grey-light;
    font-size: .85rem;
    font-family: $sans;
  }
}

.about__projects__list {
  text-align: left;
  max-width: to_rem(1160);
  width: 95%;
  margin: $lineheight*2 auto 0;
  margin-top: $lineheight*2;

  h3 {
    font-family: $mono;
    font-size: to_rem(17);
    @include smooth;

    a {
      color: $text-color;
    }
  }

  .project__link {
    margin-bottom: $lineheight / 2;
  }

  .project__description {
    font-size: .85em;
    font-family: $sans;
    color: #777;
  }
}

.presentation-block {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 50px;
    margin-right: 1rem;
  }

  p {
    margin: 0;
    text-align: left;
    line-height: 1.4;
  }
}
