/* =CONTACT
--------------------------------------------- */

.about__contact {
  line-height: 1.7;
  font-family: $sans;
  margin: $lineheight*2 0;
  color: $text-color;

  ul {
    margin-bottom: $lineheight;
  }
}
