/* =CONTACT
--------------------------------------------- */

.about__contact {
  max-width: to_rem(550);
  line-height: 1.7;
  width: $page-width;
  font-family: $sans;
  margin: $lineheight*2 0;
  color: $text-color;

  ul {
    margin-bottom: $lineheight;
  }
}
