/* =HOME VIEW
--------------------------------------------- */

.home {
  $break: 975px;
  padding-bottom: 0;

  .main-navigation {
    display: none;
  }

  [role="banner"] {
    background-color: $comp-yellow;
    padding: 5% 5% $lineheight*5;
    font-family: $sans;
    font-weight: bold;
    font-size: 1.3em;
    line-height: 1.4;

    @include larger-than($break) {
      padding-top: $lineheight*5;
      padding-bottom: $lineheight*8;
    }

    h1 {
      max-width: to_rem(640px);
    }

    .page-intro {
      max-width: to_rem(550px);
    }
  }

  h1 {
    font-size: to_rem(65);
    color: rgba(#000, .8);
    line-height: 1.2;
    letter-spacing: -1px;

    @include tablet {
      font-size: to_rem(48);
    }

    @include handheld {
      &:not([role="banner"] h1) {
        font-size: to_rem(36);
      }
    }
  }

  h2 {
    color: $grey;
    margin-bottom: $lineheight / 2;
    font-size: 1.1em;
    font-weight: normal;
  }

  .outset {
    padding: 0 5%;

    @include larger-than($break) {
      margin-left: -25vw;
      padding: 0;
    }
  }

  [role="main"] {

    .home-offset {
      &:first-child {
        margin-top: -$lineheight*4;
        position: relative;
        z-index: 10;
      }
    }
  }

  .home-offset {
    @include larger-than($break) {
      padding-left: 30vw;
    }
  }

  .home-about {
    .post-text {
      @include larger-than($break) {
        margin-bottom: $lineheight*2;
      }
    }
  }

  .post-text {
    max-width: to_rem(620px);
    width: 90%;
    font-size: 1.1rem;
    @include smooth(false);

    @include smaller-than($break) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .section-home-more {
    font-family: $sans;
    text-align: center;
    max-width: to_rem(630px);
    width: 90%;
    margin: 0 auto $lineheight*3;
    line-height: 1.8;

    @include larger-than($handheld) {
      .muted {
        padding: 0 2rem;
      }
    }

    p:not(:last-child) {
      margin-bottom: $lineheight;
    }

    @include handheld {
      text-align: left;
      margin-bottom: 0;
    }
  }

  .latest-post {
    color: darken($grey, 20%);
    font-size: .8em;

    p {
      margin-bottom: $lineheight / 2;
    }

    &__stats {
      font-family: $sans;
      font-weight: 300;
      color: $grey-light;
    }
  }

  footer {
    text-align: center;
    background-color: $comp-yellow;
    padding: $lineheight*2 5%;
    margin-top: $lineheight;

    h1 {
      margin-top: -$lineheight;
      position: relative;
      z-index: 10;
    }

    .outro {
      font-size: .9em;
      color: rgba(#000, .5);
    }

    .footer-nav {

      &::after {
        content: '';
        height: 2px;
        display: block;
        width: 5rem;
        margin: $lineheight*2 auto;
        background-color: rgba(#000, .7);
      }
    }
  }
}
