/* =PAGE
--------------------------------------------- */

.page {


  &__text {
    margin: 0 auto;
    width: $page-width;
    max-width: $column-width;
    font-family: $mono;
    font-size: to_em(13);
  }
}
