/* =POSTS VIEW
--------------------------------------------- */

.posts {

  [role="main"] {
    max-width: to_rem(540);
    margin: 0 auto;
  }

  [role="article"] {
    max-width: 100%;
    width: 100%;
    margin-bottom: $lineheight*2;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: $lineheight*2;

    header {
      position: relative;

      .post__meta {
        text-align: left;
        margin: 0;

        .meta__stats,
        .meta__permalink {
          font-size: .9em;
        }

        a {
          font-weight: 600;
          color: rgba($text-color, .8);

          &:hover {
            color: $text-color;
          }
        }
      }

      .icon-link {
        position: absolute;
        left: -2.5rem;
        top: 1.9rem;

        @include smaller-than(690px) {
          display: none;
        }
      }
    }

    h1 {
      font-size: to_rem(28);
      margin-bottom: $lineheight / 2;
    }

    .post-text {
      font-family: $mono;
      font-size: to_rem(13);
      color: darken($grey, 5%);
      text-indent: -1em;

      strong {
        font-family: $mono;
      }

      :last-child {
        margin-bottom: 0;
      }
    }
  }
}

.read-more {
  text-align: right;
  font-family: $mono;
  font-size: to_em(12);
}
