/* =CHANGELOG
--------------------------------------------- */

.changelog {
  .page__text {
    h2 {
      font-size: $font-size-3;
      position: relative;

      @include larger-than($handheld) {
        &::before {
          content: '##';
          position: absolute;
          color: $grey-light;
          left: -2em;
          font-size: 0.8em;
          top: 0.4ex;
        }
      }
    }

    > ul {
      padding-left: 0;
      margin-bottom: $spacing-base * 2;

      ul {
        margin-bottom: 0;
      }

      &:not(.latest) {
        color: $grey;
      }

      strong {
        color: $text-color;
      }
    }

    li > ul {
      padding-left: 1.5rem;
    }
  }
}
