/* =HOME VIEW
--------------------------------------------- */

.home {
  $break: 975px;
  padding-bottom: 0;

  .main-navigation {
    @include larger-than($handheld) {
      position: absolute;
      width: 100%;
      z-index: 10;
    }

    @include smaller-than($break) {
      display: none;
    }

    @include handheld {
      display: flex;
    }
  }

  [role="banner"] {
    padding: $lineheight*5 5%;
    margin-bottom: $lineheight*4;
    line-height: 1.4;
    border-bottom: 1px solid $border-color;

    h1 {
      max-width: to_rem(640px);
    }
  }

  h1 {
    line-height: 1.2;

    @include tablet {
      font-size: to_rem(48);
    }

    @include handheld {
      &:not([role="banner"] h1) {
        font-size: to_rem(36);
      }
    }
  }

  h2 {
    margin-bottom: $lineheight / 2;
  }

  .outset {
    padding: 0 5%;

    @include larger-than($break) {
      margin-left: -25vw;
      padding: 0;
    }
  }

  .outset-figure {
    position: absolute;
    left: -26vw;
    width: 22vw;

    img {
      margin: 0 0 .5rem;
    }

    figcaption {
      font-style: italic;
      font-size: .8em;
      font-family: $serif;
      color: $grey-light;
    }
  }

  .home-face {
    @include smaller-than($break) {
      position: static;
      margin: 0 auto $lineheight;
      width: 60%;
    }
  }

  .home-offset {
    @include larger-than($break) {
      padding-left: 30vw;
    }
  }

  .home-about {
    h1 {
      margin-bottom: $lineheight*2;
    }

    .post-text {
      @include larger-than($break) {
        margin-bottom: $lineheight*2;
      }
    }
  }

  .post-text {
    position: relative;
    @include smooth(false);

    p {
      margin-bottom: $lineheight*2;
    }

    strong {
      font-family: $sans;
      font-weight: 800;
      font-size: 1.1em;
    }

    blockquote {
      font-weight: 300;
      font-style: italic;
      font-size: to_em(26);
      border-left: 0;
      padding-left: 0;
      font-family: $sans;
      margin-left: -20%;
    }

    @include smaller-than($break) {
      margin-left: auto;
      margin-right: auto;

      blockquote {
        margin-left: 0;
      }
    }
  }

  .section-home-more {
    line-height: 1.8;

    @include larger-than($handheld) {
      .muted {
        padding: 0 2rem;
      }
    }

    p:not(:last-child) {
      margin-bottom: $lineheight;
    }

    @include handheld {
      margin-bottom: 0;
    }
  }

  .latest-post {
    color: darken($grey, 20%);
    font-size: .8em;

    p {
      margin-bottom: $lineheight / 2;
    }

    &__stats {
      font-family: $sans;
      font-weight: 300;
      color: $grey-light;
    }
  }
}
