/* =POST VIEW
--------------------------------------------- */

.post {
  [role='article'] {
    margin-top: 0;

    header {
      text-align: center;
      margin-bottom: $lineheight * 2;
      max-width: to_em(600);

      h1 {
        margin-bottom: $lineheight / 2;
        line-height: 1.2;
      }
    }

    .meta__stats {
      display: block;
    }
  }
}
