/* =POST VIEW
--------------------------------------------- */
.Post {
  .title {
    @include handheld {
      font-size: $font-size-1;
      letter-spacing: $letter-spacing-tighter;
      line-height: inherit;
    }
  }

  &-Keyword {
    display: inline-block;
    border-radius: 4px;
    padding: 0 .5em;
    background-color: rgba($grey-light, .2);

    &:not(:last-child) {
      margin-right: 3px;
    }
  }
}
