/* =POSTS VIEW
--------------------------------------------- */

.posts {
  max-width: $measure;
  margin: 0 auto;
  width: $page-width;

  @include desktop {
    > h1 {
      margin-left: -3.5%;
    }
  }

  li {
    margin-bottom: $spacing-base * 2;
    border-bottom: 2px solid #e6e6e6;
    padding-bottom: $spacing-base * 2;
  }

  [role='article'] {
    max-width: 100%;
    width: 100%;

    &:hover {
      .post__excerpt {
        color: $text-color;
      }
    }

    header {
      position: relative;

      .post__meta {
        text-align: left;
        margin: 0;
        font-size: $font-size-7;

        .meta__stats,
        .meta__permalink {
          font-size: 0.9em;
        }

        a {
          font-weight: 600;
          color: rgba($text-color, 0.8);

          &:hover {
            color: $text-color;
          }
        }
      }

      .icon-link {
        position: absolute;
        left: -2.5rem;
        top: 1.9rem;

        @include smaller-than(690px) {
          display: none;
        }
      }
    }

    h1 {
      margin-bottom: $spacing-base / 2;
      font-size: $font-size-3;
    }

    .post__excerpt {
      color: $grey;
      font-size: $font-size-7;

      :last-child {
        margin-bottom: 0;
      }
    }
  }
}

.read-more {
  text-align: right;
  font-family: $mono;
  font-size: to_em(12);
}
