<!DOCTYPE html>
<html class="{{page}}">
  <head>
    <title>{{ title }}</title>

    <meta charset="utf-8">
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ tags }}">
    <meta name="author" content="Johan Brook">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic|Open+Sans:400,600,700|Trocchi' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/assets/stylesheets/johan.css">
    <link rel="stylesheet" href="http://yastatic.net/highlightjs/8.2/styles/solarized_light.min.css">

    <link rel="shortcut icon" href="/favicon.png" type="image/png">
  </head>

  <body>

    <nav role="navigation">
      <ul class="navigation__primary">
        <li class="{{#isCurrentNav 'home' }}nav--current{{/isCurrentNav}}"><a href="/">Home</a></li>
        <li class="{{#isCurrentNav 'posts' }}nav--current{{/isCurrentNav}}"><a href="/writings">Writings</a></li>
        <li class="{{#isCurrentNav 'about' }}nav--current{{/isCurrentNav}}" ><a href="/about">More</a></li>
        <li><a title="Oh, you don't have your personal API yet?" href="/meta.json">API</a></li>
      </ul>

      <ul class="navigation__secondary">
        <li><a href="http://twitter.com/johanbrook">@{{ twitter }}</a></li>
      </ul>
    </nav>

    {{{ contents }}}

  </body>

</html>
