<!DOCTYPE html>
<html class="{{page}}">
  <head itemtype="http://schema.org/Blog" itemscope>
    <title>{{ title }}</title>

    <meta charset="utf-8">
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ tags }}">
    <meta name="author" content="Johan Brook">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic|Trocchi' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/assets/stylesheets/johan.css">
    <link rel="stylesheet" href="http://yastatic.net/highlightjs/8.2/styles/solarized_light.min.css">

    <link rel="shortcut icon" href="/favicon.png" type="image/png">
    <link rel="canonical" itemprop="url" href="{{canonicalUrl path}}">
    <link rel="author" href="http://johanbrook.com/about">

    <meta property="og:title" content="{{title}}">
    <meta property="og:url" content="{{canonicalUrl path}}">
    <meta property="og:site_name" itemprop="name" content="Johan Brook">
    <meta property="og:type" content="{{#isSingle}}article{{else}}blog{{/isSingle}}">
    <meta property="og:image" content="{{ogImage}}">
    <meta property="og:description" content="{{description}}">

    {{#isSingle}}
    <meta property="article:author" content="http://facebook.com/johanbrook">
    <meta property="article:tag" content="{{tags}}">
    <meta property="article:published_time" content="{{toISODate date}}">
    {{/isSingle}}

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-4471592-8', 'auto');
      ga('send', 'pageview');

    </script>
  </head>

  <body>

    <nav role="navigation">
      <ul class="navigation__primary">
        <li class="{{#isCurrentNav 'home' }}nav--current{{/isCurrentNav}}"><a href="/">Home</a></li>
        <li class="{{#isCurrentNav 'posts' }}nav--current{{/isCurrentNav}}"><a href="/writings">Writings</a></li>
        <li class="{{#isCurrentNav 'about' }}nav--current{{/isCurrentNav}}" ><a href="/about">More</a></li>
        <li><a title="Oh, you don't have your personal API yet?" href="/meta.json">API</a></li>
      </ul>

      <ul class="navigation__secondary">
        <li><a href="http://twitter.com/johanbrook">@{{ twitter }}</a></li>
      </ul>
    </nav>

    {{{ contents }}}

    <script type="text/javascript">
      var addClasses = function() {
        document.querySelectorAll('.post article .post-text p')[0].classList.add('ingress');

      };

      document.addEventListener('DOMContentLoaded', addClasses, false);
    </script>
  </body>

</html>
