/* =ELEMENTS
--------------------------------------------- */

html {
	/* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

:where(body, html) {
	font: normal calc(var(--font-size-base) * 1px) / var(--leading) var(--serif);
	background-color: var(--color-bg);
	color: var(--color-text);
}

body {
	padding: var(--inset);
	line-height: var(--leading);
	letter-spacing: var(--tracking);
	font-feature-settings:
		/* Contextual alternates */
		'calt' 1,
		'kern' 1,
		'liga' 1;
	font-variant-ligatures: contextual common-ligatures;

	@media screen and (prefers-color-scheme: dark) {
		word-spacing: 0.05em;
	}

	@media screen and (min-width: 980px) {
		padding-top: calc(var(--inset) * 2);
	}
}

main {
	max-width: var(--content-width);
	margin-bottom: calc(var(--lineheight) * 3);
}

:target {
	scroll-margin-block: 5ex;
}

:focus-visible {
    outline: 2px solid black;
    box-shadow: 0 0 0 4px white;
    border-radius: .25em;
}

/* =HEADINGS
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-block-end: 0;
	margin-bottom: calc(var(--lineheight) / 2);
	color: var(--color-text-high-contrast);
}

.f0,
.title {
	font-size: clamp(var(--f1), 12vw, var(--f0));
	letter-spacing: var(--tracking-f0);
	line-height: calc(var(--leading) * 0.75);
}

h1,
.f1 {
	font-size: var(--f1);
	letter-spacing: var(--tracking-f1);
}

h2,
.f2 {
	font-size: var(--f2);
	letter-spacing: var(--tracking-f2);
}

h3,
.f3 {
	font-size: var(--f3);
	letter-spacing: var(--tracking-f3);
}

h4,
.f4 {
	font-size: var(--f4);
	letter-spacing: var(--tracking-f4);
}

h5,
.f5 {
	font-size: var(--f5);
	letter-spacing: var(--tracking-f5);
}

h6,
.f6 {
	font-size: var(--f6);
	letter-spacing: var(--tracking-f6);
}

.f7 {
	font-size: var(--f7);
}

ul,
ol {
	padding-left: 0;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a,
.link {
	color: var(--link-color);
	position: relative;
	text-decoration: none;
	text-underline-offset: 3px;

	&:not(.prose &) {
		font-family: var(--sans);
	}

	&.block {
		text-decoration: none;
		font-weight: unset;
	}

	&:hover,
	&:hover .link {
		color: var(--link-color-hover);
		text-decoration-color: currentColor;
	}

	&:not(.block):hover, &:hover .link {
		text-decoration: underline;
	}

	&:active {
		top: 1px;
	}

	&.muted {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

p,
ul,
ol,
blockquote,
table,
figure,
pre {
	margin: 0 0 var(--lineheight);
}

img {
	max-width: 100%;
	height: auto;
}

pre,
code {
	font-family: var(--mono);
}

:not(pre)>code {
	background-color: var(--code-background);
	padding: 2px 4px;
	border-radius: 4px;
	font-size: .9rem;
}

figcaption {
	color: var(--grey);
}

table {
	--spacing: 0.25em;

	text-align: left;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;

	&.textual {
		--spacing: .6em;

		& th {
			text-transform: lowercase;
			font-weight: bold;
			font-size: var(--f4);
			font-variant: small-caps;
			letter-spacing: 0.05em;
		}

		& td {
			vertical-align: top;
			border-bottom: 1px solid var(--grey-lightest);
		}

		& tr>td:first-of-type {
			font-weight: bold;
			width: 25%;
		}

		& tr>td:nth-of-type(2) {
			width: 15%;
		}
	}
}

th {
	border-bottom: 2px solid var(--grey-light);
	padding: var(--spacing);
	font-weight: bold;
	font-size: var(--f5);
	position: sticky;
	top: 0;
	background-color: var(--color-bg);
}

td {
	padding: var(--spacing);
}

th,
td {
	&:first-child {
		padding-left: 0;
	}
}

pre {
	text-align: left;
	line-height: var(--leading);
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	hyphens: none;
	tab-size: 2;
	color: var(--code-color);
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: none;
	font-size: var(--f5);
	overflow: auto;
	position: relative;

	& .line-highlight {
		--cycle: 27px;
		--color: 112 20% 50%;
		text-decoration: none;
		position: absolute;
		height: calc(var(--rows) * var(--cycle));
		top: calc(var(--top-inset) + (var(--start) - 1) * var(--cycle));
		background-color: hsl(var(--color) / 4%);
		color: hsl(var(--color) / 80%);
		left: 0;
		width: 100%;
		display: block;
		pointer-events: none;
		padding: 0 6px;
		font-size: var(--f7);
	}
}

li>pre {
	margin-top: calc(var(--lineheight) / 2);
	margin-bottom: calc(var(--lineheight) / 2);
}

/* Syntax highlighting */
code[class*='language-'] {
	display: block;
}

blockquote {
	border-left: 2px solid var(--grey-light);
	margin: calc(var(--lineheight) * 2) 2rem calc(var(--lineheight) * 2) 0;
	padding-left: 1rem;
	padding-right: 1rem;
	color: var(--color-text-high-contrast);

	&>p {
		margin-bottom: calc(var(--lineheight) / 2);
	}

	& footer {
		color: var(--grey);
		margin-top: var(--lineheight);
	}
}

hr {
	border: 0;
	background-color: var(--hr-color);
	height: .7rem;
	aspect-ratio: 1 / 1;
	margin: calc(var(--lineheight) * 2) 0;
	border-radius: 100%;
}

textarea {
	padding: 0.5em;
	border: 1px solid var(--grey);
	border-radius: 0.4em;
	resize: vertical;

	&:focus {
		outline: 0;
		border-color: var(--link-color);
	}
}
