/* Inter */

@font-face {
	font-family: 'Inter var';
	font-weight: 100 900;
	font-display: var(--font-strategy);
	font-style: normal;
	font-named-instance: 'Regular';
	src: url("/assets/fonts/inter/Inter-roman.var.woff2") format("woff2");
}

@font-face {
	font-family: 'Inter var';
	font-weight: 100 900;
	font-display: var(--font-strategy);
	font-style: italic;
	font-named-instance: 'Italic';
	src: url("/assets/fonts/inter/Inter-italic.var.woff2") format("woff2");
}

/* JetBrains Mono */

@font-face {
	font-family: 'JetBrains Mono';
	font-weight: normal;
	font-display: var(--font-strategy);
	src: url('/assets/fonts/jetbrains-mono/JetBrainsMono-Regular.woff2') format("woff2");
}

@font-face {
	font-family: 'JetBrains Mono';
	font-weight: bold;
	font-display: var(--font-strategy);
	src: url('/assets/fonts/jetbrains-mono/JetBrainsMono-Bold.woff2') format("woff2");
}
