/*
FOOTER
----------------------------------------------------------------*/

[role='contentinfo'] {
	&::before {
		content: '';
		display: block;
		border-left: .7rem solid var(--hr-color);
		height: .7rem;
		margin: calc(var(--lineheight) * 2) 0;
	}

	& nav {
		& ul {
			line-height: 2;
		}

		& a {
			white-space: nowrap;
		}

		& li {
			&[aria-current="page"] {
				& a {
					color: var(--grey);
					cursor: default;
					text-decoration: none;
				}
			}
		}
	}

	@media screen and (min-width: 58rem) {
		font-size: var(--f5);

		& nav ul {
			display: flex;

			& li {
				&:not(:last-child)::after {
					content: ' / ';
					display: inline-block;
					margin: 0 .75em;
					color: var(--color-text-detail);
					transform: scaleY(1.2);
					opacity: .7;
				}
			}
		}
	}
}
