/*
FOOTER
----------------------------------------------------------------*/

[role='contentinfo'] {
	&::before {
		content: '';
		background: url('data:image/svg+xml;utf8,<svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.65039 0.589844L8.85352 2.95215C9.73438 3.61947 10.375 4.2334 10.7754 4.79395C11.2025 5.3278 11.416 5.83496 11.416 6.31543C11.416 6.95605 11.2292 7.54329 10.8555 8.07715C10.5085 8.611 9.89453 9.19824 9.01367 9.83887L5.89062 12.1611L2.96777 9.83887C2.00684 9.14486 1.33952 8.53092 0.96582 7.99707C0.592122 7.46322 0.405273 6.90267 0.405273 6.31543C0.405273 5.80827 0.538737 5.34115 0.805664 4.91406C1.09928 4.46029 1.7666 3.80632 2.80762 2.95215L5.65039 0.589844Z" fill="white"/></svg>') no-repeat;
		display: block;
		color: var(--hr-color);
		font-size: 8rem;
		height: 0.7rem;
		line-height: 1;
		aspect-ratio: 1 / 1;
		margin: calc(var(--lineheight) * 2) 0;
	}

	& nav {
		& ul {
			line-height: 2;
		}

		& a {
			white-space: nowrap;
		}

		& li {
			&[aria-current="page"] {
				& a {
					color: var(--grey);
					cursor: default;
					text-decoration: none;
				}
			}
		}
	}

	@media screen and (min-width: 58rem) {
		font-size: var(--f5);

		& nav ul {
			display: flex;

			& li {
				&:not(:last-child)::after {
					content: ' / ';
					display: inline-block;
					margin: 0 .75em;
					color: var(--color-text-detail);
					transform: scaleY(1.2);
					opacity: .7;
				}
			}
		}
	}
}
