.NotesList {
	& article {
		scroll-margin: var(--lineheight);

		header .target:hover span {
			color: var(--neon);
		}

		&:target {
			& .target {
				color: var(--neon);
			}
		}
	}

	& header h1 a {
		color: var(--color-text-high-contrast);
	}

	&>li:not(:last-child) {
		margin-bottom: calc(var(--lineheight) * 4);
	}

	&>li:has(:target)::after {
		border-color: var(--neon);
	}

	& .prose> :last-child {
		margin-bottom: 0;
	}
}
