.NotesList {
	& article {
		scroll-margin: var(--lineheight);

		header .target:hover span {
			color: var(--neon);
		}

		&:target {
			& .target {
				color: var(--neon);
			}
		}
	}

	& header h1 a {
		color: var(--color-text-high-contrast);
	}

	&>li:not(:last-child)::after {
		content: '';
		display: block;
		background-color: var(--hr-color);
		height: .7rem;
		aspect-ratio: 1 / 1;
		margin: calc(var(--lineheight) * 2) 0;
		border-radius: 100%;
	}

	&>li:has(:target)::after {
		border-color: var(--neon);
	}

	& .prose> :last-child {
		margin-bottom: 0;
	}
}
