.skip-link {
	position: fixed;
	top: var(--inset);
	left: var(--inset);
}

/*
BUTTONS
----------------------------------------------------------------*/

.btn {
	appearance: none;
	border: 0;
	background: none;
	text-decoration: none;
	color: var(--link-color);
	text-align: center;
	text-transform: lowercase;
	border-radius: 6px;
	font-weight: 500;
	box-shadow: currentColor 0 0 0 1px;
	padding: 0.3em 0.6em;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;

	&:not([disabled]) {
		cursor: pointer;
	}

	&:hover {
		text-decoration: none;
	}

	&:hover {
		text-decoration: none;
		color: var(--link-color-hover);
	}

	&:active,
	&:active {
		color: var(--link-color-active);
	}

	&[disabled] {
		color: var(--btn-color-disabled);
	}
}

/*
OPEN TYPE
----------------------------------------------------------------*/

.plain-font-features {
	font-feature-settings:
		/* Contextual alternates */
		'calt' 1, 'kern' 1,
		'liga' 1,
		/* Open digis */
		'ss01' 1,
		/* Curved 'r' */
		'ss03' 1,
		/* Disambiguation */
		'ss04' 0, 'frac' 1;
}

/*
FONT STYLES
----------------------------------------------------------------*/

.i {
	font-style: italic;
}

/*
FONT WEIGHTS
----------------------------------------------------------------*/

.normal {
	font-weight: normal;
}

.b {
	font-weight: bold;
}

.fw1 {
	font-weight: 100;
}

.fw2 {
	font-weight: 200;
}

.fw3 {
	font-weight: 300;
}

.fw4 {
	font-weight: 400;
}

.fw5 {
	font-weight: 500;
}

.fw6 {
	font-weight: 600;
}

.fw7 {
	font-weight: 700;
}

.fw8 {
	font-weight: 800;
}

.fw9 {
	font-weight: 900;
}

/*
TEXT ALIGNMENT
----------------------------------------------------------------*/

.tl {
	text-align: left;
}

.tr {
	text-align: right;
}

.tc {
	text-align: center;
}

.tj {
	text-align: justify;
}

.w-full {
	width: 100%;
}

.block {
	display: block;
}

.inline {
    display: inline;
}

/*
FLEXBOX
----------------------------------------------------------------*/

.flex {
	display: flex;
}

.inline-flex {
	display: inline-flex;
}

.gap-1 {
	gap: 0.5em;
}

.gap {
	gap: 1.5em;
}

/* 1. Fix for Chrome 44 bug.
 * https://code.google.com/p/chromium/issues/detail?id=506893 */
.flex-auto {
	flex: 1 1 auto;
	min-width: 0;
	/* 1 */
	min-height: 0;
	/* 1 */
}

.flex-1 {
	flex: 1;
}

.flex-none {
	flex: none;
}

.flex-column {
	flex-direction: column;
}

.flex-row {
	flex-direction: row;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-nowrap {
	flex-wrap: nowrap;
}

.flex-wrap-reverse {
	flex-wrap: wrap-reverse;
}

.flex-column-reverse {
	flex-direction: column-reverse;
}

.flex-row-reverse {
	flex-direction: row-reverse;
}

.items-start {
	align-items: flex-start;
}

.items-end {
	align-items: flex-end;
}

.items-center {
	align-items: center;
}

.items-baseline {
	align-items: baseline;
}

.items-stretch {
	align-items: stretch;
}

.self-start {
	align-self: flex-start;
}

.self-end {
	align-self: flex-end;
}

.self-center {
	align-self: center;
}

.self-baseline {
	align-self: baseline;
}

.self-stretch {
	align-self: stretch;
}

.justify-start {
	justify-content: flex-start;
}

.justify-end {
	justify-content: flex-end;
}

.justify-center {
	justify-content: center;
}

.justify-between {
	justify-content: space-between;
}

.justify-around {
	justify-content: space-around;
}

.justify-evenly {
	justify-content: space-evenly;
}

.content-start {
	align-content: flex-start;
}

.content-end {
	align-content: flex-end;
}

.content-center {
	align-content: center;
}

.content-between {
	align-content: space-between;
}

.content-around {
	align-content: space-around;
}

.content-stretch {
	align-content: stretch;
}

/*
SPACING
----------------------------------------------------------------*/

.pa0 {
	padding: var(--spacing-none);
}

.pa1 {
	padding: var(--spacing-extra-small);
}

.pa2 {
	padding: var(--spacing-small);
}

.pa3 {
	padding: var(--spacing-medium);
}

.pa4 {
	padding: var(--spacing-large);
}

.pa5 {
	padding: var(--spacing-extra-large);
}

.pa6 {
	padding: var(--spacing-extra-extra-large);
}

.pa7 {
	padding: var(--spacing-extra-extra-extra-large);
}

.pl0 {
	padding-left: var(--spacing-none);
}

.pl1 {
	padding-left: var(--spacing-extra-small);
}

.pl2 {
	padding-left: var(--spacing-small);
}

.pl3 {
	padding-left: var(--spacing-medium);
}

.pl4 {
	padding-left: var(--spacing-large);
}

.pl5 {
	padding-left: var(--spacing-extra-large);
}

.pl6 {
	padding-left: var(--spacing-extra-extra-large);
}

.pl7 {
	padding-left: var(--spacing-extra-extra-extra-large);
}

.pr0 {
	padding-right: var(--spacing-none);
}

.pr1 {
	padding-right: var(--spacing-extra-small);
}

.pr2 {
	padding-right: var(--spacing-small);
}

.pr3 {
	padding-right: var(--spacing-medium);
}

.pr4 {
	padding-right: var(--spacing-large);
}

.pr5 {
	padding-right: var(--spacing-extra-large);
}

.pr6 {
	padding-right: var(--spacing-extra-extra-large);
}

.pr7 {
	padding-right: var(--spacing-extra-extra-extra-large);
}

.pb0 {
	padding-bottom: var(--spacing-none);
}

.pb1 {
	padding-bottom: var(--spacing-extra-small);
}

.pb2 {
	padding-bottom: var(--spacing-small);
}

.pb3 {
	padding-bottom: var(--spacing-medium);
}

.pb4 {
	padding-bottom: var(--spacing-large);
}

.pb5 {
	padding-bottom: var(--spacing-extra-large);
}

.pb6 {
	padding-bottom: var(--spacing-extra-extra-large);
}

.pb7 {
	padding-bottom: var(--spacing-extra-extra-extra-large);
}

.pt0 {
	padding-top: var(--spacing-none);
}

.pt1 {
	padding-top: var(--spacing-extra-small);
}

.pt2 {
	padding-top: var(--spacing-small);
}

.pt3 {
	padding-top: var(--spacing-medium);
}

.pt4 {
	padding-top: var(--spacing-large);
}

.pt5 {
	padding-top: var(--spacing-extra-large);
}

.pt6 {
	padding-top: var(--spacing-extra-extra-large);
}

.pt7 {
	padding-top: var(--spacing-extra-extra-extra-large);
}

.pv0 {
	padding-top: var(--spacing-none);
	padding-bottom: var(--spacing-none);
}

.pv1 {
	padding-top: var(--spacing-extra-small);
	padding-bottom: var(--spacing-extra-small);
}

.pv2 {
	padding-top: var(--spacing-small);
	padding-bottom: var(--spacing-small);
}

.pv3 {
	padding-top: var(--spacing-medium);
	padding-bottom: var(--spacing-medium);
}

.pv4 {
	padding-top: var(--spacing-large);
	padding-bottom: var(--spacing-large);
}

.pv5 {
	padding-top: var(--spacing-extra-large);
	padding-bottom: var(--spacing-extra-large);
}

.pv6 {
	padding-top: var(--spacing-extra-extra-large);
	padding-bottom: var(--spacing-extra-extra-large);
}

.pv7 {
	padding-top: var(--spacing-extra-extra-extra-large);
	padding-bottom: var(--spacing-extra-extra-extra-large);
}

.ph0 {
	padding-left: var(--spacing-none);
	padding-right: var(--spacing-none);
}

.ph1 {
	padding-left: var(--spacing-extra-small);
	padding-right: var(--spacing-extra-small);
}

.ph2 {
	padding-left: var(--spacing-small);
	padding-right: var(--spacing-small);
}

.ph3 {
	padding-left: var(--spacing-medium);
	padding-right: var(--spacing-medium);
}

.ph4 {
	padding-left: var(--spacing-large);
	padding-right: var(--spacing-large);
}

.ph5 {
	padding-left: var(--spacing-extra-large);
	padding-right: var(--spacing-extra-large);
}

.ph6 {
	padding-left: var(--spacing-extra-extra-large);
	padding-right: var(--spacing-extra-extra-large);
}

.ph7 {
	padding-left: var(--spacing-extra-extra-extra-large);
	padding-right: var(--spacing-extra-extra-extra-large);
}

.ma0 {
	margin: var(--spacing-none);
}

.ma1 {
	margin: var(--spacing-extra-small);
}

.ma2 {
	margin: var(--spacing-small);
}

.ma3 {
	margin: var(--spacing-medium);
}

.ma4 {
	margin: var(--spacing-large);
}

.ma5 {
	margin: var(--spacing-extra-large);
}

.ma6 {
	margin: var(--spacing-extra-extra-large);
}

.ma7 {
	margin: var(--spacing-extra-extra-extra-large);
}

.ml0 {
	margin-left: var(--spacing-none);
}

.ml1 {
	margin-left: var(--spacing-extra-small);
}

.ml2 {
	margin-left: var(--spacing-small);
}

.ml3 {
	margin-left: var(--spacing-medium);
}

.ml4 {
	margin-left: var(--spacing-large);
}

.ml5 {
	margin-left: var(--spacing-extra-large);
}

.ml6 {
	margin-left: var(--spacing-extra-extra-large);
}

.ml7 {
	margin-left: var(--spacing-extra-extra-extra-large);
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.mx1 {
	margin-right: var(--spacing-extra-small);
	margin-left: var(--spacing-extra-small);
}

.mr0 {
	margin-right: var(--spacing-none);
}

.mr1 {
	margin-right: var(--spacing-extra-small);
}

.mr2 {
	margin-right: var(--spacing-small);
}

.mr3 {
	margin-right: var(--spacing-medium);
}

.mr4 {
	margin-right: var(--spacing-large);
}

.mr5 {
	margin-right: var(--spacing-extra-large);
}

.mr6 {
	margin-right: var(--spacing-extra-extra-large);
}

.mr7 {
	margin-right: var(--spacing-extra-extra-extra-large);
}

.mb0 {
	margin-bottom: var(--spacing-none);
}

.mb1 {
	margin-bottom: var(--spacing-extra-small);
}

.mb2 {
	margin-bottom: var(--spacing-small);
}

.mb3 {
	margin-bottom: var(--spacing-medium);
}

.mb4 {
	margin-bottom: var(--spacing-large);
}

.mb5 {
	margin-bottom: var(--spacing-extra-large);
}

.mb6 {
	margin-bottom: var(--spacing-extra-extra-large);
}

.mb7 {
	margin-bottom: var(--spacing-extra-extra-extra-large);
}

.mt0 {
	margin-top: var(--spacing-none);
}

.mt1 {
	margin-top: var(--spacing-extra-small);
}

.mt2 {
	margin-top: var(--spacing-small);
}

.mt3 {
	margin-top: var(--spacing-medium);
}

.mt4 {
	margin-top: var(--spacing-large);
}

.mt5 {
	margin-top: var(--spacing-extra-large);
}

.mt6 {
	margin-top: var(--spacing-extra-extra-large);
}

.mt7 {
	margin-top: var(--spacing-extra-extra-extra-large);
}

.mv0 {
	margin-top: var(--spacing-none);
	margin-bottom: var(--spacing-none);
}

.mv1 {
	margin-top: var(--spacing-extra-small);
	margin-bottom: var(--spacing-extra-small);
}

.mv2 {
	margin-top: var(--spacing-small);
	margin-bottom: var(--spacing-small);
}

.mv3 {
	margin-top: var(--spacing-medium);
	margin-bottom: var(--spacing-medium);
}

.mv4 {
	margin-top: var(--spacing-large);
	margin-bottom: var(--spacing-large);
}

.mv5 {
	margin-top: var(--spacing-extra-large);
	margin-bottom: var(--spacing-extra-large);
}

.mv6 {
	margin-top: var(--spacing-extra-extra-large);
	margin-bottom: var(--spacing-extra-extra-large);
}

.mv7 {
	margin-top: var(--spacing-extra-extra-extra-large);
	margin-bottom: var(--spacing-extra-extra-extra-large);
}

.mh0 {
	margin-left: var(--spacing-none);
	margin-right: var(--spacing-none);
}

.mh1 {
	margin-left: var(--spacing-extra-small);
	margin-right: var(--spacing-extra-small);
}

.mh2 {
	margin-left: var(--spacing-small);
	margin-right: var(--spacing-small);
}

.mh3 {
	margin-left: var(--spacing-medium);
	margin-right: var(--spacing-medium);
}

.mh4 {
	margin-left: var(--spacing-large);
	margin-right: var(--spacing-large);
}

.mh5 {
	margin-left: var(--spacing-extra-large);
	margin-right: var(--spacing-extra-large);
}

.mh6 {
	margin-left: var(--spacing-extra-extra-large);
	margin-right: var(--spacing-extra-extra-large);
}

.mh7 {
	margin-left: var(--spacing-extra-extra-extra-large);
	margin-right: var(--spacing-extra-extra-extra-large);
}

/*
DISPLAY
----------------------------------------------------------------*/

.d-i {
	display: inline;
}

.d-ib {
	display: inline-block;
}

.d-b {
	display: block;
}

/*
BORDERS
----------------------------------------------------------------*/

.border {
	border: 1px solid var(--border-color);
}

.border-b {
	border-width: 0 0 1px;
}

.border-t {
    border-width: 1px 0 0;
}

/*
COLOURS
----------------------------------------------------------------*/

.text-bg {
	color: var(--color-bg);
}

.comp-neon {
	color: var(--neon);
}

.comp-yellow {
	color: var(--yellow);
}

.bg-comp-neon {
	background-color: var(--neon);
}

.bg-yellow {
	background-color: var(--yellow);
}

.text-color {
	color: var(--color-text);
}

.text-color-contrast {
    color: var(--color-text-high-contrast);
}

.muted {
	color: var(--color-text-detail);

	&.link:hover {
	   color: var(--color-text-high-contrast);
	}
}

.subhead {
    color: var(--color-text-detail);
    font-family: var(--sans);
}

/*
OPACITY
----------------------------------------------------------------*/

.dimmed {
	opacity: 0.7;
}

/*
TYPOGRAPHY
----------------------------------------------------------------*/

.leading-tight {
	line-height: 1.2;
}

.font-mono {
	font-family: var(--mono);
}

.font-sans {
	font-family: var(--sans);
}

.font-serif {
	font-family: var(--serif);
}

.text-balance {
	text-wrap: balance;
}

/* Measure is limited to ~78 characters */
.measure {
	max-width: var(--measure);
}

/* Measure is limited to ~80 characters */
.measure-wide {
	max-width: var(--measure-wide);
}

/* Measure is limited to ~45 characters */
.measure-narrow {
	max-width: var(--measure-narrow);
}

.uppercase {
	text-transform: uppercase;
}

.tracking {
	letter-spacing: 1px;
}

.rounded-small {
	border-radius: .25em;
}

.no-underline {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.Badge {
	font-family: var(--sans);
	border-radius: 4px;
	font-weight: 550;
	background-color: var(--neon);
	color: var(--color-bg);
	padding: 0.3em 0.4em;
	white-space: nowrap;

	&:hover {
		text-decoration: none;
	}

	&.Badge--muted {
	   background-color: var(--grey);
	}

	&.Badge--warn {
	   background-color: var(--yellow);
	}
}

@media screen and (max-width: 980px) {
	.sr-only-mobile {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		white-space: nowrap;
		border-width: 0;
	}
}

@media screen and (min-width: 981px) {
	.only-mobile {
		display: none;
	}
}

.sep {
	color: var(--color-text-detail);
	display: inline-block;
	margin: 0 0.5em;
}

.no-wrap {
	white-space: nowrap;
}

.checkbox-fix {
	position: relative;
	top: -1px;
}

.truncate {
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
}

.icon {
	fill: currentColor;
	width: 1em;
	height: auto;
	aspect-ratio: 1 / 1;
	vertical-align: middle;
	display: inline-block;
	font-size: .9em;
}

a:hover .icon-feed {
	color: var(--yellow);
}

.drop-cap::first-letter {
	font-size: 3.2rem;
	font-weight: bold;
	float: left;
	margin-right: 0.1em;
	line-height: 1;
}

.align-middle {
    vertical-align: middle;
}
