:root {
	/* Colors */

	--neon: hsl(145 56% 57%);
	--yellow: hsl(50 93% 56%);
	--grey: hsl(214.51 7.24% 47.56%);
	--grey-light: hsl(173 7% 36% / 0.5);
	--grey-lightest: hsl(173 7% 76% / 0.2);

	--color-bg: #fff;
	--color-bg-secondary: hsl(112 29.98% 97%);
	--color-text: hsl(0 0% 13%);
	--color-text-high-contrast: black;
	--color-text-detail: var(--grey);

	--link-color: hsl(201.43, 100%, 37.25%);
	--link-color-hover: hsl(201.43, 100%, 25.25%);
	--link-color-visited: hsl(266 100% 44%);
	--link-underline-color: hsl(201.43 43.1% 56.06% / 0.47);
	--border-color: var(--grey);

	--btn-color: hsl(213 100% 50%);
	--btn-color-hover: hsl(213 100% 41%);
	--btn-color-active: hsl(213 100% 33%);
	--btn-color-disabled: var(--grey);

	--focus-color: var(--link-color);

	--pre-background: var(--color-bg-secondary);
	--code-background: var(--color-bg-secondary);
	--code-color: hsl(112 30% 30%);

	--hr-color: var(--color-text);

	@supports (color: color(display-p3 1 1 1 / 1)) {
		--link-color: color(display-p3 0 0.425 0.73);
		--link-color-hover: color(display-p3 0.01 0.295 0.495);
		--link-color-visited: color(display-p3 0.431 0.053 0.965);
	}

	@media screen and (prefers-color-scheme: dark) {
		--yellow: #c3a507;
		--grey: hsl(214.51, 6.64%, 61.44%);

		--color-bg: #1a1a1a;
		--color-bg-secondary: hsl(240 3.36% 14.51%);
		--color-text: hsl(0, 0%, 86%);
		--color-text-high-contrast: white;
		--link-color: hsl(201.43 94.7% 62.23%);
		--link-color-hover: hsl(201.43, 93.43%, 69.58%);
		--link-underline-color: hsl(201.43 57.86% 50.17% / 0.47);
		--link-color-visited: #7a8be5;
		--border-color: var(--color-text-detail);
		--code-color: hsl(112 80% 80%);

		@supports (color: color(display-p3 1 1 1 / 1)) {
			--link-color: color(display-p3 0.38 0.742 1);
			--link-color-hover: color(display-p3 0.577 0.82 0.995);
		}
	}

	/* Typography */

	--sans: 'Inter var',
	-apple-system,
	BlinkMacSystemFont,
	Helvetica,
	sans-serif;

	--mono: 'JetBrains Mono',
	'Fira Code',
	Menlo,
	Monaco,
	'Lucida Console',
	'Liberation Mono',
	'DejaVu Sans Mono',
	'Bitstream Vera Sans Mono',
	'Courier New',
	monospace,
	serif;

	--serif: Georgia,
	serif;

	--font-size-base: 17;
	--leading: 1.618;
	/* Rhythm unit */
	--lineheight: calc(var(--leading) * 1rem);

	--tracking: -0.014em;
	--tracking-f0: -0.022em;
	--tracking-f1: -0.021em;
	--tracking-f2: -0.02em;
	--tracking-f3: -0.018em;
	--tracking-f4: -0.014em;
	--tracking-f5: -0.009em;
	--tracking-f6: -0.0025em;

	--font-size-headline: 6rem;
	--font-size-subheadline: 5rem;

	--f0: calc((68 / var(--font-size-base)) * 1rem);
	--f1: calc((30 / var(--font-size-base)) * 1rem);
	--f2: calc((26 / var(--font-size-base)) * 1rem);
	--f3: calc((20 / var(--font-size-base)) * 1rem);
	--f4: calc((17 / var(--font-size-base)) * 1rem);
	--f5: calc((15 / var(--font-size-base)) * 1rem);
	--f6: calc((13 / var(--font-size-base)) * 1rem);
	--f7: calc((11 / var(--font-size-base)) * 1rem);

	/* See https://developers.google.com/web/updates/2016/02/font-display */
	--font-strategy: fallback;

	/* Measures */

	--inset: calc(var(--lineheight) / 2);

	--measure: 56ch;
	--measure-narrow: 45ch;
	--measure-wide: 100ch;

	--content-width: var(--measure);

	--spacing-base: var(--lineheight);

	--spacing-none: 0;
	--spacing-extra-small: calc(var(--spacing-base) / 5);
	--spacing-small: calc(var(--spacing-base) / 2);
	--spacing-medium: var(--spacing-base);
	--spacing-large: calc(var(--spacing-base) * 2);
	--spacing-extra-large: calc(var(--spacing-base) * 3);
	--spacing-extra-extra-large: calc(var(--spacing-base) * 4);
	--spacing-extra-extra-extra-large: calc(var(--spacing-base) * 6);
}
