<main role="main" itemscope itemtype="http://schema.org/Person">
  <meta itemprop="name" content="Johan Brook">

  <section class="story spacing--double">

    <figure class="avatar">
      <img src="/assets/images/avatar.jpg" alt="Johan Brook">
    </figure>

    <h1>”So. What has this guy been up to?!”</h1>
    <p class="subtitle faded">(you tell me)</p>

    <section class="story__lookback spacing--top spacing--double inverted tilted">

      <h1>
        <a href="http://lookback.io" class="no-underline">
          <img src="/assets/images/lookback.svg" class="logo" alt="Lookback">
        </a>
      </h1>

      <p>
        At <a href="http://lookback.io" class="no-underline">Lookback</a> I build tools, together with a world class team, that help people see through the eyes of their users, and I completely love it.
      </p>

      <p>
        Lookback is based in San Francisco, California.
      </p>
    </section>

    <section class="story__spotify">

      <p>
        I arranged hackathons and other events during a year at
      </p>

      <figure class="spacing spotify-logo">
        <a href="http://spotify.com" class="no-underline">
          <img class="logo" src="/assets/images/spotify.png" alt="Spotify">
        </a>
      </figure>

      <p>
        Together with awesome people, I was involved in the creation and execution of the events that were
      </p>

      <ul class="spotify-projects">
        <li class="spotify-projects__wowhack">
          <figure>
            <img src="/assets/images/wowhack.svg" alt="Way Out West Hack">
          </figure>

          <p>Two days of music, love, and code during Gothenburg’s Way Out West festival. Creativity galore.</p>
        </li>

        <li class="spotify-projects__gbgsh">
          <figure>
            <a href="http://gbgstartuphack.com" class="no-underline">
              <img class="logo" src="/assets/images/gbgsh.svg" alt="Gothenburg Startup Hack">
            </a>
          </figure>

          <p>The very first edition of Gothenburg’s most prestigeous hackathon with probably the coolest venue: a bank vault.</p>
        </li>

        <li class="spotify-projects__diversify">
          <figure>
            <a href="http://diversify.github.io/" class="no-underline">
              <img class="logo" src="/assets/images/diversify.png" alt="Diversify">
            </a>
          </figure>

          <p>A 50/50 share of tech students created wonderful things together during a weekend. A notable diversity event that lit many fires.</p>
        </li>

        <li class="spotify-projects__mmc">
          <figure>
            <a href="http://monkeymusicchallenge.com/" class="no-underline">
              <img class="logo" src="/assets/images/mmc.svg" alt="Monkey Music Challenge 2">
            </a>
          </figure>

          <p>The second edition of the advanced code contest in writing the best path finding code the world has ever seen.</p>
        </li>
      </ul>
    </section>

    <section class="story__chalmers inverted tilted">
      <p class="muted">
        I studied Software Engineering at
      </p>

      <h1>
        Chalmers University of Technology
      </h1>

      <p>
        where I learned how to write beautiful, solid, and performant code together with others in teams.
      </p>

      <p>
        Thanks to engagement in other <a href="http://sexit.chalmers.it">”outside-school social activities”</a>, this was one of the best periods of my life.
      </p>

      <p>
        Here's our bachelor's project: <a href="https://github.com/rymdjs" class="no-underline">RymdJS</a>.
      </p>
    </section>

    <section class="story__misc">

      <p>
        I tend to value things such as communication, humility, agility, and flexibility when working.
      </p>

      <p>
        This usually shows itself as an outspoken love for <br><br>

        <span class="strong">code discussions, high paced iterations, laughter,
experimenting with UI animations, front-end architecture, writing tests, writing about my findings, and exploring the optimal git workflows.</span>
      </p>

      <p class="spacing">
        But above all, I value
      </p>

      <div class="story__misc__background tilted">
        <p>
          Freedom.
        </p>
      </div>
    </section>

  </section>

  <div class="text-column about__body">
    {{{contents}}}
  </div>

  <div class="banner">
    <p>I'm currently in <strong>Rio de Janeiro, Brazil</strong></p>
  </div>

  <div class="about__contact text-column">
    <p>
      I tweet from <a itemprop="sameAs" href="http://twitter.com/{{twitter}}">Twitter</a>. I snap photos on <a href="http://instagram.com/johanbrook">Instagram</a>.<br>
      I push code to <a itemprop="sameAs" href="http://github.com/{{github}}">GitHub</a>. I show off designs on <a itemprop="sameAs" href="http://dribbble.com/johan">Dribbble</a>. I post texts, pictures, and poems on <a itemprop="sameAs" href="{{tumblr}}">Tumblr</a>.
    </p>

    <p class="grey">
      Right now, I like working with <span class="strong">Javascript</span> in <a href="http://meteor.com">Meteor</a>.
    </p>

    <p class="detail">
      So many "I" above. I'm so sorry.
    </p>
  </div>

  <section class="notices">

    <div>
      <h2>Want music while programming?</h2>

      <p>Check out this <a href="https://open.spotify.com/user/johanbrook/playlist/2mtlhuFVOFMn6Ho3JmrLc2">Spotify playlist of mine</a>, it's pretty nice.</p>
      <p class="strong">10,000+ followers can't be wrong.</p>
    </div>

    <div>
      <h2>Want to read code?</h2>

      <p>The source of this site is available at <a href="http://github.com/johanbrook/johanbrook.com">johanbrook/johanbrook.com</a>.</p>
      <p class="strong">Yes. Johanbrook.com is for #openness.</p>
    </div>

  </section>

  <section class="talking banner banner--neon">
    <p>
      Something I'd really want to start doing is <strong>speaking at conferences</strong>.
      Please <a class="no-underline" href="mailto:{{email}}">give me a shout</a> if you have something
      in mind.
    </p>
    <p class="banner__detail">
      I'm funny, knowledgable, and can behave on stage.
    </p>

    <p>
      Here's a presentation I've made:
    </p>

    <figure class="presentation-block">
      <img src="/assets/images/logos_cartofant_cartodb_dark.svg" alt="CartoDB">

      <p>
        <a target="_blank" href="/assets/presentations/cartodb2016.pdf" class="no-underline">“Capturing emotions” &amp; “Intimate Remote Work”</a><br>
        <small class="banner__detail">About UX testing and remote work for <a class="no-underline" href="http://cartodb.com">CartoDB</a> in Madrid, 2016.</small>
      </p>
    </figure>
  </section>

  <section class="about__projects">
    <h1>Code &amp; Stuff</h1>

    <p>
      Things I've coded and co-coded.
    </p>

    <ul class="grid-list about__projects__list">
      <li>
        <h3><a class="no-underline" href="http://github.com/lookback/meteor-emoji">meteor-emoji</a></h3>

        <div class="project__description">
          <p>Easy and flexible parsing of emoji shortnames to images or unicode in Meteor.</p>
        </div>
      </li>

      <li>
        <h3><a class="no-underline" href="http://github.com/lookback/meteor-emails">meteor-emails</a></h3>

        <div class="project__description">
          <p>Sane handling of creating, testing, and sending HTML emails in Meteor.</p>
        </div>
      </li>
      <li>
        <h3><a href="http://github.com/lookback/meteor-tooltips" class="no-underline">meteor-tooltips</a></h3>

        <div class="project__description">
          <p>Simple and flexible tooltips – the Meteor way.</p>
        </div>
      </li>
      <li>
        <h3><a href="http://github.com/lookback/meteor-dropdowns" class="no-underline">meteor-dropdowns</a></h3>

        <div class="project__description">
          <p>Reactive dropdowns for Meteor. <a href="https://lookback.io/blog/crafting-meteor-dropdowns">Read my blog post on the subject</a>.</p>
        </div>
      </li>
      <li>
        <h3><a href="http://github.com/lookback/meteor-bodyclass" class="no-underline">meteor-bodyclass</a></h3>

        <div class="project__description">
          <p>Control the HTML class of the <code>body</code> or <code>html</code> elements. Integrates nicely with Iron Router.</p>
        </div>
      </li>
      <li>
        <h3><a href="http://github.com/lookback/meteor-logger" class="no-underline">meteor-logger</a></h3>

        <div class="project__description">
          <p>A client and server side logger for Meteor, with Loggly integration.</p>
        </div>
      </li>
      <li>
        <h3><a href="http://github.com/lookback/meteor-eventbus" class="no-underline">meteor-eventbus</a></h3>

        <div class="project__description">
          <p>A straight forward event bus package for Meteor.</p>
        </div>
      </li>
      <li>
        <h3><a href="http://github.com/lookback/meteor-entypo" class="no-underline">meteor-entypo</a></h3>

        <div class="project__description">
          <p>The <a href="http://entypo.com">Entypo</a> icons packaged as SVGs for Meteor.</p>
        </div>
      </li>
      <li>
        <h3><a href="http://github.com/lookback/meteor-seo" class="no-underline">meteor-seo</a></h3>

        <div class="project__description">
          <p>Better SEO in Meteor for your Iron Router routes.</p>
        </div>
      </li>
    </ul>
  </section>

  <section class="misc">
    <p class="grey">
      My more formal <span class="strong">curriculum vitae</span> is available at
      <a title="This sucks" itemprop="sameAs" href="{{linkedin}}">LinkedIn</a> and <a itemprop="sameAs" title="This is awesome" href="{{careers}}">Stack Overflow Careers</a>, and also as <a href="{{cv}}">pdf</a>.
    </p>
  </section>


  <p class="bye">
    Bye for now.
  </p>

</main>
