<header role="banner">
  <h1 class="page-title">Everything else</h1>
</header>

<main role="main">

  <div class="text-column about__body">
    <p>I was born in 1990 in a small village in central Sweden. Like many others, I gained an interest in computers through games and such. Unlike many others, I was good at both design and programming.</p>

    <p>In 2009, I moved to Canada for a year. I worked and traveled, lived and visited Calgary and Vancouver. Spent a month in Hawaii. Back home again, I started freelancing in web design and gained a huge amount of experience when working with agencies and clients.</p>

    <p>In 2011, I began studying at Chalmers in Gothenburg, Sweden. In university I grew enormously as a person (kind of like Johan 2.0) and had the best time in my life (so far).</p>

    <p>However, life sometimes have unexpected events in store for you. In my case, it came when I worked with Lookback during the summer of 2014. What began as a consultancy escalated into a proposal of full employment, where I took the decision to drop my plans on taking a Master’s in Interaction Design. I haven’t looked back since (pun intended).</p>
  </div>

  <div class="banner">
    <p>I live and work from Gothenburg on the Swedish west coast.</p>
  </div>

  <div class="about__contact text-column">
    <p>
      I tweet from Twitter. I push code to GitHub. I show off designs on Dribbble. I post texts, pictures, and poems on Tumblr.
    </p>

    <p>
      Right now, I like working with Javascript (or CoffeeScript, to be honest), in Meteor. 
    </p>
  </div>

</main>
