<header role="banner">
  <h1 class="page-title">Everything else</h1>
</header>

<main role="main">

  <div class="text-column about__body">
    <p>I was born in 1990 in a small village in central Sweden. Like many others, I gained an interest in computers through games and such. Unlike many others, I was good at both design and programming.</p>

    <p>In 2009, I moved to Canada for a year. I worked and traveled, lived and visited Calgary and Vancouver. Spent a month in Hawaii. Back home again, I started freelancing in web design and gained a huge amount of experience when working with agencies and clients.</p>

    <p>In 2011, I began studying at Chalmers in Gothenburg, Sweden. In university I grew enormously as a person (kind of like Johan 2.0) and had the best time in my life (so far).</p>

    <p>However, life sometimes has unexpected events in store for you. In my case, it came when I worked with Lookback during the summer of 2014. What began as a consultancy escalated into a proposal of full employment, where I took the decision to drop my plans on taking a Master’s in Interaction Design. I haven’t looked back since (pun intended).</p>
  </div>

  <div class="banner">
    <p>I live and work from Gothenburg on the Swedish west coast.</p>
  </div>

  <div class="about__contact text-column">
    <p>
      I tweet from <a href="http://twitter.com/{{twitter}}">Twitter</a>. I push code to <a href="http://github.com/{{github}}">GitHub</a>. I show off designs on <a href="http://dribbble.com/johan">Dribbble</a>. I post texts, pictures, and poems on <a href="{{tumblr}}">Tumblr</a>.
    </p>

    <p class="grey">
      Right now, I like working with <span class="strong">Javascript</span> (or CoffeeScript, to be honest), in <a href="http://meteor.com">Meteor</a>.
    </p>
  </div>

  <section class="notices">

    <div>
      <h2>Want music while programming?</h2>

      <p>Check out this <a href="https://open.spotify.com/user/johanbrook/playlist/2mtlhuFVOFMn6Ho3JmrLc2">Spotify playlist of mine</a>, it's pretty nice.</p>
      <p class="strong">3,000+ followers can't be wrong.</p>
    </div>

    <div>
      <h2>Want to read code?</h2>

      <p>The source of this site is available at <a href="http://github.com/johanbrook/johanbrook.com">johanbrook/johanbrook.com</a>.</p>
      <p class="strong">Yes. Johanbrook.com is for #openness.</p>
    </div>

  </section>

  <section class="talking banner banner--neon">
    <p>
      Something I'd really want to start doing is <strong>speaking at conferences</strong>.
      Please <a class="no-underline" href="mailto:{{email}}">give me a shout</a> if you have something
      in mind.
    </p>
    <p class="banner__detail">
      I'm funny, knowledgable, and can behave on stage.
    </p>
  </section>

  <section class="misc">
    <p class="grey">
      My more formal <span class="strong">curriculum vitae</span> is available at
      <a title="This sucks" href="{{linkedin}}">LinkedIn</a> and <a title="This is awesome" href="{{careers}}">Stack Overflow Careers</a>, and also as <a href="{{cv}}">pdf</a>.
    </p>
  </section>


  <p class="bye">
    Bye for now.
  </p>

</main>
