<main role="main" class="page__text">
  <div class="about__contact mw6 w-90" itemscope itemtype="http://schema.org/Person">

    <h1 class="mb0 f-headline fw9 tracked-tight-some comp-orange">Contact n’ Stuff<span class="visuallyhidden" itemProp="name">Johan Brook</span></h1>

    <ul class="bare-list">
      <li>I tweet from <a itemprop="sameAs" href="http://twitter.com/{{twitter}}">Twitter</a></li>
      <li>I post texts, pictures, and poems to <a itemprop="sameAs" href="{{tumblr}}">my personal blog</a></li>
      <li>I snap photos on <a href="http://instagram.com/johanbrook">Instagram</a></li>
      <li>I push code to <a itemprop="sameAs" href="http://github.com/{{github}}">GitHub</a></li>
      <li>I show off designs on <a itemprop="sameAs" href="http://dribbble.com/johan">Dribbble</a></li>
      <li>I reply to emails on <a href="mailto:johan@johanbrook.com">johan@johanbrook.com</a></li>
      <li>I listen to music while programming from <a href="https://open.spotify.com/user/johanbrook/playlist/2mtlhuFVOFMn6Ho3JmrLc2">this Spotify playlist</a></li>
    </ul>

    <p class="muted">
      I'm practically <span class="strong">@johanbrook</span> everywhere.
    </p>
  </div>
</main>
