<header role="banner" class="home-offset tilted tilted--bottom">
  <h1>
    Hey there. I’m Johan – a Swedish designer &amp; developer.
  </h1>

  <div class="page-intro">
    <p>
      I’m coding &amp; designering while currently travelling the world. I love working with product, user experience, and interface design and other things too.
    </p>
  </div>
</header>

<main role="main">

  <section class="home-about home-offset">
    <h1 class="outset">A little bit about me (so far):</h1>

    <div class="post-text">
      {{{ contents }}}
    </div>
  </section>

  <section class="section-home-more">
    <h1>…more stuff</h1>

    <p class="muted">I tend to value things such as communication, iteration, and exploration when working.</p>

    <p class="muted">This usually shows itself as an outspoken love for and interested in</p>

    <p>high paced iterations, shipping, experimenting with UI animations, front-end architecture, writing tests, functional reactive programming, writing about my findings, delightful copywriting, laughter, ever evolving and explorative work in building product teams, and working smarter.</p>

    <p class="spacing stronger larger">
      But above all, I value
    </p>
  </section>

  <div class="story-freedom tilted tilted--top tilted--bottom">
    <p>
      Freedom.
    </p>
  </div>

  <section class="section-home-more">
    <h2>
      I know my way around
    </h2>

    <p>
      Javascript, HTML/CSS, typography, Meteor, designing interfaces, React, Rails, remote working,
      emojis, automated testing, REST APIs, writing READMEs.
    </p>

    <p>
      I usually learn stuff I don't know, if required (often even if not required too).
    </p>

    <h2>
      I'm curious about
    </h2>

    <p>
      Elm, Cycle.js, writing techniques, user research, doing more open source work.
    </p>
  </section>
</main>

<footer class="tilted tilted--top" role="contentinfo">
  <h1>Continue here please</h1>

  <nav role="navigation" class="footer-nav">
    <ul>
      <li><a href="/writings" title="Posts and essays">Writings</a></li>
      <li><a href="/now" title="What I'm doing with my life">Now</a></li>
      <li><a href="/contact" title="Contact and stuff">On the web</a></li>
      <li><a href="/changelog" title="What's happened in my life so far">Changelog</a></li>
    </ul>
  </nav>

  <p class="outro">
    <3
  </p>
</footer>
