<header role="banner">
  <h1 class="page-title">
    <span class="subtitle">Hi! I'm <span class="strong">Johan</span>, and</span>

    I help <span class="comp-blue">interfaces</span> come to <span class="comp-green">life.</span>
  </h1>
</header>

<main role="main">

  <figure class="avatar">
    <img src="/assets/images/avatar.jpg" alt="Johan Brook">
  </figure>

  <p>
    I’ve been cranking out code and pixels since I realised one actually could create really cool stuff with computers, and I still love it.
  </p>

  <p>
    I like the creative process, and enjoy seeing the intersection of solid engineering, good design and user experience come together.
  </p>

  <section class="story spacing--top spacing--double">

    <h1>”So. What’s this guy up to?!”</h1>
    <p class="subtitle faded">(you tell me)</p>

    <section class="story__lookback spacing--top spacing--double inverted">

      <h1>
        <a href="http://lookback.io">
          <img src="/assets/images/lookback.svg" class="logo" alt="Lookback">
        </a>
      </h1>

      <p>
        At <a href="http://lookback.io">Lookback</a> I build tools, together with a world class team, that help people see through the eyes of their users, and I completely love it. 
      </p>

      <p>
        Lookback is based in San Fransisco, California.
      </p>
    </section>

    <section class="story__spotify">

      <p>
        I arranged hackathons and other events during a year at
      </p>

      <figure class="spacing spotify-logo">
        <a href="http://spotify.com">
          <img class="logo" src="/assets/images/spotify.png" alt="Spotify">
        </a>
      </figure>

      <p>
        Together with awesome people, I was involved in the creation and execution of the events that were
      </p>

      <ul class="spotify-projects">
        <li class="spotify-projects__wowhack">
          <figure>
            <img src="/assets/images/wowhack.svg" alt="Way Out West Hack">
          </figure>

          <p>Two days of music, love, and code during Gothenburg’s Way Out West festival. Creativity galore.</p>
        </li>

        <li class="spotify-projects__gbgsh">
          <figure>
            <a href="http://gbgstartuphack.com">
              <img class="logo" src="/assets/images/gbgsh.svg" alt="Gothenburg Startup Hack">
            </a>
          </figure>

          <p>The very first edition of Gothenburg’s most prestigeous hackathon with probably the coolest venue: a bank vault.</p>
        </li>

        <li class="spotify-projects__diversify">
          <figure>
            <a href="http://diversify.github.io/">
              <img class="logo" src="/assets/images/diversify.png" alt="Diversify">
            </a>
          </figure>

          <p>A 50/50 share of tech students created wonderful things together during a weekend. A notable diversity event that lit many fires.</p>
        </li>

        <li class="spotify-projects__mmc">
          <figure>
            <a href="http://monkeymusicchallenge.com/">
              <img class="logo" src="/assets/images/mmc.svg" alt="Monkey Music Challenge 2">
            </a>
          </figure>

          <p>The second edition of the advanced code contest in writing the best path finding code the world has ever seen.</p>
        </li>
      </ul>
    </section>

    <section class="story__chalmers inverted">
      <p class="muted">
        I studied Software Engineering at
      </p>

      <h1>
        Chalmers University of Technology
      </h1>

      <p>
        where I learned how to write beautiful, solid, and performant code together with others in teams.
      </p>

      <p>
        Thanks to engagement in other ”outside-school social activities”, this was one of the best periods of my life.
      </p>

      <p>
        Here's our bachelor's project: <a href="https://github.com/rymdjs">RymdJS</a>.
      </p>
    </section>

    <section class="story__misc">

      <p>
        I tend to value things such as communication, humility, agility, and flexibility when working.
      </p>

      <p>
        This usually shows itself as an outspoken love for <br><br>

        <span class="strong">code discussions, high paced iterations, laughter,
experimenting with UI animations, front-end architecture, writing tests, writing about my findings, and exploring the optimal git workflows.</span>
      </p>

      <p class="spacing">
        But above all, I value
      </p>

      <div class="story__misc__background">
        <p>
          Freedom.
        </p>
      </div>
    </section>

  </section>


  <section class="outro">

    <p>
      Thanks so much for hitting the bottom.<br />Now feel free visit the place where I
    </p>

    <p class="no-margin">
      <a class="link-large" href="/writings">Write</a>
    </p>

    <p class="faded subtitle">(shut up, at least I try to)</p>

    <p class="strong spacing">
      If you promise to read, I promise to write.
    </p>

    <p>
      For further inquiries about me and my whereabouts on the internets, please visit this page appropriately and creatively named
    </p>

    <p>
      <a class="link-medium" href="/about">More</a>
    </p>

  </section>

</main>

<footer role="contentinfo">

  <p>
    For urgent matters, like a quick rundown why Flexbox is the best thing happening to CSS since its inception,  or help with emptying a bar or similar, please use <a href="mailto:{{email}}">johan@johanbrook.com</a>
  </p>

  <p>
    Thanks.
  </p>

</footer>
