<main role="main">
  <h1 class="tc f1 mb1">My Music Playlists</h1>

  <div class="page__text">
    <p class="tc muted"><strong class="comp-black">I like putting tracks together in lists.</strong>
      For various occasions, moods, or around themes. Here are some you might like.</p>
  </div>

  <ul class="playlists-grid mw8 center w-90">
    {{#each playlists}}
    <li>
      <a href="{{url}}" class="playlists-grid__item">
        <img class="playlists-grid__cover" src="/assets/images/playlist-covers/{{cover}}" alt="{{name}}">

        <h2 class="playlists-grid__title">{{name}}</h2>
        <p class="playlists-grid__description">{{description}}</p>
      </a>
    </li>
    {{/each}}
  </ul>
</main>
