<main role="main">
  <article role="article" class="{{#if link}}linked{{/if}}" itemscope itemtype="http://schema.org/BlogPosting">
    <header>
      {{#if link}}
        <h1 class="f1" itemprop="name"><a title="{{link}}" href="{{link}}">{{title}} →</a></h1>
      {{else}}
        <h1 class="f1" itemprop="name">{{title}}</h1>
      {{/if}}

      <p class="post__meta">
        <time datetime="{{toISODate date}}" itemprop="datePublished" title="{{toRelativeDate date}}" pubdate>{{ niceDate date 'MMMM D, YYYY'}}</time>
        {{#unless link}}
          <span class="meta__stats">{{readingTime}} / <span itemprop="wordCount">{{wordCount}}</span> words</span>
        {{/unless}}
      </p>
    </header>

    <div class="post-text" itemprop="articleBody">
      {{{contents}}}
    </div>
  </article>
</main>

<footer role="contentinfo" class="tc mw6 ph4 mv5 sans center">
  <h2>Hi friend.</h2>

  <p>I'm Johan – a twenty-something developer and designer, currently traveling the world.</p>

  <p>I like building interfaces for humans, authentic experiences, and playing guitar. I like other things too.</p>

  <p>You'll find more posts under <a href="/writings">writings</a>, and you can also read <a href="/">more about me</a> and <a href="/now">what I'm doing now</a>.</p>
</footer>
