<main role="main">

  {{#if pagination.files.length }}
      {{#each pagination.files}}

      <article role="article">
        <header>
          <time datetime="{{toISODate date}}" pubdate>{{ niceDate date 'MMMM D, YYYY'}}</time>
          <h1><a href="/{{path}}">{{title}}</a></h1>
        </header>

        <div class="post-text">
          {{{excerpt}}}

          <p class="read-more">
            <a href="/{{path}}">Read more…</a>
          </p>
        </div>
      </article>

      {{/each}}

    <footer class="page-nav">
      {{#if pagination.next}}
        <a rel="next" href="/{{ pretty pagination.next.path}}">Older posts</a>
      {{/if}}

      <span class="separator">/</span>

      {{#if pagination.previous}}
        <a rel="prev" href="/{{ pretty pagination.previous.path}}">Newer posts</a>
      {{/if}}
    </footer>

  {{else}}

    <p class="no-content">
      No writings yet.
    </p>

  {{/if}}


</main>
