<main role="main">

  <p class="notice">
    Psst! There's more stuff at my <a href="{{tumblr}}">personal blog</a> too!
  </p>

  {{#if pagination.files.length }}
      {{#each pagination.files}}

      <article role="article" class="{{#if link}}linked{{/if}}">
        <header>
          <p class="post__meta">
            <time datetime="{{toISODate date}}" title="{{toRelativeDate date}}" pubdate>{{ niceDate date 'MMMM D, YYYY'}}</time>
            {{#if link}}
            / <a class="meta__permalink" href="/{{path}}">Permalink</a>
            {{else}}
            / <span class="meta__stats">{{readingTime}}</span>
            {{/if}}
          </p>

          {{#if link}}
            <span class="link-icon">{{ icon 'link' }}</span>
            <h1><a title="{{link}}" href="{{link}}">{{title}} →</a></h1>
          {{else}}
            <h1><a href="/{{path}}">{{title}}</a></h1>
          {{/if}}
        </header>

        <div class="post-text">
          <p>{{{excerpt}}}</p>
        </div>
      </article>

      {{/each}}

    <footer class="page-nav">
      <p>
        {{#if pagination.previous}}
          <a rel="prev" href="/{{ pretty pagination.previous.path}}">Newer</a>
        {{/if}}

        <span class="separator">/ {{posts.length}} posts /</span>

        {{#if pagination.next}}
          <a rel="next" href="/{{ pretty pagination.next.path}}">Older</a>
        {{/if}}
      </p>

      <p>
        <a href="/rss.xml">Feed</a>
      </p>

    </footer>

  {{else}}

    <p class="no-content">
      No writings yet.
    </p>

  {{/if}}


</main>
