<main role="main">
  <article role="article" class="{{#if link}}linked{{/if}}">
    <header>
      {{#if link}}
        <h1><a title="{{link}}" href="{{link}}">{{title}} →</a></h1>
      {{else}}
        <h1>{{title}}</h1>
      {{/if}}

      <p class="post__meta">
        <time datetime="{{toISODate date}}" title="{{toRelativeDate date}}" pubdate>{{ niceDate date 'MMMM D, YYYY'}}</time>
        {{#unless link}}
          <span class="meta__stats">{{readingTime}} / {{wordCount}} words</span>
        {{/unless}}
      </p>
    </header>

    <div class="post-text">
      {{{contents}}}
    </div>
  </article>
</main>

<footer role="contentinfo">
  <h2>Hi there!</h2>

  <p>I'm Johan – a twenty-something developer and designer, working with front-end at <a href="http://lookback.io">Lookback</a>.</p>

  <p>I like building interfaces for humans, travelling, and watching people while drinking espresso from town squares in Rome.</p>

  <p>You'll find more posts under <a href="/writings">writings</a>, and you can also read <a href="/about">more about me</a>.</p>
</footer>
