// Buttons

.btn {
  -webkit-appearance: none;
  display: inline-block;

  font: 500 1em/1.5 $sans;
  color: $link-color;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  padding: .4em 1em;
  transition: background-color .2s ease;

  &:hover {
    text-decoration: none;
    color: darken($link-color, 10%);
    background-color: rgba($link-color, .08);
  }

  &:active {
    color: darken($link-color, 10%);
    background-color: rgba(darken($link-color, 10%), .1);
  }

  &.btn--large {
    font-size: 1.2em;
    padding: .5em 1.3em;
  }

  &.btn--huge {
    font-size: 1.5em;
    padding: .7em 1.4em;
  }

  &.btn--inverted {
    border: 1px solid currentColor;
    background: none;
  }
}
