/* =ELEMENTS
--------------------------------------------- */

::selection {
  background-color: rgba(#000, 0.7);
  color: #fff;
}

html {
  background-color: $background-color;
  font: normal #{$font-size-base}px/#{$leading / $font-size-base} $sans;
  color: $text-color;

  @include handheld {
    font-size: 1rem;
  }
}

body {
  // Sticky footer with Flexbox
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // end sticky footer
}

[role='main'] {
  flex: 1 0 auto;
}

nav ul {
  @include list-reset;
}

ul,
ol {
  padding-left: 0;
}

a {
  color: #000;
  text-decoration-color: rgba(#000, 0.2);

  &:hover {
    color: $link-color;
    text-decoration: underline rgba(3, 102, 214, 0.6);
  }
}

p,
ul,
ol,
blockquote,
table,
figure,
pre {
  margin: 0 0 $spacing-base;
}

img {
  max-width: 100%;
  height: auto;
}

pre,
code {
  font-family: $mono;
}

code {
  background-color: #fff;
  padding: 2px 4px;
  border-radius: 4px;
  color: #000;
  font-size: 0.9em;
  border: 1px solid rgba(#000, 0.15);
}

figcaption {
  color: $grey;
}

table {
  text-align: left;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  border-bottom: 1px solid;
  padding: 0.25em 0;
}

td {
  padding: 0.25em 0;
}

pre {
  background-color: #fff;
  border-radius: 8px;
  padding: $spacing-base;
  overflow-wrap: break-word;
  word-break: break-word;
  border-radius: 6px;
  border: 1px solid rgba(#000, 0.1);
  box-shadow: rgba(#000, 0.025) 0 1px 0;
  @include smooth(false);

  code {
    font-size: $font-size-7;
    line-height: $line-height-title;
    border: 0;
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    color: currentColor;
  }
}

blockquote {
  border-left: 2px solid $grey-light;
  margin: $spacing-base * 2 2rem $spacing-base * 2 0;
  padding-left: 2rem;
  padding-right: 2rem;

  footer {
    color: $grey;
    margin-top: $spacing-base;
  }
}

hr {
  display: block;
  height: 2px;
  border: 0;
  background-color: $grey-light;
  margin: $spacing-base * 2 auto;
  width: 5rem;
  max-width: 50%;
}
