/* =ELEMENTS
--------------------------------------------- */

::selection {
  background-color: $grey-light;
}

html {
  background-color: $background-color;
  font: normal #{$font-size-base}px/#{$leading-factor} $sans;
  color: $text-color;
  letter-spacing: $letter-spacing-tight;
  font-kerning: normal;
  font-feature-settings: "calt" 1, "kern" 1, "liga" 1;
  scroll-behavior: smooth;
  @include smooth;

  @include handheld {
    font-size: 1rem;
  }
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter UI var alt', sans-serif;
  }
}

body {
  // Sticky footer with Flexbox
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // end sticky footer
}

[role='main'] {
  flex: 1 0 auto;
}

nav ul {
  @include list-reset;
}

ul,
ol {
  padding-left: 0;
}

ul {
  list-style-type: circle;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-color-hover;
    text-decoration: underline rgba($link-color-hover, .3);
  }
}

p,
ul,
ol,
blockquote,
table,
figure,
pre {
  margin: 0 0 $lineheight;
}

img {
  max-width: 100%;
  height: auto;
}

pre,
code {
  font-family: $mono;
}

code {
  background-color: #fff;
  padding: 2px 4px;
  border-radius: 4px;
  color: #000;
  font-size: 0.9em;
  border: 1px solid rgba(#000, 0.15);
}

figcaption {
  color: $grey;
}

table {
  text-align: left;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  border-bottom: 1px solid;
  padding: 0.25em 0;
}

td {
  padding: 0.25em 0;
}

pre {
  background-color: #fff;
  border-radius: 8px;
  padding: $lineheight;
  overflow-wrap: break-word;
  word-break: break-word;
  border-radius: 6px;
  border: 1px solid rgba(#000, 0.1);
  box-shadow: rgba(#000, 0.025) 0 1px 0;
  @include smooth(false);

  code {
    font-size: $font-size-7;
    line-height: 1.5;
    border: 0;
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    color: currentColor;
  }
}

blockquote {
  border-left: 2px solid $grey-light;
  margin: $lineheight * 2 2rem $lineheight * 2 0;
  padding-left: 2rem;
  padding-right: 2rem;

  footer {
    color: $grey;
    margin-top: $lineheight;
  }
}

hr {
  display: block;
  height: 2px;
  border: 0;
  background-color: $grey-light;
  margin: $lineheight * 2 auto;
  width: 5rem;
  max-width: 50%;
}
