/* =HEADINGS
--------------------------------------------- */

.title {
  font-size: $font-size-title;
  font-weight: bold;
  line-height: $line-height-title;
  letter-spacing: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: $spacing-extra-small;
  letter-spacing: $letter-spacing-tighter;
}

h1 {
  font-size: $font-size-1;
  font-weight: 500;
}

h2 {
  font-size: $font-size-2;
  font-weight: 500;
}

h3 {
  font-size: $font-size-3;
  font-weight: 600;
}

h4 {
  font-size: $font-size-4;
  font-weight: 500;
}

h5 {
  font-size: $font-size-4;
}

h6 {
  font-size: $font-size-4;
}
