/* =NAVIGATION
--------------------------------------------- */

[role='navigation'] {
  display: flex;
  justify-content: space-between;

  ul {
    display: flex;
  }

  a {
    color: $grey;
    display: inline-block;
    padding: $lineheight $gutter-width;
    text-decoration: none;

    &:hover {
      color: $link-color;
      text-decoration: underline;
    }
  }

  .nav--current {
    a {
      font-weight: 500;
      color: $text-color;
      cursor: default;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.TopNav {
  font-weight: 500;
  border-bottom: 1px solid $grey-light;
  margin-block-end: $lineheight;

  li:first-child a {
    padding-left: 0;
  }
}

.home [role="navigation"] {
  justify-content: center;
}

.FooterNav {
  flex-direction: column;

  &::before {
    content: '';
    display: block;
    height: 1px;
    background-color: $grey-light;
    width: 6rem;
    margin: $lineheight*2 auto;
  }

  a {
    padding: 0.5em 1em;
  }

  ul {
    justify-content: center;
  }

  @include handheld {
    ul {
      flex-direction: column;
    }

    li:not(:last-child)::after {
      display: none;
    }

    a {
      display: block;
    }
  }
}

.FooterNav__Primary {
  font-size: $font-size-3;
}

.FooterNav__Secondary {
  font-size: $font-size-4;
}

.mobile-nav-trigger {
  display: none;
  text-align: center;
  text-decoration: none;
  font-family: $sans;
  font-size: to_rem(13);
  padding: 1em 0.5em;
  color: $grey;

  .icon {
    position: relative;
    top: -1px;
    color: $grey-light;
  }

  @include handheld {
    display: block;
  }
}
