/* =NAVIGATION
--------------------------------------------- */

[role='navigation'] {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $grey-light;
  margin-block-end: $lineheight;

  ul {
    display: flex;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.main-navigation {

  li:first-child a {
    padding-left: 0;
  }

  a {
    color: $grey;
    display: inline-block;
    padding: $lineheight / 2 $gutter-width;

    &:hover {
      color: $link-color;
    }
  }

  .nav--current {
    a {
      font-weight: 500;
      color: $text-color;
      cursor: default;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.footer-nav {
  flex-direction: column;

  ul {
    justify-content: center;
  }

  @include handheld {
    ul {
      flex-direction: column;
    }

    li:not(:last-child)::after {
      display: none;
    }

    a {
      display: block;
    }
  }
}

.primary-footer-nav {
  font-size: $font-size-3;
  text-transform: uppercase;

  a {
    padding: 0.5em 1em;
  }
}

.secondary-nav {
  li {
    padding: 0 1em;
  }
}

.mobile-nav-trigger {
  display: none;
  text-align: center;
  text-decoration: none;
  font-family: $sans;
  font-size: to_rem(13);
  padding: 1em 0.5em;
  color: $grey;

  .icon {
    position: relative;
    top: -1px;
    color: $grey-light;
  }

  @include handheld {
    display: block;
  }
}
