@import 'underlines';

@mixin wrapper($width: $max-width){
  max-width: $width;
  width: $page-width;
  margin: 0 auto;
}

@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin smooth($enabled: true) {
  @if $enabled {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: none;
  }
}

@mixin tilted-bg($height){
  height: $height;
  display: block;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  z-index: 20;
  background-position: left top;
  background-size: cover;
}

@mixin truncate($max: 100%) {
  display: inline-block;
  max-width: $max;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

// Viewport mixins

@mixin respond($size, $mode) {
  @media only screen and (#{$mode}-width: $size) {
    @content;
  }
}

// Shorthands

@mixin smaller-than($size) {
  @include respond($size, max) {
    @content;
  }
}

@mixin larger-than($size) {
  @include respond($size, min) {
    @content;
  }
}

@mixin handheld {
  @include smaller-than($handheld) {
    @content;
  }
}

@mixin tablet {
  @include smaller-than($tablet) {
    @content;
  }
}

@mixin laptop {
  @include smaller-than($laptop) {
    @content;
  }
}

@mixin desktop {
  @include larger-than($laptop) {
    @content;
  }
}

@mixin large-display {
  @include larger-than($desktop) {
    @content;
  }
}
