@mixin underline-offset($offset) {
  background-position: 0 1em + $offset;
}

@mixin underline-size($size) {
  background-size: to_rem($size) to_rem($size);
}

@mixin underline-color($color) {
  background-image: linear-gradient(to bottom, transparent 50%, $color 50%);
}

@mixin underline-bg($bg) {
  text-shadow:  to_em(-1) to_em(-1) 0 $bg,
                to_em(1) to_em(-1) 0 $bg,
                to_em(1) to_em(1) 0 $bg,
                to_em(-1) to_em(1) 0 $bg,
                to_em(1) 0 0 $bg,
                to_em(-1) 0 0 $bg;
}

@mixin underline($size: 4.5, $color: currentColor, $bg: $background-color, $offset: .2em, $clear-descenders: true) {
  text-decoration: none;
  background-repeat: repeat-x;
  @include underline-offset($offset);
  @include underline-size($size);
  @include underline-color($color);
  padding-bottom: to_rem($size) + to_rem($offset);

  @if $clear-descenders {
    @include underline-bg($bg);
  }
}
