---
title: Page not found
bare: true
---

<section class="flex justify-center items-center flex-column">
    <h1 class="title">4Ɵ4 NOT FOUND</h1>
    <p>
        <a href="/">⇠ Back to home</a>
    </p>
</section>

<script>
if (window.location.pathname.includes("/mind")) {
    window.location.href = window.location.href.replace('mind', 'micro');
}
</script>
