---
title: Page not found
---

<section class="flex justify-center items-center flex-column h-full">
    <h1 class="title tc leading-tight">404<span class="block f2">NOT FOUND</span></h1>
</section>

<script>
if (window.location.pathname.includes("/mind")) {
    window.location.href = window.location.href.replace('mind', 'micro');
}
</script>
