---
title: Page not found
layout: layouts/main.njk
bare: true
url: /404.html
---

<section class="flex justify-center items-center flex-column">
    <h1 class="title">4Ɵ4 NOT FOUND</h1>
    <p>
        <a href="/">⇠ Back to home</a>
    </p>
</section>
