{
  "description": "{{ meta.description | safe }}",
  "shortbio": "{{ meta.shortbio | safe }}",
  "site": "{{ meta.site }}",
  "github": "{{ meta.github }}",
  "twitter": "{{ meta.twitter }}",
  "mastodon": "{{ meta.mastodon.username }}@{{ meta.mastodon.instance }}",
  "email": "{{ meta.email }}",
  "cv": "{{ meta.cv }}",
  "versions": {
    "johan": "{{ meta.currentVersionOfJohan }}",
    "build": "{{ build.hash }}",
    "builtAt": "{{ build.date }}"
  }
}
