---
title: Feeds
layout: layouts/main.njk
menu:
  visible: true
  order: 5
---
<main role="main" class="posts">

    <h1 class="f0 mb0">{{ title }}</h1>

    <p class="subhead">Bring the feeds, here are the feeds!</p>

    <ul class="flex items-center gap">
        <li><a class="btn" href="/micro.xml" title="/micro.xml">Micro blog feed</a></li>
        <li><a class="btn" href="/writings.xml" title="/writings.xml">Writings feed</a></li>
        <li><a class="btn" href="/reading.xml" title="/reading.xml">Reading feed</a></li>
    </ul>
</main>
