---
title: Micro
menu:
  visible: true
  order: 1
  title: Micro
  top: true
---

<main role="main" class="notes h-feed">
  <h1 class="visually-hidden p-name">{{ titles.micro }}</h1>
  <ol role="list" class="NotesList">
    {% for post in search.pages("type=note", "date=desc") %}
      <li class="h-entry" id="{{ post.url | url(true) }}">
        <article class="Note">
           	<header class="mb2">
                <h1 class="f4 mb0">
                    <a href="{{ post.url }}" title="Permalink ({{ post.date | tdate('Detailed', post.timezone) }})" class="font-serif no-underline u-url">
                        <time class="dt-published" datetime="{{ post.date | tdate('Machine', post.timezone) }}" pubdate>{{ post.date | tdate('HumanTime', post.timezone) }}</time> <span>#</span>
                    </a>
                </h1>
                <div class="flex justify-between items-baseline gap">
                    {% if post.location %}
                        <p title="Posted from" class="muted font-sans mb0 f6 target">{{ post.location }}</p>
                    {% endif %}

                    {% if post.tags %}
                        <ul role="list" class="mb0 f6">
                            {% for tag in post.tags %}
                            <li class="muted font-sans inline">#{{ tag }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </header>

            <div class="prose e-content">
                {{ post.content | md | safe }}
            </div>
        </article>
      </li>
    {% endfor %}
  </ol>

</main>
