---
layout: null
url: /micro.xml
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ meta.microtitle }}</title>
  <link href="{{ url | url(true) }}" rel="self"/>
  <link href="{{ url | url(true) }}"/>
  <id>{{ url | url(true) }}</id>
  {% set lastPage = search.pages("type=note", "date=asc") | last %}
  <updated>{{ lastPage.date | date("ATOM") }}</updated>
  <author>
    <name>{{ meta.author }}</name>
    <email>{{ meta.email }}</email>
  </author>
  {% for post in search.pages("type=note", "date=desc", 10) %}
  <entry>
    <title>{{ post.date | date("HUMAN_DATETIME") }}</title>
    <link href="{{ post.url | url(true) }}" />
    <updated>{{ post.date | date("ATOM") }}</updated>
    <id>{{ post.url | url(true) }}</id>
    <content type="html">{{ post.content | md | htmlUrl(true) }}</content>
  </entry>
  {% endfor %}
</feed>
