---
title: Microblog
menu:
  visible: true
  order: 1
  top: true
---

{% import "tag-list.njk" as t %}

<main class="h-feed">
  <h1 class="visually-hidden p-name">{{ titles.micro }}</h1>
  <ol reversed class="stack">
    {% for post in search.pages("type=note", "date=desc") %}
      <li class="h-entry" id="{{ post.url | url(true) }}">
        <article class="Note">
           	<header class="mb2">
                <h1>
                    <a href="{{ post.url | url(true)}}" rel="bookmark" class="u-url u-uid dt-published no-underline" title="{{ post.date | tdate('Detailed') }}">
                        <time datetime="{{ post.date | tdate('Machine') }}">{{ post.date | tdate('HumanDate') }}</time> — <time>{{ post.date | tdate('Time') }}</time>
                    </a>
                </h1>
                <div class="flex justify-between items-baseline gap">
                    <p class="detail mb0 sep-list">
                        {% if post.location %}
                            <span class="p-location">{{ post.location }}</span>
                        {% endif %}
                        
                        {% if post.fediUrl %}
                            Also on <a class="muted u-syndication" rel="syndication" href="{{ post.fediUrl }}">Fediverse ⤤</a>
                        {% endif %}
                    </p>

                    {{ t.list(post.tags) }}
                </div>
            </header>

            <div class="prose e-content">
                {{ post.content | md | safe }}
            </div>
        </article>
      </li>
    {% endfor %}
  </ol>

</main>
