---
layout: null
url: /micro.json
---
{
    "version": "https://www.jsonfeed.org/version/1.1/",
    "title": "{{ meta.microtitle }}",
    "home_page_url": "{{ meta.site }}",
    "feed_url": "{{ url | url(true) }}",
    "favicon": "{{ 'favicon.png' | url(true) }}",
    "authors": [{
        "name": "{{ meta.author }}",
        "url": "{{ meta.site }}",
        "avatar": "{{ meta.avatar | url(true) }}"
    }],
    "language": "en-GB",
    "items": [
        {% for post in search.pages("type=note", "date=desc", 10) %}
        {
            "id": "{{ post.url | url(true) }}",
            "url": "{{ post.url | url(true) }}",
            {% if (post.content | excerpt | length) < (post.content | trim | length)  %}
            "summary": {{ post.content | excerpt | jsonHtml | safe }},
            {% endif %}
            {% if post.tags.length %}
            "tags": {{ post.tags | dump | safe }},
            {% endif %}
            {% if post.location %}
            "_location": "{{ post.location }}",
            {% endif %}
            {% if post.updated %}
            "date_modified": "{{ post.updated | tdate('Machine', post.timezone) }}",
            {% endif %}
            "content_html": {{ post.content | md | htmlUrl(true) | jsonHtml | safe }},
            "date_published": "{{ post.date | tdate('Machine', post.timezone) }}"
        }{% if not loop.last %},{% endif %}
        {% endfor %}
    ]
}
