<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>What's on Johan's mind</title>
  <link href="{{ url | url(true) }}" rel="self"/>
  <link href="{{ "/mind" | url(true) }}"/>
  <id>{{ "/mind" | url(true) }}</id>
  {% set lastPage = search.pages("type=note", "date=desc") | last %}
  <updated>{{ lastPage.data.date | date("ATOM") }}</updated>
  <author>
    <name>{{ meta.author }}</name>
    <email>{{ meta.email }}</email>
  </author>
  {% for post in search.pages("type=note", "date=desc", 10) %}
  <entry>
    <title>{{ post.data.date | date("HUMAN_DATETIME") }}</title>
    <link href="{{ post.data.permalink() | url(true) }}" />
    <updated>{{ post.data.date | date("ATOM") }}</updated>
    <id>{{ post.data.permalink() | url(true) }}</id>
    <content type="html">{{ post.data.content | md | htmlUrl(true) }}</content>
  </entry>
  {% endfor %}
</feed>
