---
layout: layouts/main.njk
title: On my mind
menu:
  visible: true
  order: 2
  title: On my mind
---

<main role="main" class="notes">

  <h1 class="title mb3">{{ title }}.</h1>

  <ol class="NotesList list-reset">
    {% for post in search.pages("type=note", "date=desc") %}
      <li>
        <article id="{{ post.data.date | date("NUMERIC") }}" class="font-mono">
        	<header class="mb3">
	            <h1 class="f5 fw5 no-rhythm mb0">
	              <a href="#{{ post.data.date | date("NUMERIC") }}" title="Permalink" class="no-underline target">{{ post.data.date | date("PPP — HH:mm") }} <span>#</span></a>
	            </h1>
            {% if post.data.location %}<p class="muted mb0 f6 target">{{ post.data.location }}</p>{% endif %}
          </header>

          <div class="prose f5">
            {{ post.data.content | md | safe }}
          </div>
        </article>
      </li>
    {% endfor %}
  </ol>

</main>
