---
title: Reading list
layout: layouts/page.njk
description: Books I want to read.
---

<table>
    <thead>
    	<tr>
    		<th scope="column">Title</th>
    		<th scope="column">Author</th>
    		<th scope="column">Notes</th>
    	</tr>
    </thead>
  {% for book in reading_list | reverse %}
    <tr id="{{ book.slug }}">
    	<th scope="row">
			{{ book.title }}
    	</th>
    	<td>
    		{{ book.author }}
    	</td>
    	<td class="f6">
			{{ book.notes | md(true) | safe }}
    	</td>
    </tr>
  {% endfor %}
</table>
