---
title: Reading
layout: layouts/main.njk
description: Books I've read.
updated: 2022-09-25
menu:
  visible: true
  order: 4
---

<main role="main" class="wide">
  <article class="page">
    <h1 class="title">{{ title }}.</h1>

    <p class="mb4 measure">
    	Non-exhaustive list of books I've read and am reading, in reverse chronological order. Updated on {{ updated | date("EEEE, LLLL do yyyy") }}.
	</p>

    <table class="textual">
    	<tr>
    		<th>Title</th>
    		<th>Author</th>
    		<th>Notes</th>
    		<th title="Status"></th>
    	</tr>
      {% for book in books | reverse %}
        <tr>
        	<td>
				{{ book.title }}
        	</td>
        	<td class="f5">
        		{{ book.author }}
        	</td>
        	<td class="f5">
				{{ book.notes | md(true) | safe }}
        	</td>
        	<td class="plain-font-features no-wrap f5 fw6 {% if book.dropped %}muted{% else %}{% if not book.finished%}comp-neon{% endif %}{% endif %}">
            	{% if book.dropped %}
              		Dropped
              	{% else %}
              		{% if not book.finished %}
		              	Reading
	            	{% endif %}
            	{% endif %}
        	</td>
        </tr>
      {% endfor %}
    </table>

    <p class="mt4">{{ books.length }} books</p>
  </article>
</main>
