---
title: Reading
description: Books I've read.
wide: true
menu:
  visible: true
  order: 4
  top: true
---

<main role="main">
  <article class="page h-feed">
	<h1 class="title p-name">{{ title }}.</h1>

	<p class="subhead measure mb4">
  		Non-exhaustive list of books I've read and am reading, in reverse chronological order. You can also check out what I <a href="/to-read">want to read next.</a>
	</p>

	{% for year, bookz in books | groupBooksByYear | dictsort | reverse %}
	   <section>
    	    <header class="mt4 mb3 flex justify-between items-center">
                <h1 class="mv0">{{ year }}</h1>
                <p class="muted mb0 font-sans f5">{{ bookz.length }} books</p>
            </header>
    		<table class="textual f5">
               	<tr>
              		<th>Title</th>
              		<th>Author</th>
              		<th>Notes</th>
              		<th><span class="visually-hidden">Status</span></th>
               	</tr>
                {% for book in bookz | reverse %}
                    <tr id="{{ book.slug }}">
                   	<td width="25%" class="text-color-contrast">
       					<a href="{{ '/reading' | url }}/{{book.slug}}/" class="no-link">{{ book.title }}  <span class="muted">→</span></a>
                   	</td>
                   	<td width="15%">
                  		{{ book.author }}
                   	</td>
                   	<td>
       					{{ book.notes | md(true) | safe }}
                   	</td>
                   	<td class="f6 no-wrap {% if not book.finished %}align-middle{% endif %}" width="10%">
                       	{% if book.dropped %}
                      		<span class="Badge Badge--muted">Dropped</span>
                       	{% else %}
                          		{% if book.paused %}
        		            		<span class="Badge Badge--warn">Paused</span>
         			            {% else %}
          		              		{% if book.finished %}
         		              			{% if book.finishedAt %}
        		              				<time title="Finished at {{ book.finishedAt | tdate('Detailed', book.timezone) }}" datetime="{{ book.finishedAt }}">{{ book.finishedAt | tdate('Date', book.timezone) }}</time><br>
         		              			{% endif %}
         		              			{% if book.location %}
        		              				<small class="font-sans fw4" title="Finished in">{{ book.location }}</small>
         		              			{% endif %}
          		              		{% else %}
         			              		<span class="Badge Badge--positive">Reading</span>
        			            	{% endif %}
         		            	{% endif %}
                       	{% endif %}
                   	</td>
                    </tr>
                {% endfor %}
            </table>
	   </section>
	{% endfor %}

    <p class="mt4">{{ books.length }} books <span class="mx1">|</span> <a href="/reading.xml">Feed{{ comp.icon({ class: "ml2" }) | safe }}</a></p>
  </article>
</main>
