---
date: Git Last Modified
layout: null
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>Books read by {{ meta.author }}</title>
	<subtitle>Non-exhaustive list of books I've read and am reading, in reverse chronological order.</subtitle>
	<link href="{{ url | url(true) }}" rel="self"/>
	<link href="{{ "/reading" | url(true) }}"/>
	{% set lastPage = search.pages("type=post", "date=asc") | last %}
	<updated>{{ lastPage.data.date | date("ATOM") }}</updated>
	<id>{{ "/reading" | url(true) }}</id>
	<author>
		<name>{{ meta.author }}</name>
		<email>{{ meta.email }}</email>
	</author>
	{% for book in books | reverse %}
	<entry>
		<title>{{ book.title }}</title>
		<link href="{{ "/reading" | url(true) }}#{{ book.slug }}" />
		<updated>{% if book.finishedAt %}{{ book.finishedAt | date("ATOM") }}{% else %}{{ date | date("ATOM")}}{% endif %}</updated>
		<id>{{ "/reading" | url(true) }}#{{ book.slug }}</id>
		{% if book.notes %}
			<content type="html">{{ book.notes | md | htmlUrl(true) }}</content>
		{% else %}
			{% if not book.finished %}
				<content>In progress.</content>
			{% else %}
				<content>No notes.</content>
			{% endif %}
		{% endif %}
	</entry>
	{% endfor %}
</feed>
