---
title: Recipes
menu:
  visible: true
  order: 6
  top: true
---

{% set recipes = search.pages("type=recipe", "date=desc") %}

<main role="main" class="posts h-feed">
    <header class="mb3">
        <h1 class="title p-name">{{ title }}</h1>
        <p class="subhead mb0">My own and others' recipes.</p>
    </header>

    <ul>
        {% for recipe in recipes %}
        <li class="h-entry" id="{{ recipe.url | url(true) }}">
            <a class="u-url" href="{{ recipe.url | url }}">{{ recipe.title }}</a>
        </li>
        {% endfor %}
    </ul>
</main>
