---
title: Recipes
menu:
  visible: true
  order: 6
  top: true
---

{% set recipes = search.pages("type=recipe", "has_tried=desc") %}

<main role="main" class="posts h-feed">
    <header class="mb3">
        <h1 class="title p-name">{{ title }}</h1>
        <p class="subhead mb0">A mix of my own and other's recipes I'd like to collect.</p>
    </header>

    <ul role="list">
        {% for recipe in recipes %}
        <li class="h-entry" id="{{ recipe.url | url(true) }}">
            {% if recipe.has_tried %}☑{% else %}☒{% endif %}
            <a class="u-url" href="{{ recipe.url | url }}">{{ recipe.title }}</a>
        </li>
        {% endfor %}
    </ul>
</main>
