---
title: Recipes
---

{% set recipes = search.pages("type=recipe", "title=asc has_tried=desc") %}

<main class="Page h-feed">
    <header>
        <h1 class="title p-name">{{ title }}</h1>
        <p class="subhead">A mix of my own and others' recipes I'd like to collect.</p>
    </header>

    <div>
        <ul role="list">
            {% for recipe in recipes %}
            <li class="PostItem h-entry" id="{{ recipe.url | url(true) }}">
                <a class="u-url" href="{{ recipe.url | url }}">{{ recipe.title }}</a>
                <p class="muted">{% if recipe.has_tried %}☑ Tried{% else %}☒ Not tried{% endif %}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</main>
