---
layout: null
url: /status.json
---
{% set notes = search.pages("type=note", "date=desc") %}
{% set latestNote = notes | first %}
{
    "johan": "{{ meta.currentVersionOfJohan }}",
    "version": "{{ build.hash }}",
    "builtAt": "{{ build.date }}",
    "env": "{{ build.env }}",
    "micro": "{{ latestNote | id }}"
}
