---
title: All tags
---

<main role="main">
    <h1 class="title">{{ title }}</h1>
    <ol role="list" class="TagCloud">
        {% for tag in search.values("tags") %}
        <li><a class="btn" href="/tags/{{ tag }}">{{ tag }} ({{ search.pages(tag) | length }})</a></li>
        {% endfor %}
    </ol>
</main>
