---
title: Want to read
layout: layouts/page.njk
description: Books which are on my reading list.
date: 2024-04-23
---

<p class="measure subhead">
	Updated in <time class="text-color fw5" datetime="{{ date | tdate("Machine") }}">{{ date | tdate("MonthYear") }}</time>. Unordered list.
</p>

<table class="textual mt4">
	<tr>
		<th>Title</th>
		<th>Author</th>
		<th>Notes</th>
	</tr>
  {% for book in toread | reverse %}
    <tr id="{{ book.slug }}">
    	<td>
			{{ book.title }}
    	</td>
    	<td class="f5">
    		{{ book.author }}
    	</td>
    	<td class="f5">
			{{ book.notes | md(true) | safe }}
    	</td>
    </tr>
  {% endfor %}
</table>

<p class="measure">
	{{ toread.length }} books. <span class="muted">You can also check out <a href="/reading">what I've read so far.</a></span>
</p>
