---
title: Writings
menu:
  visible: true
  order: 5
  top: true
---

{% set posts = search.pages("type=post", "date=desc") %}
{% set firstEverPost = posts | last %}
{% set latestPost = posts | first %}

<main role="main" class="posts">

  <h1 class="title pull-W">{{ title }}.</h1>

  <p class="subhead">
    {{posts | length }} posts, from <time datetime="{{ firstEverPost.data.date | date("DATETIME") }}">{{ firstEverPost.data.date | date("MMMM yyyy") }}</time> to <time datetime="{{ latestPost.data.date | date("DATETIME") }}">{{ latestPost.data.date | date("MMMM yyyy") }}</time>.
  </p>

  <ol class="PostsList">
    {% for post in posts %}
      <li class="PostItem">
        <a class="PostItem__Link" href="{{ post.data.url | url }}" title="About {{ post | readingTime }} reading time">{{ post.data.title }}</a>

        <div>
            {% if post.data.draft %}<span class="Badge mr1">Draft</span>{% endif %}
            <time class="font-sans" datetime="{{ post.data.date | date("ATOM") }}" pubdate>{{ post.data.date | date }}</time>
        </div>
      </li>
    {% endfor %}
  </ol>

  {# {% include "page-nav.njk" %} #}

</main>
