---
layout: null
url: /writings.xml
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ meta.titles.writings }}</title>
  <subtitle>{{ meta.description }}</subtitle>
  <link href="{{ url | url(true) }}" rel="self"/>
  <link href="{{ "/writings" | url(true) }}"/>
  {% set lastPage = search.pages("type=post", "date=asc") | last %}
  <updated>{{ lastPage.date | date("ATOM") }}</updated>
  <id>{{ "/writings" | url(true) }}</id>
  <author>
    <name>{{ meta.author }}</name>
    <email>{{ meta.email }}</email>
  </author>
  {% for post in search.pages("type=post", "date=desc", 10) %}
  <entry>
    <title>{{ post.title }}</title>
    <link href="{{ post.url | url(true) }}" />
    <updated>{{ post.date | date("ATOM") }}</updated>
    <id>{{ post.url | url(true) }}</id>
    <content type="html">{{ post.content | md | htmlUrl(true) }}</content>
  </entry>
  {% endfor %}
</feed>
