---
title: Writings
menu:
  visible: true
  order: 5
  top: true
---

{% set posts = search.pages("type=post", "date=desc") %}
{% set firstEverPost = posts | last %}
{% set latestPost = posts | first %}

<main role="main" class="posts h-feed">

  <h1 class="title pull-W p-name">{{ title }}.</h1>

  <p class="subhead">
    {{posts | length }} posts, from <time title="{{ firstEverPost.date | tdate('Detailed', firstEverPost.timezone) }}" datetime="{{ firstEverPost.date | tdate('Machine', firstEverPost.timezone) }}">{{ firstEverPost.date | tdate('MonthYear', firstEverPost.timezone) }}</time> to <time title="{{ latestPost.date | tdate('Detailed', latestPost.timezone) }}" datetime="{{ latestPost.date | tdate('Machine', latestPost.timezone) }}">{{ latestPost.date | tdate('MonthYear', latestPost.timezone) }}</time>.
  </p>

  <ol class="PostsList">
    {% for post in posts %}
      <li class="PostItem h-entry" id="{{ post.url | url(true) }}">
        <a class="PostItem__Link u-url" href="{{ post.url | url }}" title="About {{ post | readingTime }} reading time">{{ post.title }}</a>

        <div>
            {% if post.draft %}<span class="Badge mr1">Draft</span>{% endif %}
            <time class="font-sans dt-published" datetime="{{ post.date | tdate('Machine', post.timezone) }}" pubdate>{{ post.date | tdate('Date', post.timezone) }}</time>
        </div>
      </li>
    {% endfor %}
  </ol>

  {# {% include "page-nav.njk" %} #}

</main>
