---
title: Writings
layout: layouts/main.njk
pagination:
  data: collections.writings
  size: 30
  alias: posts
  reverse: true
permalink: "writings/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
---

<main role="main" class="posts">

  <h1 class="title inset-title">Writings.</h1>

  <p class="fw6">
    {{collections.writings.length }} posts, from {{ collections.writings[0].date | date("MMMM yyyy") }} to {{ posts[0].date | date("MMMM yyyy") }}.
  </p>

  <ol class="PostsList">
    {% for post in posts %}
      <li class="PostItem PostItem--{{ 'Update' if post.data.category == 'Updates' else 'Regular' }}">
        <a class="PostItem__Link" href="{{ post.url }}" title="About {{ post | readingTime }} reading time">{{ post.data.title }} -> {% if post.data.draft %}<span class="badge">Draft</span>{% endif %}</a>

        <time datetime="{{ post.date | date("ATOM") }}" pubdate>{{ post.date | date }}</time>
      </li>
    {% endfor %}
  </ol>

  <footer class="page-nav">
    <p>
      {% if pagination.href.previous %}
        <a rel="prev" href="{{ pagination.href.previous }}">← Newer</a>
        <span class="separator">/ </span>
      {% endif %}

      <span class="separator">Page {{ pagination.pageNumber + 1 }} of {{ pagination.pages.length }} </span>

      {% if pagination.href.next %}
        <span class="separator"> /</span>
        <a rel="next" href="{{ pagination.href.next }}">Older →</a>
      {% endif %}
    </p>

  </footer>

</main>
