// Colors

$comp-green: #6EBC30;
$comp-blue: #4BB2F7;
$comp-red: #dc353f;
$comp-neon: #54CF88;
$comp-neon-dark: darken($comp-neon, 20%);
$comp-teal: #227b90;
$comp-teal-light: #13b1bf;
$comp-orange: #FF8C00;
$comp-beige: #fffadc;
$comp-cerise: #E01270;
$comp-yellow: #fffa3c;

$background-color: #fff;

$text-color: #3c3c3c;
$grey: #979797;
$grey-light: #b8b8b8;
$off-white: #fafafa;

$link-color: darken($comp-blue, 10%);
$border-color: #e9e9e9;

// Typography

$base-size: 18;
$leading: 28;

$lineheight: ($leading / $base-size) * 1rem;

$serif:     Georgia, serif;
$sans:      Lato, 'Open Sans', Helvetica, sans-serif;
$mono:      Hack, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
$headings:  $sans;
$tumblr-font: $mono;

// Measures

$page-width:        90%;
$max-width:         40rem;
$column-width:      29rem;

$desktop:           1700px;
$laptop:            1280px;
$tablet:            768px;
$handheld:          481px;
