---
permalink: feed.xml
metadata:
  feed:
    url: https://johanbrook.com/feed.xml
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Writings of Johan Brook</title>
  <link href="{{ metadata.feed.url }}" rel="self"/>
  <link href="{{ meta.site }}"/>
  <updated>{{ collections.writings | rssLastUpdatedDate }}</updated>
  <id>{{ meta.site }}</id>
  <author>
    <name>Johan Brook</name>
    <email>{{ meta.email }}</email>
  </author>
  {%- for post in collections.writings | reverse %}
  {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(meta.site) }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | rssDate }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>
