---
permalink: meta.json
---
{
  "version": "{{ pkg.version }}",
  "description": "{{ meta.description | safe }}",
  "shortbio": "{{ meta.shortbio | safe }}",
  "site": "{{ meta.site }}",
  "github": "{{ meta.github }}",
  "twitter": "{{ meta.twitter }}",
  "tumblr": "{{ meta.tumblr }}",
  "dribbble": "{{ meta.dribbble }}",
  "email": "{{ meta.email }}",
  "linkedin": "{{ meta.linkedin }}",
  "careers": "{{ meta.careers }}",
  "cv": "{{ meta.cv }}",
  "johanVersion": {
    "currentVersionOfJohan": "{{ meta.currentVersionOfJohan }}",
    "changelog": "https://johanbrook.com/changelog"
  }
}
