---
permalink: meta.json
---
{
  "description": "{{ meta.description | safe }}",
  "shortbio": "{{ meta.shortbio | safe }}",
  "site": "{{ meta.site }}",
  "github": "{{ meta.github }}",
  "twitter": "{{ meta.twitter }}",
  "tumblr": "{{ meta.tumblr }}",
  "email": "{{ meta.email }}",
  "cv": "{{ meta.cv }}",
  "versions": {
    "site": "{{ pkg.version }}",
    "johan": "{{ meta.currentVersionOfJohan }}",
    "git": "{{ git.hash }}"
  }
}
