---
title: Reading
layout: layouts/main
description: Books I've read.
---

<main role="main">
  <article class="page">
    <h1 class="title">{{ title }}.</h1>

    <p>All books I've read and am reading, in reverse order.</p>

    <ol class="list-reset">
      {% for book in books | reverse %}
        <li>
          <h2 class="mb0 f3 {% if book.finished %}dimmed{% endif %}">“{{ book.title }}” <span class="f4">— {{book.author}}</span></h2>
          
          <p class="f5 mb-0">
            {% if book.finishedAt %}
              Finished on {{ book.finishedAt | niceDate(false) }}
            {% endif %}
            {% if not book.finished %}
              <b class="comp-neon">In progress</b>
            {% endif %}
          </p>
          {% if book.notes %}
            <p>{{ book.notes }}</p>
          {% endif %}
        </li>
      {% endfor %}
    </ol>
  </article>
</main>
