---
title: Reading
layout: layouts/main
description: Books I've read.
---

<main role="main">
  <article class="page">
    <h1 class="title">{{ title }}.</h1>

    <p>Non-exhaustive list of books I've read and am reading, in reverse chronological order.</p>

    <ol class="list-reset">
      {% for book in books | reverse %}
        <li class="mb3">
          <h2 class="mb0 f3 {% if not book.finished %}dimmed{% endif %}">{{ book.title }}</h2>
          <p class="f5 mb0">{{book.author}}</p>

         {% if book.notes %}
            <p class="f5 mb1">{{ book.notes }}</p>
          {% endif %}
 
          <p class="f6 mb0">
            {% if book.finishedAt %}
              <span title="Finished in">{{ book.finishedAt | formatDate("MMMM YYYY") }}</span>
              {% if book.location %} – {% endif %}
            {% endif %}
            {% if book.location %}
              {{ book.location }}
            {% endif %}
          </p>
          {% if not book.finished %}
              <p class="f5 comp-neon b mb0">In progress</p>
            {% endif %}
        </li>
      {% endfor %}
    </ol>

    <p class="mt4">{{ books.length }} books</p>
  </article>
</main>
