---
title: Writings
layout: layouts/main
pagination:
  data: collections.posts
  size: 30
  alias: posts
  reverse: true
---

<main role="main" class="posts">

  <h1 class="title">Writings.</h1>

  <ol class="PostsList">
    {% for post in posts %}
      <li class="PostItem PostItem--{{ 'Update' if post.data.category == 'Updates' else 'Regular' }}">
        <a class="PostItem__Link" href="{{ post.url }}" title="About {{ post | readingTime }} reading time">{{ post.data.title }} -></a>

        <time datetime="{{ post.date | toISODate }}" pubdate>{{ post.date | formatDate("YYYY-MM-DD") }}</time>
      </li>
    {% endfor %}
  </ol>

  <footer class="page-nav">
    <p>
      {% if pagination.previousPageLink %}
        <a rel="prev" href="{{ pagination.previousPageLink }}">← Newer</a>
        <span class="separator">/ </span>
      {% endif %}

      <span class="separator">{{collections.posts.length }} posts</span>

      {% if pagination.nextPageLink %}
        <span class="separator"> /</span>
        <a rel="next" href="{{ pagination.nextPageLink }}">Older →</a>
      {% endif %}
    </p>

  </footer>

</main>
