---
title: Writings
layout: layouts/main
pagination:
  data: collections.allPosts
  size: 10
  alias: posts
---

<main role="main" class="posts">

  <h1 class="mb0-ns mb2 f-headline-ns fw9 tracked-tight-some comp-teal-l">Writings</h1>

  <p class="muted f7-ns f6">
    Psst! There's more stuff at my
    <a href="{{meta.tumblr}}">personal blog</a> too!
  </p>

  <ol class="list">
    {% for post in posts %}

      <li>
        <article role="article" class="{% if post.data.link %}linked{% endif %}">
          <header>
            <p class="post__meta">
              <time datetime="{{ post.date | toISODate }}" pubdate>{{ post.date | niceDate }}</time>
              {% if post.data.link %}
                /
                <a class="meta__permalink" href="{{ post.url }}">Permalink</a>
              {% else %}
                /
                <span class="meta__stats">{{ post | readingTime }}</span>
              {% endif %}

              {% if post.data.draft %}
                <strong class="comp-orange">Draft</strong>
              {% endif %}
            </p>

            {% if post.data.link %}
              <h1>
                <a title="{{ post.data.link }}" href="{{ post.data.link }}">
                  {{ post.data.title }} →</a>
              </h1>
            {% else %}
              <h1>
                <a href="{{ post.url }}">
                  {{ post.data.title }}
                </a>
              </h1>
            {% endif %}
          </header>

          <div class="post__excerpt post__body">
            <p>{{ post.data.excerpt }}</p>
          </div>
        </article>
      </li>

    {% endfor %}
  </ol>

  <footer class="page-nav">
    <p>
      {% if pagination.previousPageLink %}
        <a rel="prev" href="{{ pagination.previousPageLink }}">← Newer</a>
        <span class="separator">/ </span>
      {% endif %}

      <span class="separator">{{collections.allPosts.length }} posts</span>

      {% if pagination.nextPageLink %}
        <span class="separator"> /</span>
        <a rel="next" href="{{ pagination.nextPageLink }}">Older →</a>
      {% endif %}
    </p>

  </footer>

</main>
